.odblk-aboutodessa {
	padding: 25px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.15);

	h4 {
		font-size: 1.1rem;
	}

	p {
		margin: 0;
		font-size: 1.1rem;
		font-weight: 300;
	}
}

// Responsive
// =============================================================================

@media (min-width: $screenBreak-XXS) {
	
}

@media (min-width: $screenBreak-XS) {

}

@media (min-width: $screenBreak-SM) {
	.odblk-aboutodessa {
		padding: 40px 0;
	}
}

@media (min-width: $screenBreak-MD) {

}