<link rel="stylesheet preload" href="<?php echo base_url(); ?>assets/css/xass.css?v=2001"  />
<link rel="stylesheet preload" as="style" href="<?php echo base_url(); ?>assets/css/modular_styles.css" type="text/css" />
<style amp-custom>
	.xas-banner .home-hero-bg amp-img{position:absolute;right:0;bottom:0;height:auto}	
	.buildinnovation.xassconbox.autoconbox {
    max-width: 100%;
}
.xas-banner .home-hero-bgimg{
		height:100%;
	}

	.xas-banner {
    background: #0d2332;
}
.xas-banner {
    height: calc(100vh - 40px);
}
.xas-cont.auto-cont{
	width: 90%;
}
.xassconbox.buildinnovation.xassconbox.autoconbox .buildinnovationboxConrw .col-sm-4 {
    padding-left: 20px;
    padding-right: 20px;
}
.buildinnovation.xassconbox.autoconbox h3{
    font-size: 1.2rem;
}
.auto-wrap {
    width: 60%;
    margin: 0 auto;
    font-size: 17px;
}
.section1.sec2{
    display: flex;
    justify-content: center;	
}
.section1.sec3{
    display: flex;
	justify-content: flex-start;
    height: auto;

}
.adapt img{
	width: 50px;
	height: auto;
}
/* .improve_developer{
	margin:0 0 20px 0;
} */
.adapt .pgcor_intitle {
    max-width: 100%;
    text-align: center;
	margin-top: 30px;
}
.trusted_brands_logo .brlogo img.afsa{
	width: 150px;
}
.flex-box{
	display: flex;
    justify-content: space-between;
    margin: 30px 20px 0 0px;
}
.two-section{
	display: flex;
	justify-content: space-between;
	padding: 0px 0 40px;
}
.adapt{
	max-width: 85%;
    margin: 0 auto;

}
.reverse{
	flex-flow: row-reverse;
}
.section1{
	width: calc(70% - 10px);
    margin: 0 20px;
}
.section1 .pgcor_inwrap{
	max-width: 90%;
	margin-left: 0;
	min-height: auto;
}
.brlogo{
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 80px 0 0;
}
.adapt .brlogo{
	margin:0;
}
.section1.sec2 .pgcor_inwrap{
	margin:0;
}
.sec2{
	width: calc(30% - 10px);
    margin: 0 20px;
}
.adapt .improve_developer{
	margin: 0 0 20px 0;
}
.capabilities1 p{
	font-family: MaisonNeue-Book;
	color: #555b6d;
    margin:0;
    padding: 10px 20px;
    font-size: 15px;
	margin:0 0 20px 0;
	font-weight: 700;
	border-bottom: 3px solid #00abc7;
    box-shadow: 0 -2px 15px 4px rgba(32,33,36,.1);
}
.capabilities-box h2{
	margin: 0 0 50px;
}
.capabilities-box{
	padding: 0 0 80px 0;
}
.capabilities-box .flex-box{
	margin: 30px auto 0 auto;
    max-width: 85%;
}
.capabilities1 ul{
    margin: 0 0 20px 10px;
    padding: 0 20px;
	font-size: 1.0625rem;
	color: #555b6d;
}
.capabilities1 ul li{
	list-style: none;
    position: relative;
	font-size: 15px;
    padding-left: 20px;
    flex: 0 0 100%;
    position: relative;
    margin-bottom: 0px;
    color: #555b6d;
}
.section1.sec3{
		
		width: calc(30% - 10px);
	}
.capabilities1 ul li:before {
	content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #0075a2;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 7px;
}
.buildinnovationboxConrw {
    padding: 60px 0;
}
	@media only screen and (max-width:1024px){.xas-banner .home-hero-bg amp-img{width:60%;height:30%}
	.flex-box,.two-section{
		flex-wrap: wrap;
	}
	.wtcol{
		font-size:20px;
	}
	.auto-wrap {
    width: 80%;
    margin: 0 auto;
   
}
	.section1.sec3 {
    width: 100%;
}
	
	.log{
		flex-flow: column-reverse;
	}
	.log .brlogo{
		margin:0;
	}
	
	.section1.sec3,.section1.sec2{
		justify-content: center;
		height: auto;
	}
	.two-section.reverse,.two-section{
		flex-flow: column-reverse;
	}
	.pgcor_intext{
		text-align: center;
	}
	.section1 {
    width: 100%;
	margin: 20px 0px;
}
.capabilities-box h2{
	font-size: 2em;
}
.improve_developer {
    margin: 0 0 0 0;
}
.section1.sec2 .pgcor_inwrap{
	max-width: 100%;
}
.buildinnovationboxConrw {
    padding: 0px 0;
}
.two-section{
    padding: 0 0 60px 0;}
.pgcor_intitle{
	font-size: 2em;
}
.trusted_brands_logo .brlogo img {
    max-width: 90%;
}
}
	@media only screen and (min-width:768px){.xas-banner .home-hero-bg amp-img{height:80%}
	
	
	}@media only screen and (min-width:1280px){.xas-banner .home-hero-bg amp-img{width:100%;height:50%}}@media only screen and (min-width:540px){.xas-banner .home-hero-bg amp-img{width:70%;height:50%}}@media only screen and (min-width:820px){.xas-banner .home-hero-bg amp-img{width:60%;height:80%}}@media only screen and (min-width:1024px){.xas-banner .home-hero-bg amp-img{width:100%;height:100%}}@media only screen and (max-width:1920px) and (min-width:1290px){.xas-banner .home-hero-bg amp-img{width:100%;height:100%}}
</style>

<div id="wrapper">
	<!-- <div class="container"> -->
	<!-- xass banner -->
	<div class="home-hero xas-banner">
		<div class="home-hero-bg">
			<div class="home-hero-bgimg">   
				<img src="https://dev.odessainc.com/assets/images/auto-banner-svg.svg" alt="" class="lazyload" >
			</div>
		</div>
		<div class="home-hero-content xas-content">
			<div class="home-hero-cinner">
				<div class="home-hero-cwrap">
					<div class="home-hero-ctitlewrap">
						<h1 class="home-hero-ctitle">Driving the Future of<br>Automotive Finance<br>Software</h1>
					</div>
					<p class="home-hero-cdesc">Asset-based and API-first, Odessa is taking a 
						<span>modern approach to auto finance originations.</span> 
						Deliver exceptional digital experiences and drive sustainable business growth with Odessa’s industry-proven auto leasing software.  </p>
				</div> 
			</div>
		</div>
	</div>
	
		<!-- xass banner ends -->
		<!--Build Page Start Here-->
		<div class="buildpgwrap"> 
			<!--Scale Fector Section Start Here-->
			<div class="buildpgscalefector xasspadding">
				<!-- <div class="xasstabsbackgbox"></div> -->
			</div>
			<!--Scale Fector Section Start Here-->
			<div class="container xas-cont auto-cont"> 
				<div class="plateformspeedbox xassbox">
					<div class="btmlinegrey"></div>
				</div>
				<!--Platform Speed Section End Here--> 
				<!--Build Innovation Start Here-->
				<div class="buildinnovation xassconbox autoconbox">
					<!-- <h2 class="text-center">Stay agile, pursue <span>new growth strategies</span></h2> -->
					<div class="buildinnovationboxConrw auto-box">
						<div class="row clearfix">
							<div class="col-sm-4">
								<div class="buildinnovationConbx">
									<div class="inoiconrw">
									<div class="innoicon recoding" style="background: url(assets/images/business_icn_6.svg);"></div>
									<h3 class="mb-1">Speed to Market</h3>
									</div>
									<div class="xass_nor_text">Serve your customers better and gain a competitive edge. Odessa’s auto leasing software allows you to adapt to changes in programs or business models and bring new offerings to market through self-service configuration tools.</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="buildinnovationConbx">
									<div class="inoiconrw">
									<div class="innoicon improve_developer" style="background: url(assets/images/platform/datamart-flatten.svg);"></div>
									<h3 class="mb-1">Platform Consolidation</h3>
									</div>
									<div class="xass_nor_text">Simplify operations and drive business growth. Odessa’s modern, cloud-based auto lending software unshackles your business from the restraints and risks of running on outdated software. </div>
								</div>
							</div>
						
							<div class="col-sm-4">
								<div class="buildinnovationConbx">
									<div class="inoiconrw">
									<div class="innoicon legacy" style="background: url(assets/images/platformicon/CustomerPortalic.svg); width:40px;"></div>
									<h3 class="mb-1">Improved Dealer Relationships</h3>
									</div>
									<div class="xass_nor_text">Manage stakeholder expectations and build stronger business ecosystems. Odessa’s auto loan software automates workflow and removes data siloes. Combined with powerful analytics – this allows you to make faster decisions and funding to dealers. </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Build Innovation End Here--> 
				<!--Development Opps Section Start Here-->
				<div class="capabilities-box">
					<h2 class="text-center">Unlock Endless Capabilities with Odessa <br> Auto Finance Software</h2>
					<div class="flex-box">
						<div class="cap-box">
						<div class="capabilities1">
							<p>Product, Pricing, and Dealer Management</p>
							<ul>
								<li>Products:  Retail, Lease, Subscription, Usage-based, Fleet.</li>
								<li>Channels:  Direct, Indirect, Portal.</li>
								<li>Rate cards, Pricing, and Residuals.</li>
								<li>Define and manage dealers.</li>
							</ul>
						</div>
						<div class="capabilities1">
							<p>Application Entry</p>
							<ul>
								<li>Open API framework.</li>
								<li>Model and value data integrations.</li>
								<li>Star standard compatibility.</li>
								<li>Multiple asset support.</li>
							</ul>
						</div>
						<div class="capabilities1">
							<p>Analysis and Credit Decision</p>
							<ul>
								<li>Internal scorecard or integration to external providers.</li>
								<li>Fraud checks and investigation.</li>
								<li>Automated and manual credit review.</li>
								<div>&nbsp;</div>
							</ul>
						</div>
					</div>
					<div class="cap-box">
						<div class="capabilities1">
							<p>Contract Preparation and Review</p>
							<ul>
								<li>eContract integration.</li>
								<li>Create, distribute, and e-sign documents.</li>
								<li>Credit, tax, and compliance policy rule checks.</li>
								<div>&nbsp;</div>
							</ul>
						</div>
						<div class="capabilities1">
							<p>Document Review</p>
							<ul>
								<li>Document checklists.</li>
								<li>Stipulation and conditions review.</li>
								<li>Held offering and contract return processing.</li>
								<div>&nbsp;</div>
							</ul>
						</div>
						<div class="capabilities1">
							<p>Contract Booking</p>
							<ul>
								<li>Pricing and rate verification.</li>
								<li>Calculate dealer disbursement and compensation.</li>
								<li>Servicing system input file.</li>
								<div>&nbsp;</div>
							</ul>
						</div>
					</div>
					</div>
				</div>
				
				
					<section class="two-section reverse adapt">
						<div class="section1">
							<div class="brlogo">
								<p class="pgcor_intext"> Discover how the right auto finance software can transform your operations, increase efficiency, and enhance adaptability amidst evolving customer trends. Leverage our native asset-based and flexible product components to capitalize on emerging trends in auto finance, such as subscriptions or usage-based models. Odessa's auto lending software establishes a dynamic and scalable technology infrastructure, empowering you to swiftly adapt to shifting market dynamics and evolving business demands. </p>
							</div>
						</div>
						<div class="section1 sec3">
							<div class="pgcor_inwrap text-center">
								<div class="innoicon improve_developer">
									<img src="<?php echo base_url(); ?>assets/images/data-residency.svg" alt="canon Logo" width="87" height="19" >
								</div>
								<h4 class="pgplat_ftgstitle text-center">Adapt to Industry Change</h4>
								<!-- <a class="pgcor_inaction odc__btn--more odc__btn--xl" href="http://localhost:8000/platform/developer-tools">More About Odessa APIs</a> -->
							</div>
						</div>
					</section>
					<section class="two-section adapt" style="padding: 0px 0 40px;">
						<div class="section1">
							<div class="brlogo">
								<p class="pgcor_intext">Automate cross-platform workflows by connecting Odessa to your critical business tools, including your CRM and various third-party solutions for pricing, decisioning, and more. Odessa’s auto finance solutions are designed around an API-based architecture that allows you to take a “best-in-breed” approach to your application landscape by integrating components of the platform with other popular solutions in the market.</p>
							</div>
						</div>
						<div class="section1 sec2">
							<div class="pgcor_inwrap text-center">
								<div class="innoicon improve_developer">
									<img src="<?php echo base_url(); ?>assets/images/business_icn_5.svg" alt="canon Logo" width="87" height="19" >
								</div>
								<h4 class="pgplat_ftgstitle text-center">Integrate with the <br>Tools You Already Use</h4>
								<!-- <a class="pgcor_inaction odc__btn--more odc__btn--xl" href="http://localhost:8000/platform/developer-tools">More About Odessa APIs</a> -->
							</div>
						</div>
					</section>
					<section class="two-section reverse adapt">
						<div class="section1">
							<div class="brlogo">
								<p class="pgcor_intext">Embrace a cutting-edge auto finance solution designed to meet global standards and act as a unified, end-to-end platform for all your business requirements. Elevate your digital transformation with intelligent automation, data insights, integrations, and self-service portals. Stay ahead of the game with agile DevOps, SaaS, and service-oriented models. Achieve excellence in customer service and operational efficiency and gain a competitive edge. </p>
							</div>
						</div>
						<div class="section1 sec3">
							<div class="pgcor_inwrap text-center">
								<div class="innoicon improve_developer">
									<img src="<?php echo base_url(); ?>assets/images/platformicon/Buidic.svg" alt="canon Logo" width="87" height="19" >
								</div>
								<h4 class="pgplat_ftgstitle text-center">Build for Today and Tomorrow </h4>
								<!-- <a class="pgcor_inaction odc__btn--more odc__btn--xl" href="http://localhost:8000/platform/developer-tools">More About Odessa APIs</a> -->
							</div>
						</div>
					</section>
					<section class="two-section adapt" style="padding: 0px 0 100px;">
						<div class="section1">
							<div class="brlogo">
								<p class="pgcor_intext">Odessa is a strong supporter of many industry associations and events dedicated to auto finance. We’re leading the charge to revolutionize the automotive finance market with a modern, cloud-based auto finance software designed for your unique business needs. Join the leading global auto finance businesses that choose Odessa’s auto loan software to simply, scale, and succeed. </p>
							</div>
						</div>
						<div class="section1 sec2">
							<div class="pgcor_inwrap text-center">
								<div class="innoicon improve_developer">
									<img src="<?php echo base_url(); ?>assets/images/partner.png" alt="canon Logo" width="87" height="19" >
								</div>
								<h4 class="pgplat_ftgstitle text-center">Partner with the Leaders in Auto Leasing Software</h4>
								<!-- <a class="pgcor_inaction odc__btn--more odc__btn--xl" href="http://localhost:8000/platform/developer-tools">More About Odessa APIs</a> -->
							</div>
						</div>
					</section>
			
				
			</div>
			<div class="pgcor_dprin">
				<div class="odc-gd__container">
					<div class="odc-gd__row">
						<div class="odc-gd__col-xxs-12">
							<div class="pgcor_dpcontent">
								<!-- <h2 class="pgcor_dpctitle">Our design principles</h2> -->
								<h2 class="text-center wtcol">Together, we can shape the future of <br>Automotive Finance Software!</h2>
								<a href="<?php echo base_url(); ?>lets-talk" class="pgcor__baction odc__btn odc__btn--primary odc__btn--md">Let's Talk</a>

							</div>
						</div>
					</div>
				</div>
			</div>
					
					<div class="testimonialswrap">
						<h2 class="text-center">Partner with a Leader</h2>
						<p class="text-center auto-wrap">Odessa is a strong supporter of many industry associations and events dedicated to auto finance. We’re leading the charge to revolutionize the automotive finance market with a modern, cloud-based solution for your unique business needs.</p>
						<div class="trusted_brands_logo">
							<div class="brlogo">
								<img src="<?php echo base_url(); ?>assets/images/auto-finance.png" alt="canon Logo" width="87" height="19" >
							</div>
							<div class="brlogo">
								<img src="<?php echo base_url(); ?>assets/images/afsa.png" alt="leaf Logo" width="150px" height="24" class="afsa">
							</div>
						</div>
					</div>
				
			</div>

		<!--Build Page End Here--> 
	<!-- </div> -->
	</div>
	<!-- <script async src="https://cdn.ampproject.org/v0.js"></script>
	<script src="https://www.odessainc.com/assets/js/owl.carousel.js"></script> 
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
	<script async custom-element="amp-script" src="https://cdn.ampproject.org/v0/amp-script-0.1.js"></script> -->
	<script type="application/ld+json"> 
		{ 
		  "@context": "https://schema.org/",  
		  "@type": "Product",  
		  "name": "Automotive Software Finance", 
		  "image": "", 
		  "description": "Discover Odessa Cutting-Edge Auto Lending and Leasing Software. Elevate Your Vehicle Leasing Experience with Our Car Leasing Software and Automotive Finance Solutions.", 
		  "brand": { 
			"@type": "Product", 
			"name": "Odessa" 
		  } 
		} 
		
		</script> 