<div id="wrapper">
    <!-- Cloud Section Start Here -->
    <div class="cloud_scrtion_wrap">
        <!-- Banner Section Start Here -->
        <div class="header_banner">
            <div class="cloud_1">
              <amp-img src="<?php echo base_url(); ?>assets/images/left_top.svg" alt="Odessa-cloud" width="1"
                height="1"  layout="responsive"></amp-img>
            </div>
            <div class="cloud_5">
               <amp-img src="<?php echo base_url(); ?>assets/images/clouds-rt_mid.svg" alt="Odessa-cloud"  width="1"
                height="1" layout="responsive" ></amp-img>
            </div>
            <div class="header_contant_wrap">
             <div class="container clearfix">
                <div class="header_contant">
                    <h1 class="text-center wtcol">Scale confidently in <span>the Cloud</span></h1>
                    <p class="text-center wtcol">Meet the growing needs of your organization with the Odessa Platform in<br> the Cloud and deliver enhanced capabilities across security,<br> governance, data privacy, and administration. </p>
                </div>
              </div>
            </div>
        </div>
        <!-- Banner Section End Here -->
        <!-- Business Section End Here -->
        <div class="need_busyness_wrap">
          <div class="container clearfix">
            <h2 class="text-center">Designed to meet the <span>needs of your business</span></h2>
            <p class="text-center"> With a cloud-first design, Odessa’s SaaS offering meets even the  <br>most complex business needs. Focus on innovating your asset<br> finance business and leave the technology to us.</p>
            </div>
        </div>
        <div class="business_card_warp">
          <div class="container clearfix">
            <div class="row clearfix">
                <div class="col-md-4 col-sm-6">
                    <div class="business_card">
                        <div class="business_icon">
                            <amp-img src="<?php echo base_url(); ?>assets/images/business_icn_1.svg"  alt="Odessa Scalability" width="1" height="1" layout="responsive" >
                            </amp-img>
                            <!-- <img src="<?php echo base_url(); ?>assets/images/business_icn_1.svg"  alt="Odessa Scalability" /> -->
                        </div>
                        <h4>Scalability</h4>
                        <p>Scale confidently with technology that accommodates your business growth and minimizes friction for your teams.</p>
                    </div>
                </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="business_card">
                        <div class="business_icon">
                            <amp-img src="<?php echo base_url(); ?>assets/images/business_icn_2.svg" alt="Odessa Compliance" width="1" height="1"  layout="responsive" ></amp-img>
                            <!-- <img src="<?php echo base_url(); ?>assets/images/business_icn_2.svg" alt="Odessa Compliance"/> -->
                        </div>
                        <h4>Compliance</h4>
                        <p>Protect your data with controls to enforce SAML or SSO and robust compliance programs in place that provide business confidence.</p>
                    </div>
                </div>
               <div class="col-md-4 col-sm-6">
                    <div class="business_card">
                        <div class="business_icon">
                            <amp-img src="<?php echo base_url(); ?>assets/images/business_icn_3.svg" alt="Single Tenant Hosting" width="1" height="1"  layout="responsive" ></amp-img>
                            <!-- <img src="<?php echo base_url(); ?>assets/images/business_icn_3.svg" alt="Single Tenant Hosting"/> -->
                        </div>
                        <h4>Single Tenant Hosting</h4>
                        <p>Host applications in a dedicated environment, retaining control of release tracks and how you engage Odessa.</p>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="business_card">
                        <div class="business_icon">
                            <amp-img src="<?php echo base_url(); ?>assets/images/business_icn_4.svg" alt="Odessa sandbox" width="1" height="1"  layout="responsive" ></amp-img>
                            <!-- <img src="<?php echo base_url(); ?>assets/images/business_icn_4.svg" alt="Odessa sandbox"/> -->
                        </div>
                        <h4>Sandbox</h4>
                        <p>Run isolated environments for developers and business users to test and preview new features without impacting production.</p>
                    </div>
                </div>
               <div class="col-md-4 col-sm-6">
                    <div class="business_card">
                        <div class="business_icon">
                            <amp-img src="<?php echo base_url(); ?>assets/images/data-residency.svg" alt="Data Residency" width="1" height="1"  layout="responsive"></amp-img>
                            <!-- <img src="<?php echo base_url(); ?>assets/images/data-residency.svg" alt="Data Residency"/> -->
                        </div>
                        <h4>Data Residency</h4>
                        <p>Decide where your data is hosted across Microsoft Azure’s global data regions to better meet your business needs.</p>
                    </div>
                </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="business_card">
                        <div class="business_icon">
                            <amp-img src="<?php echo base_url(); ?>assets/images/business_icn_6.svg" alt="Odessa Resiliency" width="1" height="1"  layout="responsive" ></amp-img>
                            <!-- <img src="<?php echo base_url(); ?>assets/images/business_icn_6.svg" alt="Odessa Resiliency"/> -->
                        </div>
                        <h4>Resiliency</h4>
                        <p>Our solutions are working whenever you are with high availability and disaster recovery, during your 9-5 or month-end crunch.</p>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="business_card">
                        <div class="business_icon">
                            <amp-img src="<?php echo base_url(); ?>assets/images/business_icn_7.svg" alt="Odessa Dedicated Support" width="1" height="1"  layout="responsive" ></amp-img>
                            <!-- <img src="<?php echo base_url(); ?>assets/images/business_icn_7.svg" alt="Odessa Dedicated Support"/> -->
                        </div>
                        <h4>Dedicated Support</h4>
                        <p>High priority Cloud Ops support is available for critical issues from a team that knows your business.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="business_card">
                        <div class="business_icon">
                            <amp-img src="<?php echo base_url(); ?>assets/images/business_icn_5.svg" alt="DevOps Enablement" width="1" height="1"  layout="responsive" ></amp-img>
                            <!-- <img src="<?php echo base_url(); ?>assets/images/business_icn_5.svg" alt="DevOps Enablement" /> -->
                        </div>
                        <h4>DevOps Enablement</h4>
                        <p>Leverage a hybrid DevOps model with Odessa Build and Test, enabling you to rapidly deploy features and functionality to the cloud.</p>
                    </div>
                </div>
                </div>
             </div>
            
             <div class="business_image">
                <amp-img src="<?php echo base_url(); ?>assets/images/cloud_amp/menu_iamges.png" alt="Odessa cloud paltform" width="1"
                    height="1"  layout="intrinsic" ></amp-img>
                <!-- <img src="<?php echo base_url(); ?>assets/images/menu_iamges.png" alt="Odessa cloud paltform" /> -->
            </div>
        </div>
        <!-- Business Section End Here -->
        <!-- Cloud Ops Section Start Here -->
        <div class="cloud_up_wrap">
            <div class="readblogrw"><a href="#">Read the latest blog on Cloud Ops >></a></div>
        </div>
        <!-- Cloud Ops Section End Here -->
        <!-- Enterprise security Section Start Here -->
        <div class="enterprise_wrap">
        <div class="container clearfix">
            <div class="clearfix">
                 <div class="col-md-6 col-sm-6 mobpadnone">
                    <div class="enterprise_contant_wrap">
                        <h2>Enterprise security <span>you can trust</span></h2>
                        <p>We certify with industry-accepted standards so you can verify that your company and customer data remain secure and compliant. Through Odessa’s deep partnership with Microsoft, you can also leverage the power of the global technology leader.</p>
                    </div>
                </div>
               <div class="col-md-6 col-sm-6 mobpadnone">
                    <div class="certify_wrapper clearfix">
                        <div class="certify_wrap">
                            <div class="certify_coin">
                                <amp-img src="<?php echo base_url(); ?>assets/images/cloud_amp/certified.png" alt="ISO certificate"width="1" height="1"  layout="responsive" ></amp-img>
                            </div>
                            <p>ISO 27001</p>
                        </div>
                        <div class="certify_wrap">
                            <div class="certify_coin">
                                <amp-img src="<?php echo base_url(); ?>assets/images/cloud_amp/certified_1.png" alt="SOC Certificate" width="1" height="1"  layout="responsive"></amp-img>
                            </div>
                            <p>SOC</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Enterprise security Section End Here -->
       <!--Get The Latest Start Here-->
       <div class="getthelatestwrap">
            <div class="container">
                <h2 class="text-center">Get the latest</h2>
                <p class="text-center">Learn why companies trust Odessa to help deliver great<br> stakeholder experiences.</p>
                <div class="latestboxwrap">
                    <div class="latestboxCon">
                        <div class="equalHMWrap eqWrap clearfix">
                        <div class="col-sm-6 npadrw">
                        <div class="getmainconbx">
                            
                        <div class="getconbx" style="background:url('https://odessainc.com/blog/wp-content/uploads/2020/07/Odessa-Cloud-CLFP-resource.svg') no-repeat;">
                        </div>
                        <span class="dots"></span>
                        </div>
                        <div class="getcontext"><a href="<?php echo base_url(); ?>blog/clfp-equipment-leasing-certification-partnership">Odessa and CLFP Foundation Collaborate to Drive Innovation in Certification Program</a></div>
                    </div>
                    <div class="col-sm-6 npadrw">
                        <div class="getmainconbx">
                        <div class="getconbx bluebg" style="background:url('https://odessainc.com/blog/wp-content/uploads/2020/07/Odessa-Reimagined-Technology-resource-01.svg') no-repeat;">
                        </div>
                        <span class="dots"></span>
                        </div>
                        <div class="getcontext"><a href="<?php echo base_url(); ?>blog/reimagined-technology-role-during-covid">The Reimagined Role of Technology in the Time of COVID</a></div>
                    </div>
                </div>
                    </div>
                    <div class="lernmorerw">
                        <a  class="odc__btn--more odc__btn--xl" href="<?php echo base_url(); ?>newsroom">More Resources</a> 
                      </div>
                </div>
            </div>
        </div>
     <!--Get The Latest End Here-->
     
        <!-- Advertisement Section Start Here -->
        <div class="advertisement_wrap">
        <div class="container clearfix">
        <div class="trusted_brands_logo clouds">
            <div class="brlogo">
                <amp-img src="<?php echo base_url(); ?>assets/images/cloud_amp/metabank-logo.png" alt="metabank Logo" width="115" height="21" layout="intrinsic"></amp-img>
                <!-- <img src="<?php echo base_url(); ?>assets/images/metabank-logo.png" alt="metabank Logo" /> -->
            </div>
            <div class="brlogo">
                <amp-img src="<?php echo base_url(); ?>assets/images/cloud_amp/jnj-logo.png" alt="Jhonson and jhonson logo" width="144"
                    height="26"  layout="intrinsic"></amp-img>
                <!-- <img src="<?php echo base_url(); ?>assets/images/jnj-logo.png" alt="Jhonson and jhonson logo" /> -->
            </div>
            <div class="brlogo">
                <amp-img src="<?php echo base_url(); ?>assets/images/cloud_amp/merchants-logo.png" alt="Merchants Logo" width="108"
                    height="47"  layout="intrinsic"></amp-img>
                <!-- <img src="<?php echo base_url(); ?>assets/images/merchants-logo.png" alt="Merchants Logo" /> -->
            </div>
            <div class="brlogo">
                <amp-img src="<?php echo base_url(); ?>assets/images/cloud_amp/commerzbank-logo.png" alt="Commerzbank Logo" width="150"
                    height="20"  layout="intrinsic"></amp-img>
                <!-- <img src="<?php echo base_url(); ?>assets/images/commerzbank-logo.png" alt="Commerzbank Logo" /> -->
            </div>
            <div class="brlogo">
                <amp-img src="<?php echo base_url(); ?>assets/images/cloud_amp/global_jet.png" alt="Global Jet Logo" width="94"
                    height="29"  layout="intrinsic"></amp-img>
                <!-- <img src="<?php echo base_url(); ?>assets/images/global_jet.png" alt="Global Jet Logo" /> -->
            </div>
        </div>
        </div>
        </div>
        <!-- Advertisement Section End Here -->
    </div>
    <!-- Cloud Section End Here -->
</div>
<link href="<?php echo base_url(); ?>assets/css/cloud.css" rel='stylesheet' /> 
<script type="application/ld+json">
{
"@context": "https://schema.org/",
"@type": "Product",
"name": "Odessa Cloud",
"image":"https://www.odessainc.com/assets/images/cloud_amp/menu_iamges.png",
"description": "Meet the growing needs of your organization with the Odessa Platform in the Cloud and deliver enhanced capabilities across security, governance, data privacy, and administration.",
"brand": "Odessainc",
"review": {
"@type": "Review",
"reviewBody":"In the end what really made the decision for us was that Odessa had a very good, established base of customers.",
"author": {"@type": "Person", "name": "Chris Schmidt - CIO, CSI Leasing"}
}
}
</script>
