<style amp-custom>
	section.focused .count_number .count_numdiv amp-img {
		height: 60px;
		min-height: 60px;
	}
	@media only screen and (max-width: 991px){
		section.focused .count_number .count_numdiv amp-img {
			height: 40px;
			min-height: 40px;
		}
	}
	section.video_section .videoplaybtn img{
		margin-bottom: auto !important;
	}
</style>
<!--Company Video Play start here-->
<div id="companyvideoplay" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close closebox" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="companypg"></div>
			</div>
		</div>
	</div>
</div>
<!--Company Video Play End here-->
<div id="wrapper">
	<div class="">
	<section class="video_section">
		<div class="videosectiondiv">
			<div class="videoplaybtn" data-toggle="modal" data-target="#companyvideoplay"> <amp-img src="<?= base_url(); ?>assets/images/companyimage/videoplay.svg"/ alt="play icon" width="1" height="1" layout="responsive"/><span>WATCH THE VIDEO</span> </div>
		</div>
		<video autoplay muted loop id="compvideo" class="video">
			<source src="<?= base_url() ?>assets/images/odessa-hq-company.mp4" type="video/mp4">
		</video>
	</section>
	<!--Different Start Here-->
	<section class="different">
		<div class="container">
			<div class="custom_containerwidth">
				<div class="different_inner">
					<div class="different_Img"> <amp-img src="<?= base_url(); ?>assets/images/MadhuNatarajan_JayMehra_Odessa.webp" alt="JayMehra and Madhu Natarajan" width="1" height="0.7" layout="responsive"></amp-img>
						<p class="membername jay"> Jay Mehra <span>Executive Vice Chairman</span> </p>
						<p class="membername madhu"> Madhu Natarajan <span>Executive Chairman</span> </p>
					</div>
					<div class="differnt_info">
						<h1>We’re different <br>
							by design</h1>
						<p>Odessa was founded with a mission to create and<br>
							deliver transformative software solutions for leasing<br>
							companies. We have a long history of reimagining <br>
							our technology stack in anticipation of the future. </p>
						<p>Today, we remain committed to helping businesses<br>
							meet the challenges of an ever-evolving leasing <br>
							environment
							with the most advanced technology <br>
							available. See why our platform is a game-changer <br>
							for the asset finance
							industry.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Different End Here--> 
	<!--Focused Start Here -->
	<section class="focused">
		<div class="container">
			<div class="custom_containerwidth">
				<div class="row focusedinner">
					<div class="col-sm-6 col-xs-12">
						<div class="count_number">
							<div class="count_numdiv"> <amp-img src="<?= base_url(); ?>assets/images/companyimage/1250-odessa-company.svg" alt="Thousand two fifty Odessa employee around the globe" width="1" height="1" layout="responsive"></amp-img> </div>
							<p> Odessans deployed globally <br>
								across 6 countries</p>
						</div>
						<div class="count_number">
							<div class="count_numdiv extra-padding">  <amp-img src="<?= base_url(); ?>assets/images/companyimage/150-odessa-company.svg" alt="One fifty USD billion net earning assets
								managed on our platform" width="1" height="1" layout="responsive"></amp-img> </div>
							<p>USD billion net earning assets <br>
								managed on our platform</p>
						</div>
						<div class="count_number">
							<div class="count_numdiv extra-padding"> <amp-img src="<?= base_url(); ?>assets/images/companyimage/42-odessa-company.svg" alt="forty two percent of our workforce is
								women" width="1" height="1" layout="responsive"></amp-img></div>
							<p>42% of our workforce is <br>
								women</p>
						</div>
						<div class="count_number">
							<div class="count_numdiv extra-padding">  <amp-img src="<?= base_url(); ?>assets/images/companyimage/24-odessa-company.svg" alt="Twenty four years building technology for asset finance" width="1" height="1" layout="responsive"></amp-img></div>
							<p>Years building technology for <br>
								asset finance</p>
						</div>
						<div class="count_number">
							<div class="count_numdiv extra-padding"> <amp-img src="<?= base_url(); ?>assets/images/companyimage/4-odessa-company.svg" alt="Four General commercial releases annually" width="1" height="1" layout="responsive"> </amp-img> </div>
							<p>General commercial<br>
								releases annually</p>
						</div>
						<div class="count_number">
							<div class="count_numdiv extra-padding"> <amp-img src="<?= base_url(); ?>assets/images/companyimage/1-odessa-company.svg" alt="One percent donated of all employee time and profit" width="1" height="1" layout="responsive"></amp-img></div>
							<p>1% donated of all employee<br>
								time and profit</p>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<div class="focused_txt">
							<h2 class="wtcol">Focused on the future <br>
								since 1998</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Focused End Here --> 
	<!--Tile Start Here -->
	<section class="tiles">
		<div class="custom_containerwidth">
			<div class="container">
				<div class="row clearfix flexdiv">
					<div class="col-sm-6 col-xs-12 thirtypad">
						<div class="tilescontent">
							<h3>Meet the team behind our teams</h3>
							<p>People are at the heart of Odessa’s mission.<br>
								Meet the unique innovators leading the way.</p>
							<a href="<?= base_url(); ?>careers" class="odc__btn--more odc__btn--xl">Our global teams</a> </div>
					</div>
					<div class="col-sm-6 col-xs-12 thirtypad">
						<div class="tilescontent">
							<h3>News and Press</h3>
							<p>All the latest and greatest Odessa news:<br>
								articles, awards, and releases.</p>
							<a href="<?= base_url() ?>newsroom" class="odc__btn--more odc__btn--xl">Learn More</a> </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Tile End Here --> 
	<!--Life At Odessa Start Here-->
	<section class="lifeatodessa">
		<div class="container">
			<div class="custom_containerwidth">
				<div class="lifeatodessainner text-center">
					<h2 class="wtcol">Life at Odessa</h2>
					<p class="wtcol">Reach your potential by helping us reach ours. At Odessa, we strive to <br>
						provide the next generation of
						cutting-edge technologies for the<br>
						leasing industry.</p>
					<a href="<?= base_url(); ?>careers" class="odc__btn odc__btn--primary odc__btn--xl">Join us</a> </div>
			</div>
		</div>
	</section>
	<!--Life At Odessa End Here--> 
	<!--Resource Start Here-->
	<section class="resources">
		<div class="container">
			<div class="custom_containerwidth">
				<div class="resourcesinner">
					<div class="row flexdiv">
						<div class="col-sm-7 col-xs-12">
							<div class="quotes_img"><amp-img src="<?= base_url(); ?>assets/images/companyimage/quotes.svg" alt="quotes" width="1" height="1" layout="responsive"></amp-img></div>
							<p>I feel valued and empowered to do my best work at Odessa. <br>
								From professional development programs to the Odessa Foundation, there is opportunity to positively impact our local communities and ourselves.</p>
							<p class="memberinfo"> Sharon McGarvey <span>Business Development Associate</span> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Resource End Here--> 
	<!--Get The Latest Start Here-->
	<div class="getthelatestwrap">
		<div class="container">
			<h2 class="text-center">Get the latest</h2>
			<p class="text-center">Learn why companies trust Odessa to help deliver great<br>
				stakeholder experiences.</p>
			<div class="latestboxwrap">
				<div class="latestboxCon">
					<div class="equalHMWrap eqWrap clearfix">
						<div class="col-sm-6 npadrw">
							<div class="getmainconbx">
								<div class="getconbx" > </div>
								<span class="dots"></span> </div>
								
							<div class="getcontext"><a href="<?= base_url();?>blog/<?= $result['0']['post_name'] ?>">
								<?= $result['0']['post_title'] ?>
								</a></div>
						</div>
						<div class="col-sm-6 npadrw">
							<div class="getmainconbx">
								<div class="getconbx bluebg" > </div>
								<span class="dots"></span></div>
							<div class="getcontext"><a href="<?= base_url();?>blog/<?= $result['1']['post_name'] ?>">
								<?= $result['1']['post_title'] ?></a></div>
						</div>
					</div>
				</div>
				<div class="lernmorerw"> <a class="odc__btn--more odc__btn--xl" href="<?= base_url(); ?>newsroom">More Resources</a> </div>
			</div>
		</div>
	</div>
	<!--Get The Latest End Here--> 
	<!-- Advertisement Section Start Here -->
	<div class="barnds_logowr">
		<div class="container clearfix">
			<div class="custom_containerwidth">
				<div class="brands_logo">
					<div class="brlogo"> <amp-img src="<?= base_url(); ?>assets/images/company/company-leaseurope.svg" width="120" height="120" layout="intrinsic" alt=""> </div>
					<div class="brlogo"> <amp-img src="<?= base_url(); ?>assets/images/company/company-elfa.svg"  width="120" height="120" layout="intrinsic" alt=""> </div>
					<div class="brlogo"> <amp-img src="<?= base_url(); ?>assets/images/company/company-clfa.svg"  width="120" height="120" layout="intrinsic" alt=""> </div>
					<div class="brlogo"> <amp-img src="<?= base_url(); ?>assets/images/company/company-cafba.svg"  width="120" height="50" layout="intrinsic" alt=""> </div>
					<div class="brlogo"> <amp-img src="<?= base_url(); ?>assets/images/company/company-elff-foundation.svg"  width="120" height="120" layout="intrinsic" alt=""> </div>
					<div class="brlogo"> <amp-img src="<?= base_url(); ?>assets/images/company/company-gpcc.svg"  width="120" height="120" layout="intrinsic" alt=""> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- Advertisement Section End Here --> 
</div>
</div>
<script>
	$(function(){
		$('#companyvideoplay').on('show.bs.modal', function () {
			$('#companyvideoplay .modal-body .companypg').html('<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_d8h88wu7f0 videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div></div></div>');
		});

		$('#companyvideoplay').on('hidden.bs.modal', function () {
			$('#companyvideoplay .modal-body .companypg').empty();
		});
	})
</script>
<script src="https://fast.wistia.com/embed/medias/d8h88wu7f0.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>	