<style amp-custom>
	.erp_card_wrap .card_img_rte img,.card_img_lft img{
		min-height: auto;
		min-width: auto;
		height: auto;
	}
	.card_img_lft .i-amphtml-layout-size-defined .i-amphtml-fill-content{
		position: relative;
		top: -179px;
    	left: -26px;
	}
	.card_img_rte .i-amphtml-layout-size-defined .i-amphtml-fill-content{
		top:initial
	}
	.top_arrow .i-amphtml-layout-size-defined .i-amphtml-fill-content{
		position: relative;
		height: auto;
		width: auto;
	}
	@media only screen and (max-width: 410px){
		.discover_banner .learn_more_btn a {
			min-width: 110px
		}
	}
</style>
<style>
	    .testimonial {
   position: relative;
   margin:  0 0;
     height: 100%;
     background-color: #085B7B;
 }
 #wistia_41.thumb_container{
    width: 100%;
 }
 .testimonial-content img{
    width:100%
 }
 .discover_contant .learn_more_btn {
    margin: 30px auto 0px;

 }
 .home-hero-bgimg {
     width: 40%;
     transform: translateX(150%) translateZ(0);
 }
 .home-hero-ctitle {
     line-height: 1;
     font-size: 3rem;
 }
 .home-hero-cdesc {
     font-size: 16px;
 }
 .home-hero-cwrap{
     padding-top: 120px;
 }
 .testimonial-content {
     padding-bottom: 20px;
     width: calc(50% - 152px);
     position: relative;
     /* width: 350px; */
     height: 450px;
     margin: 50px 0 50px 152px;
 }
 
 .play-btn {
   padding: 10px 20px;
   background-color: #3498db;
   color: #fff;
   border: none;
   cursor: pointer;
   min-width:auto;
 }
 .watch:hover{
     color:#fff;
 }
 .video-popup {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   z-index: 2000;
 }
 .video-popup .close{
     color: #fff;
     text-shadow: 0 1px 0 #fff;
     opacity: 0.8;
 }
 .video-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 80%;
 }
 
 .close-btn {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 24px;
   color: #fff;
   cursor: pointer;
 }
 
 
 
 
 
     .platformsectionwrap .dotsdesign img {
         width: 300px;
     }
     .overlay{
         position: fixed;
         width: 100%;
         background-color: #263746;
         width: 100%;
         height:100vh;
         z-index: 21474830001;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-flow: column;
         opacity: 0;
     }
     
     .d-flex{
         display: flex;
         justify-content: space-between;
     }
     .video {
    
     width: 220px;
     
 }
 .video-con{
     width: 50%;
     font-size: 42px;
     /* padding-right: 200px; */
     display: flex;
     flex-flow: column;
     justify-content: center;
     padding-left: 50px;
 
 }
 .video-con h2{
     font-size: 32px;
     color: #fff;
     font-family: MaisonNeue-Book;
     font-weight: 500;
     line-height: 1.3;
 }
 .video-con span{
     display: inline;
     color: #085B7B;
 }
 .videoWrapper {
   position: relative;
   width: 100%;
   height: 0;
   background-color: #000;
   overflow: hidden;
 }
 .video img{
     position: absolute;
     top: 70px;
     width: 220px;
     left: -5px;
 }
 
 .videoWrapper169 {
     padding-top: 56.25%;
     border-radius: 50%;
     width: 400px;
     height: 400px;
     margin-left: 243px;
     margin-top: 100px;
 }
 .watch{
     background: #FF495C;
     padding: 10px 20px;
     font-size: 14px;
     color: #fff;
     width: max-content;
     margin: 20px 0 0;
 }
 .videoPoster:after{
     background: none;
 }
 .videoPoster:after{
     display: none;
 }
 .videoIframe {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: transparent;
   overflow: hidden;
 }
 
 .videoWrapperActive .videoPoster {
   opacity: 0;
   height: 0;
   transition-delay: 0s, 0.8s;
 }
 
 .videoPoster {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
      width: 450px;
     height: 450px;
   margin: 0;
   padding: 0;
   cursor: pointer;
   border: 0;
   outline: none;
   background-position: 50% 50%;
   background-size: 100% 100%;
   background-size: cover;
   text-indent: -999em;
   overflow: hidden;
   opacity: 0.9;
   transition: opacity 0.8s ease, height 0s ease;
   transition-delay: 0s, 0s;
   background-size: cover;
     border-radius: 50%;
 
 }
 
 .videoPoster:after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 0;
   height: 0;
   margin: -25px 0 0 -14px;
   border-left: 40px solid rgba(255, 255, 255, 0.75);
   border-top: 25px solid transparent;
   border-bottom: 25px solid transparent;
   transition: all 0.3s ease;
   transform: scale(1);
   box-shadow: 0 0 5px 0 transparent;
 }
 
 .home-video-close {
   position: absolute;
   top: 0;
   right: 0;
   transform: translateY(-100%);
   display: block;
   line-height: 0;
   display: inline-block;
   padding: 20px 10px;
   font-size: 3em;
   font-weight: 700;
   color: white;
   cursor: pointer;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   transition: ease-in-out 0.15s all;
 }
 
 .video-con{
     font-size: 42px;
 }
 .home-video-close.is-hidden {
   display: block;
   transform: translateY(0);
 }
 
 #js-pointer-detector {
   display: none;
 }
     input, button{
         margin:0;
     }
     .overlay.one{
         opacity: 1;
     }
     .overlay img{
         margin: 50px auto 0px auto;
     }
     .login-container {
         background-color: white;
         padding: 20px;
         border-radius: 5px;
         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
         text-align: center;
         width: 40%;
         display: block;
         margin: 30px auto;      
         z-index: 9999999;
 }
 
 input, button {
     margin: 0 0;
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 3px;
     width: 100%;
 }
 
 button {
     background-color: #007bff;
     color: white;
     border: none;
     cursor: pointer;
 }
 .letstalkform .form-control.red{
     border: 2px solid #962424;  
 }
 #footer{
     position: relative;
     height: 24px;
     width: 100%;
     text-align: center;
     font-size: 0.75rem;
     color: #fff;
 }
 .testimonial{
     margin:3em 0 0;
 }
 @media only screen and (max-width:1300px){
     .home-hero-ctitle{
         font-size: 2rem;
     }
    .video-con{
     padding-right: 0;
    }
     .testimonial-content,.videoPoster{
         width: 300px;height: 300px;
     }
     #myPopup{
         height: 100%;
     width: 100%;
     }
 }
 @media only screen and (min-width:340px) and (max-width:1000px){
     .login-container{
         width:80%
     }
     .home-hero-bgimg {
     width: 100%;
     transform: translateX(0) translateZ(0);
 }
     .video {
     width: 100%;
 }
 .video img{
     width: 80px;
 }
 .d-flex{
     flex-wrap: wrap;
 }
 .testimonial-content{
     width: 100%;
     width: 200px;
     height: 200px;
     margin: 50px auto 0 auto;
 }
 .videoPoster{
     width: 200px;
     height: 200px;
 }
 .video-con{
     width: 100%;text-align: center;margin:30px auto;padding: 0;
 }
 .watch{
     margin: 20px auto 0 auto;
 }
 .video-container{
     width: 90%;
 }
 .video-con h2 {
     font-size: 25px;
 }
 .video-container iframe{
     width: 100%;
 }
 .testimonial{
     margin:6em 0 0;
 }
 }
 
 
 
 </style>
<script type="text/javascript">
$(document).ready(function() {
    $("#myPopup").get(0).pause();
  $('.play-btn').click(function() {
    $('.video-popup').fadeIn();
    $("#myPopup").get(0).play();
  });

  $('.close').click(function() {
    $('.video-popup').fadeOut();
    $('#myPopup').stop();
    $("#myPopup").get(0).pause();
  });
});
 
	String.prototype.escape = function() {
		var tagsToReplace = {
			'&': '&amp;',
			'<': '&lt;',
			'>': '&gt;'
		};
		return this.replace(/[&<>]/g, function(tag) {
			return tagsToReplace[tag] || tag;
		});
	};
	
	function url_redirect(options){
		var $form = $("<form />");
			
			$form.attr("action",options.url);
			$form.attr("method",options.method);
			
			for (var data in options.data)
			$form.append('<input type="hidden" name="email" value="'+options.data[data]+'" />');
			
			$("body").append($form);
			$form.submit(); 
	}
	
	function letstalkclick(emailId)
	{
	 
	var email = document.getElementById(emailId).value;
	var url="<?= base_url()?>get-started" ;
	
	url_redirect( {url: url,
		method: "post",
		data: {"email":email.escape() }
		});
	}
	
</script>
	
	
<div id="wrapper">
	<div class="">
			<!-- Design of Principle Screen  Start here -->
			<!-- Header section Start here -->
			<div class="page_banner">
				<div class="header_contant_wrap">
					<div class="header_contant">
					<h1 class="text-center wtcol">Our platform is <span>different by design</span></h2>
						<p class="text-center wtcol">Three core principles drive our innovation engine, creating the most<br> dynamic solutions for customers</p>
					</div>
				</div>
				<div class="tab_arrow_wrap">
					<amp-img src="<?php echo base_url(); ?>assets/images/tabs_arrow.png" alt="arrow" width="1"
						height="1" layout="intrinsic"></amp-img>
				</div>
			</div>
			<div class="open_design_wrap">
				<div class="container">
						<div class="row clearfix">
							<div class="col-md-4">
								<div class="design_icon">
									<amp-img src="<?php echo base_url(); ?>assets/images/principle_logo.svg" alt="Odessa-design-logo" width="1"
										height="1" layout="intrinsic"></amp-img>
								</div>
							</div>
							<div class="col-md-8">
								<div class="tab_data_wapper">
									<div class="designtabs owl-carousel owl-theme">
										<div class="items design_tabactive"><a data-toggle="tab" href="#tab_default_1">Design open</a></div>
										<div class="items"><a data-toggle="tab" href="#tab_default_2">Think user first</a></div>
										<div class="items"><a data-toggle="tab" href="#tab_default_3">Build for change</a></div>
									</div>
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab_default_1">
											<div class="tab_contant_data">
												<p>Our philosophy has always been one unified solution – no disparate front end and back end, no siloed data. Open, connected design provides for efficiency across business topology. Leverage a leading, non-proprietary technology stack that always ‘plays nice in the sandbox.'</p>
											</div>
										</div>
										<div class="tab-pane fade" id="tab_default_2">
										<div class="tab_contant_data">
											<p>The Odessa Platform offers intuitive, useful, information-rich experiences for the enterprise. By equipping you with a data-driven solution that enables business intelligence, you can broaden the stakeholder experience by thinking about all users: customers, partners, and employees.</p>
											</div>
										</div>
										<div class="tab-pane fade" id="tab_default_3">
										<div class="tab_contant_data">
											<p>At the core of the Odessa Platform is an intelligent ERP for asset finance, complimented by an extensibility suite that enables you to work at your own pace. We enable you to configure business logic and keep pace with the latest innovations in technology. Business agility and self-service – at scale.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					
				</div>
			</div>
			<!-- Header section End here -->

		<!-- ERP Section Start Here -->
		<div class="erp_section_wrap">
			<h2 class="text-center">Intelligent ERP for <span>asset finance</span></h2>
			<div class="container">
				<div class="top_arrow">
					<amp-img src="<?php echo base_url(); ?>assets/images/nav_arrow.png" alt="navigational arrow" width="1"
						height="1" layout="intrinsic"></amp-img>
				</div>
				<div class="row clearfix">
					<div class="col-md-4 col-sm-4">
						<div class="erp_card_wrap">
							<div class="erp_card">
								<h1 class="text-center">Full-stack Automation</h1>
								<p>Workflow, business logic, RPA and AI – all integrated in one platform.</p>
							</div>
							<div class="card_img_lft">
								<amp-img src="<?php echo base_url(); ?>assets/images/left_arrow.png" alt="left arrow icon" width="1"
									height="1" layout="intrinsic"></amp-img>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="erp_card_wrap">
							<div class="erp_card">
								<h1 class="text-center">Extensibility</h1>
								<p>Extend Odessa Core, build new applications, and accelerate time to market – easily.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="erp_card_wrap">
							<div class="erp_card">
								<h1 class="text-center">Omnichannel</h1>
								<p>Customer, Partner and Lessor portals deliver unified CX to all stakeholders – at work, and on the go.</p>
							</div>
						<div class="card_img_rte">
							<amp-img src="<?php echo base_url(); ?>assets/images/right_arrow.png" alt="right arrow icon" width="1"
								height="1" layout="intrinsic"></amp-img>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ERP Section End Here -->
		<!-- Discover latest section Start here -->
		<div class="discover_banner">
			<div class="discover_contant_wrap">
				<div class="discover_contant">
					<!-- <div class="discover_icons">
						<ul>
							<li>
								<a href="#"> 
									<amp-img src="<?php echo base_url(); ?>assets/images/discover_icon_1.png" alt="flower icon" width="34" height="39" layout="intrinsic"></amp-img>
								</a>
							</li>
							<li>
								<a href="#">
									<amp-img src="<?php echo base_url(); ?>assets/images/discover_icon_2.png" alt="sun icon" width="34" height="39" layout="intrinsic"></amp-img>
								</a>
							</li>
							<li>
								<a href="#"> 
									<amp-img src="<?php echo base_url(); ?>assets/images/discover_icon_3.png" alt="leaf icon" width="34" height="39" layout="intrinsic"></amp-img>
								</a>
							</li>
							<li>
								<a href="#">
									<amp-img src="<?php echo base_url(); ?>assets/images/discover_icon_4.png" alt="sun icon" width="34" height="39" layout="intrinsic"></amp-img>
								</a>
							</li>
						</ul>
					</div> -->
					<!-- <h2 class="text-center wtcol">Discover more from the <span>latest platform release</span></h2>
					<p class="text-center wtcol">New and enhanced features to help move your business forward. Check out highlights on the blog.<br> Log into the Customer Community for the full release notes.</p> -->
					<!-- <div class="learn_more_btn">
						<a href=" https://odessainc.force.com/customer/" class="odc__btn odc__btn--primary odc__btn--md" target="_blank">Release Notes</a>
					</div> -->
                    <h2 class="text-center wtcol">Get the latest on our platform updates</h2>
					<p class="text-center wtcol">Access our product note release to learn about <br>our new features and the advantages they can offer you.</p>
					<div class="learn_more_btn">
						<a href=" https://odessainc.force.com/customer/" class="odc__btn odc__btn--primary odc__btn--md" target="_blank">Read Here </a>
                       
					</div>
                    <p class="text-center wtcol" style="margin: 10px 0 0;font-size: 12px;"><i>(For customers only)</i></p>

				</div>
			</div>
		</div>
		<!-- Discover latest section End here -->
		<div class="testimonial">
			<div class="container">
				<div class="video">
					<img src="<?php echo base_url(); ?>assets/images/o-circle.png">
					</div>
			<div class="d-flex">
				
			<div class="testimonial-content">
			   
                <span class="wistia_embed wistia_async_kndvnc3z5u popover=true popoverContent=link videoFoam=false" style="display:inline-block;height:84;position:relative;width:150">
                    <a href="#"> <img src="<?php echo base_url(); ?>assets/images/testimonial-thumbnail.png" alt="" /></a>
                </span>			</div>
			
			<div class="video-con">
				<h2>Creating Global Dominance:<br> Johnson Controls Capital's<br> Journey with Odessa</h2>
                <span class="wistia_embed wistia_async_kndvnc3z5u popover=true popoverContent=link videoFoam=false" style="display:inline-block;height:84;position:relative;width:150">
                    <a href="javascript:void(0);" class="play-btn watch odc__btn odc__btn--primary odc__btn--md covid-alert__link alert-link">Watch Now</a>
                </span>
			</div>
		   
		  </div>
		  <div class="video-popup">
			<div class="video-container">
				<!-- <button id="playVideo">Play Video</button> -->
				<div class="popup">
				  <span class="close">&times;</span>
				  <video class="popuptext" id="myPopup" style="height:100%;" loop autoplay controls id="video1">
					<source src="<?php echo base_url(); ?>assets/images/Odessa_testimonial__Johnson_Controls (1080p).mp4" type="video/mp4">
					<!-- <iframe src="<?php echo base_url(); ?>assets/images/core_vid.mp4?autoplay=true" allowfullscreen></iframe> -->
				  </video>
				</div>
			</div>
		  </div>
		  </div></div>
		<!-- Have Question section Start here -->
		<div class="have_question_wrap">
			<h2 class="text-center">Have questions?</h2>
			<p class="text-center">Get in touch to discuss the right mix of platform features <br>and services to power your business</p>
			<div class="inlineform">
			<!--	<form id ="letstalkForm1" action = "<?= base_url()?>get-started" method ="POST"> -->
				<div class="input">
					<input type="email" placeholder="What’s your email?" name ="email" id="email1" required/>
				</div>
				<div class="inputbtn">
					<input class="odc__btn odc__btn--primary odc__btn--md" type="submit" onclick="letstalkclick('email1'); return;" value="Let's Talk" />
				</div>
			<!--     </form> -->
			</div>

			<!-- Have Question section End here -->
			<!-- Design of Principle Screen End here -->
		</div>
	</div>
</div>
<link rel="preload" href="<?php echo base_url(); ?>assets/images/header_banner_principles.webp" as="image">
<link href="<?php echo base_url(); ?>assets/css/design_principles.css" rel='stylesheet' />
	