
<style>
	.legal-pcontent li{
		list-style: disc;
	}
	.legal-phicon{
		background: url(../assets/images/slavery.png) 0 0 no-repeat;
	}
</style>

<div id="wrapper"> 
	<!--terms section start here -->
	<div class="container">
		<div class="legal-page legal-page--privacy">
			<div class="legal-pheader">
				<h1 class="legal-phtitle">Odessa Modern Slavery Act Statement</h1>
				<span class="legal-phicon"></span>
			</div>
			<div class="legal-pcontent">
				<h3>Purpose Of The Statement</h3>
				<p>Odessa Technologies Inc and its subsidiary companies (henceforth jointly referred to as “Odessa”) are
					committed to protecting Human Rights and prohibiting all acts of human trafficking, slavery, forced or
					compulsory labour, debt bondage, deceptive recruiting for labour or services, and child labour
					throughout the organization, its business and supply chain. Odessa herein elucidates its initiatives to
					mitigate/eradicate modern slavery and human trafficking from its business and supply chain</p>
				<h3>Our business</h3>
				<p>Odessa is a software company exclusively focused on the leasing industry. Odessa’s Platform
					empowers some of the largest global brands, providing end-to-end, extensible solutions for lease and
					loan origination and portfolio management. We facilitate business agility through rich feature sets
					including low-code development, test automation, reporting and business intelligence to ensure
					organizations can more effectively align business and IT objectives.</p>
				<h3>Our Supply Chain</h3>
				<p>We have classified our suppliers into three major categories:</p>
				<ul>
					<li>i. Suppliers of People: This covers our contractors who work on our campuses/client projects
						and support our business.</li>
						<li>ii. Supplier of Services: This covers our partners who provide essential services (such as catering,
							food and beverage counters, transportation etc.) on our campuses.</li>
						<li>iii. Supplier of Products: This covers our partners who supply products (such as IT hardware,
							software, electrical / electronic equipment, furniture, heavy equipment, stationery etc.) to us.</li>
				</ul>
		
				<h3>Process</h3>
				<p>We are committed to uphold human rights and the steps we have undertaken to ensure that slavery
					and human trafficking do not operate within our business or our supply chain. Our vision to earn the
					respect of our stakeholders continues to inspire our endeavours.</p>
				<p>Our Code of Conduct and Ethics which lay down the expectations that we have from our employees
					and suppliers in the conduct of business activities globally. The Code expresses ‘Odessa’ commitment
					to conducting business ethically. Our values are the ethical backbone of the Code.</p>
					<p>We insist, in our agreements, that our suppliers comply with local laws. We build long-standing
						relationships with local suppliers and make clear our expectations of business behaviour. In our non-
						India locations, we ensure that in our agreements our suppliers comply with the requirements of local
						law in our supply chains We have systems in place to encourage the reporting of concerns and the
						protection of whistleblowers.</p>
				<h3>Risks Of Modern Slavery practices in our Operations and Supply Chains</h3>
				<p>As regards to our supply chain, our engagement process with them and the Codes governing their
					appointment ensure that the risk of Modern Slavery is minimal. We will continue to review our internal
					processes to ensure that our obligations under the Modern Slavery legislations are met. We will use
					the following key performance indicators to help us sustain our efforts and measure the effectiveness
					of the steps undertaken to remove modern slavery and human trafficking from our supply chains.</p>
				<ul>
					<li class="dot">Odessa expects its employees, supply chain personnel, contractors and all of those associated
						with it to adhere and comply with Odessa ‘s values and policies.</li>
						<li class="dot">Odessa expects its employees, supply chain personnel, contractors and all of those associated
						with it to adhere and comply with Odessa ‘s values and policies.</li>
						<li class="dot"> Working with our suppliers to acknowledge and socialize the Supplier Code of Conduct.</li>
						<li class="dot">Reviewing issues raised through our grievance redressal mechanisms and initiating corrective
						action.</li>
				</ul>
				<p>We will continue to identify ways to improve employee and supplier awareness of Odessa commitment
					to respect human rights and efforts to prevent modern slavery and human trafficking. The policies,
					practices and procedures regarding responsible business, ethics and compliance apply to all the
					entities, collectively referred to as ‘Odessa’.</p>
				<p>This statement was reviewed and approved by senior leadership at Odessa , then reviewed and
					approved by the Board of Directors on 3rd October 2023 and has been signed by our CEO who is also
					a member of our Board.</p>
				
			</div>
		</div>
	</div>
</div>