<link rel="stylesheet preload" href="<?php echo base_url(); ?>assets/css/xass.css?v=2001"  />
<link rel="stylesheet preload" as="style" href="<?php echo base_url(); ?>assets/css/our-people.css" type="text/css" />


<div id="wrapper" class="our-people">
	<!-- <div class="container"> -->
	<!-- xass banner -->
	<div class="home-hero xas-banner">
		<div class="home-hero-bg">
			<div class="home-hero-bgimg">
				<img src="<?php echo base_url(); ?>/assets/images/our-people/our-people-banner.png" alt="canon Logo" width="87" height="19" >
			</div>
		</div>
		<div class="home-hero-content">
			<div class="home-hero-cinner">
				<div class="home-hero-cwrap">
					<div class="home-hero-ctitlewrap">
						<h1 class="home-hero-ctitle">Our Secret Sauce</h1>
					</div>
					<p class="home-hero-cdesc">Market leading technology and the right people. </p>
				</div>
			</div>
		</div>
	</div>
		<section class="live-breathe">
			<div class="container">
				<h2 class="text-center">At Odessa, we live and breathe asset finance </h2>
				<h4 class="text-center">Our team comprises tenured experts with years of experience in the asset finance industry.</h4>
				<div class="flex">
					<div class="live-box-1">
						<div class="flex">
							<div class="img-box">
								<img src="<?php echo base_url(); ?>assets/images/our-people/passionate.svg" >

							</div>
							<div class="live-cont">
								<h5><span class="blue">Passionate people</span> invested in your success</h5>
								<p>We are committed to helping you achieve your goals, and becoming an extension to your team. You can leverage the combined power of our resources and technology.</p>
							</div>
						</div>

					</div>
					<div class="live-box-1">
						<div class="flex">
							<div class="img-box">
								<img src="<?php echo base_url(); ?>assets/images/our-people/team.svg">

							</div>
							<div class="live-cont">
								<h5><span class="blue">A team of experts</span> who embrace change</h5>
								<p>Our knowledge of asset finance is unmatched. We embrace and adapt to the evolving market—and help you do the same.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="talented-experts">
			<div class="container">
			<h3 class="text-center blue">Meet some of our talented asset finance experts at Odessa </h3>
			<div class="talent-container">
				<div class="row flex">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-1">
						<div class="talent-box">
							<img src="<?php echo base_url(); ?>/assets/images/our-people/coby.png" alt="canon Logo">

						</div>
						<h5>Coby Aldredge</h5>
						<h6>Senior Product Owner </h6>
						<div class="description"><p>Coby brings close to 15 years of experience in asset and auto finance. His expertise encompasses vital functions such as funding, credit operations, and operational transformation, particularly with auto finance captives.</p>

							<p>Proficient in technical and operational aspects, he drives customer value and operational efficiencies. He holds a CLPF certification, reflecting his commitment to excellence.</p> </div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-1">
						<div class="talent-box box-2">
							<img src="<?php echo base_url(); ?>/assets/images/our-people/kyle.png" alt="canon Logo">

						</div>
						<h5>Kyle Gershman</h5>
						<h6>Senior Product Manager</h6>
						<div class="description"><p>Kyle collaborates with our customers to optimize their reporting and data analytics objectives. He has over 34 years of experience in multinational systems integrations with the last 17 years focused within the leasing industry. </p>

							<p>With a robust background in both consulting and operational roles, Kyle excels in driving continuous process improvement and leveraging technology to solve complex business challenges. Kyle also has enjoyed public speaking at Odessa’s User Conferences and ELFA. </p></div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-1">
						<div class="talent-box">
							<img src="<?php echo base_url(); ?>/assets/images/our-people/tony.png" alt="canon Logo">

						</div>
						<h5>Tony McCormick</h5>
						<h6>Solutions Architect </h6>
						<div class="description"><p>Tony brings over 22 years of knowledge in equipment finance and leasing, specializing in solution architecture and technology administration. With a master’s in business administration and certifications such as CLFP, PMP, CSPO, CSM, and SAFE-A, Tony’s educational background and credentials highlight his deep understanding of the industry, business acumen, and agile methodologies.</p>

							<p>His extensive knowledge and skills make him an invaluable asset in developing and implementing technology solutions that drive efficiency and innovation. </p></div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-1">
						<div class="talent-box box-2">
							<img src="<?php echo base_url(); ?>/assets/images/our-people/susan.png" alt="canon Logo">

						</div>
						<h5>Susan Bostian</h5>
						<h6>SVP of Delivery Management </h6>
						<div class="description"><p>Susan brings over 25 years of comprehensive experience in technology and leadership roles, with 14 years dedicated to the financial sector. Susan has a proven track record of aligning technology solutions with business strategies.</p>
 
							<p>Her background in delivery implementation and consulting services for top-tier consulting firms make her an indispensable team member when it comes to managing large-scale technology projects.</p> </div>
					</div>
					
				

					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-1">
						<div class="talent-box">
							<img src="<?php echo base_url(); ?>/assets/images/our-people/dustin.png" alt="canon Logo">

						</div>
						<h5>Dustin Wesner</h5>
						<h6>Vice President of Product Management</h6>
						<div class="description">
							<p>Dustin brings over 25 years of valuable experience in leading strategic projects, managing customer care, and innovating processes for auto finance captives. Dustin’s remarkable career includes consultative roles at Deloitte and PwC, where he honed his skill-sets in driving business strategies that enhance innovation and customer service.</p>
								<p>He is passionate about crafting and executing strategies that not only achieve tangible results but also set new benchmarks in customer satisfaction and operational excellence. </p>
						</div>
					</div>
					
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-1">
						<div class="talent-box box-2">
							<img src="<?php echo base_url(); ?>/assets/images/our-people/vijay.png" alt="canon Logo">

					</div>
					<h5>Vijay Sekar</h5>
					<h6>AVP of Delivery Management </h6>
					<div class="description">
						<p>Vijay brings over 20 years of experience in the BFSI domain. With a background as a business analyst, consultant, and project manager across enterprise captives and lending institutions, Vijay has amassed over 14 years of industry involvement.</p>

							<p>His in-depth understanding of core banking solutions positions him as a specialist in Core Banking Transformation and Business Consulting for BFSI, underlining his significant contributions to financial services solutions and innovations. </p> </div>
				</div>
		
					
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-1">
						<div class="talent-box">
							<img src="<?php echo base_url(); ?>/assets/images/our-people/leo.png" alt="canon Logo">

						</div>
						<h5>Leonard Lane</h5>
						<h6>SVP of Product Management </h6>
						<div class="description"><p>Leonard’s 30+ years of industry background with a notable 23 years as VP of Operations Development for a leading independent financial services and leasing company, makes him an invaluable member of Odessa. Leonard's deep understanding of industry trends, challenges, and the inner workings of asset finance and auto lending companies sets him apart.</p>
 
							<p>Leonard is a CLFP-certified professional. He also volunteers as an instructor of CLFP exam preparation classes to foster deeper understanding across the industry. </p></div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-1">
						<div class="talent-box box-2">
							<img src="<?php echo base_url(); ?>/assets/images/our-people/noura.png" alt="canon Logo">

						</div>
						<h5>Noura Abouelhouda</h5>
						<h6>Senior Solutions Architect </h6>
						<div class="description">
							<p>Noura has spent 12+ years in asset finance industry, encompassing roles as a product designer, functional consultant, and team leader. Her extensive background in implementing Core Banking software for over a decade along with her creative problem-solving capabilities helps her to navigate complex projects for middle to large enterprises.</p>

								<p>Noura’s in-depth understanding of customers and their challenges enables her to communicate better with customers, ensuring their needs are met comprehensively. </p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		</section>
		<section class="talk-team">
			<div class="container">
				<div class="business-talk">
				<img src="<?php echo base_url(); ?>/assets/images/our-people/speaker.svg" alt="canon Logo" >
				<p>Talk to our team to know how Odessa can help your business grow.</p>
				<a href="https://www.odessainc.com/lets-talk" class="pgcor__baction odc__btn odc__btn--primary odc__btn--md">Let's Talk</a>
			</div>
			</div>
		</section>

	</div>
