<link rel="stylesheet preload" href="<?php echo base_url(); ?>assets/css/xass.css?v=2001"  />
<link rel="stylesheet preload" as="style" href="<?php echo base_url(); ?>assets/css/our-people.css" type="text/css" />


<div id="wrapper" class="our-people">
	<!-- <div class="container"> -->
	<!-- xass banner -->
	<div class="home-hero xas-banner">
		<div class="home-hero-bg">
			<div class="home-hero-bgimg">
				<img src="https://dev.odessainc.com/assets/images/auto-banner-svg.svg" alt="" class="lazyload" >
			</div>
		</div>
		<div class="home-hero-content">
			<div class="home-hero-cinner">
				<div class="home-hero-cwrap">
					<div class="home-hero-ctitlewrap">
						<h1 class="home-hero-ctitle">Our Secret Sauce</h1>
					</div>
					<p class="home-hero-cdesc">Market leading technology and the right people. </p>
				</div>
			</div>
		</div>
	</div>
		<section class="live-breathe">
			<div class="container">
				<h2 class="text-center">At Odessa, we live and breathe asset finance </h2>
				<h4 class="text-center">Our team comprises tenured experts with years of experience in the asset finance industry.</h4>
				<div class="flex">
					<div class="live-box-1">
						<div class="flex">
							<div class="img-box">
								<img src="<?php echo base_url(); ?>assets/images/our-people/passionate.svg" alt="canon Logo" width="87" height="19" >

							</div>
							<div class="live-cont">
								<h5>Passionate people invested <br>in your success</h5>
								<p>We are commited to helping you achieve your goals, becoming an extension to your team to leverage the combined power of our resources and technology.</p>
							</div>
						</div>

					</div>
					<div class="live-box-1">
						<div class="flex">
							<div class="img-box">
								<img src="<?php echo base_url(); ?>assets/images/our-people/team.svg" alt="canon Logo" width="87" height="19" >

							</div>
							<div class="live-cont">
								<h5>A team of experts who  embrace change</h5>
								<p>Our knowledge of asset finance is unmatched.  We embrace and adapt to the evolving market—and help you do the same.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
