<link rel="stylesheet preload" href="<?php echo base_url(); ?>assets/css/api.css?v=2001"  />
<link rel="stylesheet preload" href="<?php echo base_url(); ?>assets/css/tech.css?v=2001"  />
<style>
	body::-webkit-scrollbar-thumb {
		background-color: #c7c8c9;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
body::-webkit-scrollbar {
    display: block !important;
    -webkit-appearance: auto !important;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
.error-class {
    border: 2px solid red;
}
</style>


<div id="wrapper" class="api-body ready-rethink competitive flexible-asset">
	<section class="api-wrapper">
	<div class="container api-header">
		<div class="navbar_wrapper row">
			<div class="api-logo">
                <a class="navbar-brand" href="<?php echo base_url(); ?>">
                    <img src="<?php echo base_url(); ?>assets/images/technology-partner/odessa-logo.svg" alt="" class="whitepaper">
                 </a>
		</div>
	</div>
	<section class="api-banner">
			<h1 class="api-heading">The Real Cost of Maintaining Outdated Technology</h1>
	</section>
	</div>
    </section>
    <section class="key-takeways-section rigid-system">
        <div class="container">
            <div class="take-flex">
                <div class="key-takeaways">
                    <p>When it comes to maintaining legacy technology or software that suffers from functional gaps, the cost of doing nothing isn’t nothing. Failing to modernize technology eats into your margins at a time when efficiency is critical.</p>
                    <ul class="functional-gaps">
                        <li class="technical"><strong>Technical Debt:</strong> According to Gartner, by 2025 companies will be spending 40% of their IT budgets on simply maintaining technical debt.</li>
                        <li class="security"><strong>Security Risks:</strong> Security updates, vulnerability patches, and additional security layers could range between $100,000 to $500,000 annually, depending on the risks and industry regulations.
                        </li>
                        <li class="development"><strong>Lack of New Development:</strong> The Standish Group Chaos Report suggests that large organizations often spend over 90% of their IT budgets on maintaining bare bones systems, leaving only a small fraction for new development.

                        </li>
                        <li class="bug"><strong>Bug Fixes and Patches:</strong> Companies spend around 15% to 25% of the original software development costs on bug fixes and patches for older systems.
                        </li>
                        <li class="personnel"><strong>Specialized Personnel:</strong> Salaries for specialized developers who can work on outdated technology are often 20% to 30% higher than salaries for resources dedicated to modern tech stacks.</li>
                        <li class="delight"><strong>Third-Party Support:</strong> If the software is dependent upon third-party vendors for continued support, annual fees can cost anywhere from $50,000 to $500,000 or more, depending on the system's size and complexity.</li>
                        <li class="maintainence"><strong>System Maintenance:</strong> A CIO survey from Deloitte reveals maintenance of sub-optimal systems consumes around 60% to 80% of IT budgets.</li>
                    </ul>
                </div>
                <div class="rigid-banner">
                    <img src="<?php echo base_url(); ?>assets/images/api/odessa-outdated.png" alt="Odessa Platform" class="whitepaper"/>
                </div>
            </div>

        </div>
    </section>
    <section class="reasons-consider-odessa top-section world-dedicated">
        <div class="tech-container">
        <h2>It’s time for a better way!</h2>
        <p>Odessa is the largest software company in the world dedicated to asset finance. We’re working every day to build and deliver a best-in-class asset finance solution that stays ahead of an evolving market and positively impacts the way our customers think, work, and grow.</p>
        <img src="<?php echo base_url(); ?>assets/images/api/customer-lifecycle.png" alt="Odessa Platform" class="life-cycle desk"/>
        <img src="<?php echo base_url(); ?>assets/images/api/mob-lifecycle.png" alt="Odessa Platform" class="life-cycle mob"/>

        <div class="key-takeaways">
            <ul class="cycle">
                <li>Odessa’s end-to-end platform automates routine tasks across the entire customer lifecycle.</li>
                <li>Quarterly software releases introduce new features and capabilities 4x per year.</li>
                <li>Hosting your software in the Odessa Cloud lowers your cost of platform maintenance.
                </li>
                <li>An API-first architecture ensures you can connect to any application or data source in your environment.
                </li>
                <li>A flexible, configurable platform opens new opportunities for growth without having to rely on your vendor or third-party development to advance your business.</li>
               
            </ul>
        </div>
        
        </div>
    </section>
<section class="reasons-consider-odessa top-section">
    <div class="tech-container">
    <!-- <h2>Want some more reasons to consider Odessa?</h2> -->
    <div class="flex-section mb-20">
        <div class="row">
            <div class="col-lg-6">
                <div class="flex-section bg-grey">
                    <div class="icon">
                        <img class="hero-logo" src="<?php echo base_url(); ?>assets/images/api/global.png" alt="Logo: OdessaInc">

                    </div>
                    <div class="icon-cont">
                        200+ highly complex loans leases and loans migrated, Reduction from 20+ day closing process to just a few days
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="flex-section bg-grey">
                    <div class="icon">
                        <img class="hero-logo" src="<?php echo base_url(); ?>assets/images/api/fiserv.png" alt="Logo: OdessaInc">
                    </div>
                    <div class="icon-cont">
                        55+ third party integrations, 2500 leases per day with automated workflow and asset level tracking</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-section">
        <div class="row">
            <div class="col-lg-12" style="padding: 0;">
                <div class="flex-section bg-grey">
                    <div class="icon">
                        <img class="hero-logo" src="<?php echo base_url(); ?>assets/images/api/sasfin.png" alt="Logo: OdessaInc">
                    </div>
                    <div class="icon-cont">
                        Migration to Odessa from 3 legacy platforms, 250,500 assets and 62300 leases migrated,
                        Added esignature ability to shorten time to funding</div>
                </div>
            </div>
          
        </div>
    </div>
    </div>
</section>
<section class="talk-team">
    <div class="container">
    <div class="business-talk">
        <h2>You want a flexible platform AND a flexible partner!</h2>
    <p>We’re fully committed to your success, becoming an extension of your team to leverage the full power of our resources and technology to help you achieve your goals and grow at your own pace. Inquire below about Odessa’s flexible contracts that can reduce upfront transition costs.</p>
    <div class="letstalkform">
		
			<form id="primaryForm" method="post" autocomplete="off">
				<label for="honeypot">Honeypot </label>
				<input id="honeypot" name="honeypot" size="40" type="text"/>
			
			<div class="form-group">
				<input class="form-control"  name="email" type="text" id="email" placeholder="Business Email" required />
			</div>
            
                <button class="orange-btn" id="letstalk">Let's Chat</button>
            </form>
           
				</div>
    </div>
    <div class="thank-u" style="display: none;">
        Thank you for your submission!
    </div>
        
    </div>
    </section>
</div>
<script src= "https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script> 
<script>
$(document).ready(function() {
    $.validator.addMethod("myusername", function(value, element) {
        return /^([\w-\.]+@(?!gmail\.com)(?!yahoo\.com)(?!hotmail\.com)(?!aol\.com)([\w-]+\.)+[\w-]{2,4})?$/.test(value);
    }, 'Free email addresses are not allowed.');

    $("#primaryForm").validate({
        rules: {
            email: {
                required: true,
                myusername: true,
            }
        },
        messages: {
            email: {
                required: "Email is required",
                myusername: "Please enter a valid business email."
            }
        },
        highlight: function(element) {
            $(element).addClass('error'); // Add your custom error class
        },
        unhighlight: function(element) {
            $(element).removeClass('error');
        },
        submitHandler: function(form) {
    $('#primaryForm').attr('action', 'https://go.odessainc.com/l/310001/2024-10-17/3s4mvtx');
    $("#primaryForm").submit();
    return true;
}
    });

    // Disable cut, copy, paste for inputs
    $('#primaryForm input').bind("cut copy paste", function(e) {
        e.preventDefault();
    });
});

document.body.setAttribute('id', 'bodyId');



</script>
<style amp-custom>
@import url('../../../../assets/css/bootstrap-select.min.css?v=<?php echo time() ?>');
</style>
<script src="<?= base_url(); ?>assets/js/bootstrap-select.js"></script> 
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
$(function(){
$('.selectpicker').selectpicker();
});
</script>