<link rel="stylesheet preload" href="<?php echo base_url(); ?>assets/css/api.css?v=2001" />

<div id="wrapper" class="">
    <!--Let's Talk Secondary Section Start here-->
    <section class="letstalkSecondrywrap api-body ready-rethink subscribe-form">
        <!--Form Section Start Here-->
        <div class="letstalkform get-copy">
            <!-- <img src="<?php echo base_url(); ?>assets/images/api/download.svg" alt="" class="plane"> -->
            <div class="sub-head">
                <h1 class="api-heading text-center">
				Get Fresh Perspectives <br>Straight to Your Inbox 
			</h1>
                <p class="text-center">Join our community and stay updated with the latest insights, trends,
                    <br> and exclusive content tailored for industry leaders.</p>
            </div>
            <form id="primaryForm" method="post" autocomplete="off">
                <label for="honeypot">Honeypot </label>
                <input id="honeypot" name="honeypot" size="40" type="text" />
                <br>
                <div class="flex">
                    <div class="form-group">
                        <input class="form-control" name="first-name" id="first_name" type="text" placeholder="First Name" required/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="last-name" id="last_name" type="text" placeholder="Last Name" required />
                    </div>
                </div>
                <div class="flex">
                    <div class="form-group">
                        <input class="form-control" name="company" type="text" id="company" placeholder="Company" required/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="email" type="text" id="email" placeholder="Business Email" required />
                    </div>
                </div>
                <div class="capt">
                    <div class="g-recaptcha brochure__form__captcha" id="rcaptcha" data-sitekey="6LfYPqgkAAAAAEg_L0IHcYGkoK6vRSWKv1q4-5dP" data-action='submit'></div>
                </div>
                <div class="disclaimer">
                    By submitting this form, I understand Odessa will process my personal information in accordance with their <a href="<?php echo base_url(); ?>privacy-policy" target="_blank">privacy policy</a>.
                    <br> I understand I can withdraw my consent or update my preferences by clicking the unsubscribe link at the bottom of the email I will receive.
                    <label for="agree">
                        <span class="box"></span>
                        <input type="checkbox" id="agree"> I agree to be contacted and understand I can opt out at any time.
                    </label>
                </div>
                <div class="clearfix">
                    <button class="odc__btn odc__btn--primary odc__btn--xl btnmar subscribe-btn" id="letstalk">Subscribe</button>
                </div>
            </form>
            <div class="thank-u" style="display: none;">
                <h2 class="api-heading text-center">Thank you for subscribing!</h2>
                <p>You’re now part of our community. Keep an eye on your inbox for the latest insights, trends, and
                    <br>exclusive content coming your way!</p>
                <!-- <h3>Someone will be in touch shortly.</h3> -->
            </div>
        </div>
        <!--Form Section End Here-->

        <!--Get The Latest End Here-->
    </section>

</div>
<!--Let's Talk Secondary Section Start here-->
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        // Custom validation methods
        $.validator.addMethod("myusername", function (value, element) {
            return /^([\w-\.]+@(?!gmail\.com)(?!yahoo\.com)(?!hotmail\.com)([\w-]+\.)+[\w-]{2,4})?$/.test(value);
        }, 'Free email addresses are not allowed.');
    
        $.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /^[a-z\s]+$/i.test(value);
        }, "Please enter letters only.");
    
        $.validator.addMethod("noSpace", function (value, element) {
            return value == '' || value.trim().length != 0;
        }, "No spaces allowed! Please don't leave it empty.");
    
        $.validator.addMethod("mobile", function (phone_number, element) {
            phone_number = phone_number.replace(/\s+/g, "");
            return this.optional(element) || (phone_number.length >= 6 && phone_number.length <= 15 && phone_number.match(/^(\+?\d{1,4}[\s-])?(?!0+\s+,?$)\d{10}\s*,?$/));
        }, "Mobile number should be 6 to 15 digits.");
    
        // Primary form validation
    	$("#primaryForm").validate({
        rules: {
            "first-name": {
                required: true,
                maxlength: 50,
                lettersonly: true
            },
            "last-name": {
                required: true,
                maxlength: 50,
                lettersonly: true
            },
            email: {
                required: true,
                myusername: true
            },
            company: {
                required: true
            },
            agree: {
                required: true // Validation for the checkbox
            }
        },
        messages: {
            "first-name": {
                required: "Please enter your first name.",
                maxlength: "First name cannot exceed 50 characters."
            },
            "last-name": {
                required: "Please enter your last name.",
                maxlength: "Last name cannot exceed 50 characters."
            },
            email: {
                required: "Please enter your email address."
            },
            company: {
                required: "Please enter your company name."
            },
            agree: {
                required: "You must agree to the privacy policy."
            }
        },
        submitHandler: function (form) {
            var honeypot_val = $("#honeypot").val();
            if (honeypot_val != '' || grecaptcha.getResponse() == "") {
                if (honeypot_val != '') {
                    window.location.reload();
                    return false;
                } else {
                    $(".capt").addClass("error");
                    return false;
                }
            } else {
                if (honeypot_val == '') {
                    // Submit the form to the secondary form URL
                    $("#secondaryForm").submit();
    				window.scrollTo({ top: 0, behavior: 'smooth' });
                    // Show the thank-you message after submission
                    $("#primaryForm").hide(); // Hide the form
    				$(".sub-head").hide();
    				$(".api-body").addClass('thank')
    				$(".thank-u").show(); // Show the thank-you message
                    
                    return true;
                } else {
                    $(".capt").removeClass("error");
                    return true;
                }
            }
        }
    });
    
        // Submit button click event
        $("#letstalk").click(function () {
            var honeypot_val = $("#honeypot").val();
            if (honeypot_val == '') {
                if ($('#primaryForm').valid()) {
                    if ($('#agree').is(':checked')) {
                        $('#primaryForm').attr('action', 'https://go.odessainc.com/l/310001/2024-09-26/3s4kl6r');
    				
                        $("#primaryForm").submit();
                        $('.box').hide();
                        return true;
                    } else {
                        $('.box').show();
                        return false;
                    }
                } else {
                    // Highlight invalid fields if form is not valid
                    $("#primaryForm").find(":input").each(function () {
                        if (!$(this).valid()) {
                            $(this).addClass("error");
                        }
                    });
                    return false;
                }
            } else {
                window.location.reload();
                return false;
            }
        });
    
        // Keypress event for letters only fields
        $("#first_name, #last_name").keypress(function (event) {
            var regex = new RegExp("^[a-zA-Z ]*$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });
    
        // Disable cut, copy, paste for form inputs
        $('#primaryForm input').bind("cut copy paste", function (e) {
            e.preventDefault();
        });
    
        // Rescale captcha for responsiveness
        function rescaleCaptcha() {
            var width = $('.g-recaptcha').parent().width();
            var scale = width < 302 ? width / 302 : 1;
            $('.g-recaptcha').css('transform', 'scale(' + scale + ')');
            $('.g-recaptcha').css('-webkit-transform', 'scale(' + scale + ')');
            $('.g-recaptcha').css('transform-origin', '0 0');
            $('.g-recaptcha').css('-webkit-transform-origin', '0 0');
        }
        rescaleCaptcha();
        $(window).resize(function () { rescaleCaptcha(); });
    });
</script>
<style amp-custom>
    @import url('../../../../assets/css/bootstrap-select.min.css?v=<?php echo time() ?>');
</style>
<script src="<?= base_url(); ?>assets/js/bootstrap-select.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    $(function(){
     $('.selectpicker').selectpicker();
     });
</script>