<link rel="stylesheet preload" href="<?php echo base_url(); ?>assets/css/xass.css?v=99211111"  />

<style amp-custom>
	.xas-banner .home-hero-bg amp-img{position:absolute;right:0;bottom:0;height:auto}
	.xas-banner .home-hero-bgimg{
		height:100%;
	}
	@media only screen and (max-width:1024px){.xas-banner .home-hero-bg amp-img{width:60%;height:30%}}@media only screen and (min-width:768px){.xas-banner .home-hero-bg amp-img{height:80%}}@media only screen and (min-width:1280px){.xas-banner .home-hero-bg amp-img{width:70%;height:50%}}@media only screen and (min-width:540px){.xas-banner .home-hero-bg amp-img{width:70%;height:50%}}@media only screen and (min-width:820px){.xas-banner .home-hero-bg amp-img{width:60%;height:80%}}@media only screen and (min-width:1024px){.xas-banner .home-hero-bg amp-img{width:100%;height:100%}}@media only screen and (max-width:1920px) and (min-width:1290px){.xas-banner .home-hero-bg amp-img{width:100%;height:100%}}
</style>

<div id="wrapper">
	<!-- <div class="container"> -->
	<!-- xass banner -->
	<div class="home-hero xas-banner">
		<div class="home-hero-bg">
			<div class="home-hero-bgimg">   
				<amp-img src="<?php echo base_url(); ?>assets/images/xass/xaas-header-pattern.svg" alt="" class="lazyload" layout="intrinsic" width="1" height="1"></amp-img>
			</div>
		</div>
		<div class="home-hero-content xas-content">
			<div class="home-hero-cinner">
				<div class="home-hero-cwrap">
					<div class="home-hero-ctitlewrap">
						<h1 class="home-hero-ctitle">Provide flexible finance <br>with As-a-Service</h1>
					</div>
					<p class="home-hero-cdesc">Unlock your business strategy with the power, speed, scale, and agility of everything-as-a-service.</p>
				</div> 
			</div>
		</div>
	</div>
	
		<!-- xass banner ends -->
		<!--Build Page Start Here-->
		<div class="buildpgwrap"> 
			<!--Scale Fector Section Start Here-->
			<div class="buildpgscalefector xasspadding">
				<div class="xasstabsbackgbox"></div>
			</div>
			<!--Scale Fector Section Start Here-->
			
			<div class="container xas-cont"> 
				<div class="plateformspeedbox xassbox">
					<div class="build_tabs owl-carousel bltabs owl-theme">
						<div class="items build_tabactive"><a data-toggle="tab" href="#asaservice">As-a-Service</a></div>
						<div class="items"><a data-toggle="tab" href="#payperuse">Pay Per Use</a></div>
						<div class="items subscriptionTab"><a data-toggle="tab" href="#subscription">Subscription Management</a></div>
					</div>
					<div class="tab-content">
						<div id="asaservice" class="tab-pane fade in active">
							<div class="plateformCon">
								<div class="row clearfix">
									<div class="col-md-6">
										<h2>Monetize anything as-a-service</h2>
									<div class="normaltxt pdright">Experience unparalleled flexibility, scalability, and innovation with Odessa's comprehensive everything as a service (XaaS) solution, designed to propel your business forward. Say goodbye to traditional IT constraints and embrace our powerful cloud-based services that will transform your enterprise.</div>
									</div>
									<div class="col-md-6">
										<div class="listpoints">
											<div class="row clearfix">
												<div class="col-sm-12">
													<div class="normaltxt"><span class="blbullets"></span> Effortlessly scale your business operations</div>
												</div>
												<div class="col-sm-12">
													<div class="normaltxt"><span class="blbullets"></span>Adapt to changing market demand for bundled services</div>
												</div>
												<div class="col-sm-12">
													<div class="normaltxt"><span class="blbullets"></span>Harmonize processes across multiple systems and lines of business</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="payperuse" class="tab-pane fade">
							<div class="plateformCon">
							<div class="row clearfix">
									<div class="col-md-6">
										<h2>Deliver cost-effective growth</h2>
									<div class="normaltxt pdright">Cater to the dynamic needs of your customers by providing value-driven solutions that align costs with actual usage. Odessa enables you to break down asset tracking to the SKU level from day one, enabling new possibilities for usage-based contracts.</div>
									</div>
									<div class="col-md-6">
										<div class="listpoints">
											<div class="row clearfix">
												<div class="col-sm-12">
													<div class="normaltxt"><span class="blbullets"></span>Help customers eliminate unnecessary expenditures</div>
												</div>
												<div class="col-sm-12">
													<div class="normaltxt"><span class="blbullets"></span>Support expansion with variable payment structures</div>
												</div>
												<div class="col-sm-12">
													<div class="normaltxt"><span class="blbullets"></span>Enhance the customer experience with data insight</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="subscription" class="tab-pane fade">
							<div class="plateformCon">
							<div class="row clearfix">
									<div class="col-md-6">
										<h2>Streamline recurring revenue</h2>
									<div class="normaltxt pdright">Strategically plan for the future, invest in new initiatives, and remain agile in a competitive market with subscription based business model. Drive predictable revenue that grows with your customers, and seamlessly manage accounting and billing, all in one place.</div>
									</div>
									<div class="col-md-6">
										<div class="listpoints">
											<div class="row clearfix">
												<div class="col-sm-12">
													<div class="normaltxt"><span class="blbullets"></span> Bundle services with assets to unlock new revenue streams</div>
												</div>
												<div class="col-sm-12">
													<div class="normaltxt"><span class="blbullets"></span>Simplify complex billing scenarios</div>
												</div>
												<div class="col-sm-12">
													<div class="normaltxt"><span class="blbullets"></span>Automate renewals and retention efforts</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="btmlinegrey"></div>
				</div>
				<!--Platform Speed Section End Here--> 
				
				<!--Build Innovation Start Here-->
				<div class="buildinnovation xassconbox">
					<h2 class="text-center">Stay agile, pursue <span>new growth strategies</span></h2>
					<div class="buildinnovationboxConrw">
						<div class="row clearfix">
							<div class="col-sm-4">
								<div class="buildinnovationConbx">
									<div class="inoiconrw">
									<div class="innoicon improve_developer"></div>
										
									</div>
									<div class="xass_nor_text">Bundle the best of your subscriptions,
										products, and services together in a single platform</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="buildinnovationConbx">
									<div class="inoiconrw">
									<div class="innoicon recoding"></div>
									</div>
									<div class="xass_nor_text">Deliver one unified order, invoice and
									payment experience, and maintain a 
									single source of truth for data</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="buildinnovationConbx">
									<div class="inoiconrw">
									<div class="innoicon legacy"></div>
										
									</div>
									<div class="xass_nor_text">Simplify your front-end experience
										and back-end GL integrations instead of ripping out existing systems</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Build Innovation End Here--> 
				
				<!--Development Opps Section Start Here-->
				<div class="devOpsSection xas-section">
					<div class="devOpsCon clearfix">
						<div class="devopsimgbx devopsimgbxass"> 
							<amp-img src="<?php echo base_url(); ?>assets/images/Banner-Consolidating-Apps-and-Data-at-Gainsight-scaled-BW.jpg" alt="DevOps" width="1"
								height="1" layout="responsive"></amp-img> </div>
						<div class="devopsconbox">
							<h3 class="headingsection wtcol">Usage Based Billing for <span>the modern enterprise </span></h3>
						<div class="opstextrw"> Usage-based pricing works because your customers can grow with you. </div>
						<div class="opstextrw topp"> Reimagine your go to market while maintaining financial controls and streamlining reporting - with variable billing and pricing, embedded lease contracts, and self-service portals for your customers. </div>
						</div>
					</div>
				</div>
				<!--Development Opps Section End Here-->
				<div class="content-section xas-con-sec">
					<div class="mb-2">
						<h3 class="mb-1">Market-ready solutions for every business need</h3>
						<span class="xassParCol">
						We understand that every business is unique. That's why we offer tailor-made XaaS solutions to cater to your specific requirements. From usage-based pricing concepts and strategy to lease accounting, we've got you covered.
						</span>
					</div>
					<div class="mb-2">
						<h3 class="mb-1">Seamless integration and automation</h3>
						<span class="xassParCol">
						Our As-a-Service solutions are designed to integrate smoothly with your existing systems, streamlining your workflows and reducing manual intervention. Leveraging APIs and robust automation capabilities, you can focus on what truly matters growing your business.
						</span>
					</div>
					<div class="mb-2">
						<h3 class="mb-1">Scalability for future growth</h3>
						<span class="xassParCol">
						A cloud-first approach ensures your business can scale up or down as needed. You'll never have to worry about outgrowing your infrastructure or being held back by outdated technology.
						</span>
					</div>
					<div class="mb-2">
						<h3 class="mb-1">Unrivaled support and expertise</h3>
						<span class="xassParCol">
						Our team of dedicated experts, and global partner network, is always ready to assist you in your XaaS journey. From implementation to ongoing support, we're committed to helping you maximize the potential of your flexible models.
						</span>
					</div>
				</div>		
							
						
				
				<div class="testimonialswrap xas-wrap">
					<h2 class="text-center">Launch your business into the   <span>sharing economy with XaaS</span></h2>
					<div class="seeposbtnrw"><a href="<?php echo base_url();?>get-started" class="odc__btn odc__btn--primary odc__btn--xl">Get started</a></div>
					<div class="trusted_brands_logo">
						<div class="brlogo"> 
							<amp-img src="<?php echo base_url(); ?>assets/images/icons/canon_logo.png" alt="Canon Logo " class="wh-image-ratio" alt="ARI Logo"  width="87" height="19" layout="intrinsic"></amp-img>
						</div>
						<div class="brlogo"> 
							<amp-img style="max-width:100px" src="<?php echo base_url(); ?>assets/images/xass/lenovo-logo-web.svg" alt="Leaf Logo " width="87" height="19" layout="intrinsic"> </amp-img>
						</div>
						<div class="brlogo"> 
							<amp-img src="<?php echo base_url(); ?>assets/images/icons/dell_logo.png" alt="Dell Logo " class="wh-image-ratio" width="51" height="51" layout="intrinsic"> </amp-img>
						</div>
						<div class="brlogo"> 
							<amp-img   src="<?php echo base_url(); ?>assets/images/xass/johnsoncontrols-logo-web.svg" alt="Sasfin Logo" width="100" height="50" layout="intrinsic"> </amp-img> 
						</div>
						<div class="brlogo"> 
							<amp-img  src="<?php echo base_url(); ?>assets/images/xass/hpe-logo-web.svg" alt="FCL Logo " width="100" height="40" layout="intrinsic"> </amp-img> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Build Page End Here--> 
	<!-- </div> -->
	</div>
	<!-- <script async src="https://cdn.ampproject.org/v0.js"></script>
	<script src="https://www.odessainc.com/assets/js/owl.carousel.js"></script> 
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
	<script async custom-element="amp-script" src="https://cdn.ampproject.org/v0/amp-script-0.1.js"></script> -->
	<script type="application/ld+json"> 
		{ 
		  "@context": "https://schema.org/",  
		  "@type": "Product",  
		  "name": "Everything as a service", 
		  "image": "", 
		  "description": "Provide flexible finance with As-a-Service Unlock the power of everything as a service to your business strategy with speed, scale, and agility.", 
		  "brand": { 
			"@type": "Brand", 
			"name": "Odessa" 
		  } 
		} 
		
		</script> 