
Options +Indexes
## Redirect Non WWW to WWW ##
<IfModule mod_rewrite.c>

	RewriteCond %{HTTP_HOST} ^odessainc.com [OR]
	RewriteCond %{HTTP_HOST} ^odessatech.com
	RewriteRule ^(.*)$ https://www.odessainc.com/$1 [L,R=301,NC]
</IfModule>
## Redirect Non WWW to WWW ##

## Rewrite URL ##
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
	RewriteRule ^ %1 [R=302,L]
	
</IfModule>

## Rewrite URL ##

## EXPIRES CACHING ##
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType video/webm "access plus 1 year"
	ExpiresByType video/ogg "access plus 1 year"
	ExpiresByType video/mp4 "access plus 1 year"
	ExpiresByType image/jpg "access plus 1 year"
	ExpiresByType image/jpeg "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType image/gif "access plus 1 year"
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType application/pdf "access 1 year"
	ExpiresByType text/html "access plus 1 year"
	ExpiresByType text/javascript "access plus 1 year"

	ExpiresByType application/javascript "access plus 1 year"

	ExpiresByType application/x-shockwave-flash "access plus 1 year"
	ExpiresByType image/x-icon "access plus 1 year"
	ExpiresDefault "access plus 1 year"
</IfModule>
## EXPIRES CACHING ##

## Gzip compression ##
<IfModule mod_deflate.c>
	# Compress HTML, CSS, JavaScript, Text, XML and fonts
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
	AddOutputFilterByType DEFLATE application/x-font
	AddOutputFilterByType DEFLATE application/x-font-opentype
	AddOutputFilterByType DEFLATE application/x-font-otf
	AddOutputFilterByType DEFLATE application/x-font-truetype
	AddOutputFilterByType DEFLATE application/x-font-ttf
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE font/opentype
	AddOutputFilterByType DEFLATE font/otf
	AddOutputFilterByType DEFLATE font/ttf
	AddOutputFilterByType DEFLATE image/svg+xml
	AddOutputFilterByType DEFLATE image/x-icon
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/xml
	# Remove browser bugs (only needed for really old browsers)
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
	Header append Vary User-Agent
</IfModule>
## Gzip compression ##

## Press Releases ##

Redirect /media/press-releases/apac-asset-finance-trust-odessa-for-digital-transformation.html https://www.odessainc.com/blog/apacs-asset-finance-leaders-trust-odessa/
Redirect /media/press-releases/odessa-and-clfp-foundation-collaborate-to-drive-innovation-in-certification-program.html https://www.odessainc.com/blog/clfp-equipment-leasing-certification-partnership/
Redirect /media/press-releases/odessa-receives-the-philadelphia100-award.html https://www.odessainc.com/blog/odessa-recieves-philadelphia100-award/
Redirect /media/press-releases/innovate2019-conference-agenda.html https://www.odessainc.com/blog/innovate2019-user-conference-agenda-release/
Redirect /media/press-releases/Odessa_Invests_in_Continued_Growth_with_New_Leadership_Appointments-1.html https://www.odessainc.com/blog/new-leadership-appointments/
Redirect /media/press-releases/odessa-launches-non-profit-foundation.html https://www.odessainc.com/blog/non-profit-foundation-launch/
Redirect /media/press-releases/odessa-named-to-100-best-companies-for-women.html https://www.odessainc.com/blog/odessa-named-one-of-avtars-100-best-companies-for-women/
Redirect /media/press-releases/innovation-finance-selects-odessa.html https://www.odessainc.com/blog/innovation-finance-selects-odessa-to-scale-for-growth/
Redirect /media/press-releases/leaf-to-drive-business-forward-with-leasewave.html https://www.odessainc.com/blog/leaf-to-drive-business-forward-with-odessa/
Redirect /media/press-releases/organizations-globally-select-leasewave.html https://www.odessainc.com/blog/organizations-globally-continue-to-select-and-deploy-odessa/
Redirect /media/press-releases/odessa-awarded-times-ascent-fun-at-work.html https://www.odessainc.com/blog/odessa-receives-fun-at-work-award-from-times-ascent/
Redirect /media/press-releases/sasfin-bank-selects-leasewave-from-odessa.html https://www.odessainc.com/blog/sasfin-bank-selects-the-odessa-platform/
Redirect /media/press-releases/compeer-financial-selects-leasewave-from-odessa.html https://www.odessainc.com/blog/compeer-financial-selects-odessa-for-innovative-asset-finance/
Redirect /media/press-releases/odessa-technologies-wins-two-best-in-class-interactive-media-awards.html https://www.odessainc.com/blog/odessa-wins-two-best-in-class-interactive-media-awards/
Redirect /media/press-releases/grupo-financiero-banorte-selects-leasewave-from-odessa.html https://www.odessainc.com/blog/grupo-financiero-banorte-selects-odessa/
Redirect /media/press-releases/odessa-tech-announces-leasewave2017-user-conference.html https://www.odessainc.com/blog/odessa-announces-annual-user-conference/
Redirect /media/press-releases/odessa-technologies-launches-partnership-alliance-network.html https://www.odessainc.com/blog/odessa-launches-partner-alliance-network
Redirect /media/press-releases/odessa-technologies-unveils-appstudio.html https://www.odessainc.com/newsroom
Redirect /media/press-releases/leading-fleet-leasing-company-selects-leasewave.html	https://www.odessainc.com/blog/quality-companies-selects-odessa/
Redirect /media/press-releases/Odessa-Technologies-Website-Wins-Two-Best-in-Class-Interactive-Media-Awards.html https://www.odessainc.com/blog/odessa-website-wins-two-best-in-class-interactive-media-awards/
Redirect /media/press-releases/odessa-integrates-docusign-for-business-transformation.html https://www.odessainc.com/blog/odessa-integrates-with-docusign/
Redirect /media/press-releases/Brocade-Capital-Solutions-selects-LeaseWave-from-Odessa-Technologies.html https://www.odessainc.com/blog/brocade-capital-solutions-selects-odessa/
Redirect /media/press-releases/simmons-first-National-bank-selects-leasewave.html https://www.odessainc.com/blog/simmons-first-national-bank-selects-odessa/
Redirect /media/press-releases/Odessa-Technologies-announces-LeaseWave2016-user-conference.html https://www.odessainc.com/blog/odessa-announces-annual-user-conference-2/
Redirect /media/press-releases/firstfinancialbank-selects-leasewave-suite-from-odessa.html https://www.odessainc.com/blog/first-financial-bank-selects-modern-technology-solution-from-odessa/
Redirect /media/press-releases/insight-investments-goes-live-with-leasewave-from-odessa-technologies.html https://www.odessainc.com/blog/insight-investments-goes-live-with-odessa/
Redirect /media/press-releases/first-american-equipment-finance-selects-leasewave.html https://www.odessainc.com/blog/first-american-equipment-finance-selects-odessa/
Redirect /media/press-releases/TFG-Financial-selects-LeaseWave-from-Odessa-Technologies.html https://www.odessainc.com/blog/tfg-financial-selects-odessa/
Redirect /media/press-releases/Aztec-Financial-selects-LeaseWave-from-Odessa-Technologies.html https://www.odessainc.com/blog/aztec-financial-selects-odessa/
Redirect /media/press-releases/Meridian-Leasing-Corporation-goes-live-with-LeaseWave-Customer-Portal.html https://www.odessainc.com/blog/meridian-leasing-corporation-goes-live-with-odessa-customer-portal/
Redirect /media/press-releases/odessa-tech-donates-computers-to-philly-non-profit.html https://www.odessainc.com/blog/odessa-donates-computers-to-philadelphia-non-profit/
Redirect /media/press-releases/Odessa-achieves-ISO-27001-2013-certification.html https://www.odessainc.com/blog/odessa-achieves-iso-270012013-certification/
Redirect /media/press-releases/millenniumit-odessatech-announce-partnership-srilanka.html https://www.odessainc.com/blog/millenniumit-sri-lanka-enters-into-strategic-partnership-with-odessa/
Redirect /media/press-releases/tata-capital-goes-live-with-leasewave-from-odessa-tech.html https://www.odessainc.com/blog/tata-capital-goes-live-with-odessa/
Redirect /media/press-releases/csi-leasing-uk-goes-live-with-leasewave-from-odessa.html https://www.odessainc.com/blog/csi-leasing-uk-goes-live-with-odessa/
Redirect /media/press-releases/leasewave-implementation-wins-elfa-technology-award-for-2014.html https://www.odessainc.com/blog/leasewave-implementation-wins-elfa-technology-award-2014/
Redirect /media/press-releases/leaseurope-welcomes-odessatech-as-associate-member.html https://www.odessainc.com/blog/odessa-joins-leaseurope-as-associate-member/
Redirect /media/press-releases/winthrop-resources-goes-live-with-leasewave-upgrade.html https://www.odessainc.com/blog/tcf-winthrop-goes-live-with-major-upgrade-from-odessa/
Redirect /media/press-releases/bbnt-equipment-finance-goes-live-with-leasewave.html https://www.odessainc.com/blog/bbt-equipment-finance-goes-live-with-odessa/
Redirect /media/press-releases/meridian-leasing-goes-live-with-leasewave-from-odessa.html https://www.odessainc.com/blog/meridian-leasing-goes-live-with-odessa/
Redirect /media/press-releases/pacific-rim-capital-goes-live-with-leasewave.html https://www.odessainc.com/blog/pacific-rim-capital-goes-live-with-odessa/
Redirect /media/press-releases/bennington-financial-selects-leasewave-from-odessa.html https://www.odessainc.com/blog/bennington-financial-selects-odessa/
Redirect /media/press-releases/Cole-Taylor-Equipment-Finance-goes-live-with-LeaseWave-from-Odessa-Technologies.html https://www.odessainc.com/blog/cole-taylor-equipment-finance-goes-live-with-odessa/
Redirect /media/press-releases/LeaseWave-Implementation-wins-ELFA-Technology-Award-for-2013.html https://www.odessainc.com/blog/leasewave-implementation-wins-elfa-technology-award-2013/
Redirect /media/press-releases/SNAP-Financial-Group-selects-LeaseWave-from-Odessa-Technologies.html https://www.odessainc.com/blog/snap-financial-group-selects-odessa/
Redirect /media/press-releases/hattonnationalbank-goes-live-with-leasewave-by-odessa.html https://www.odessainc.com/blog/hatton-national-bank-goes-live-with-odessa/
Redirect /media/press-releases/pacific-rim-capital-selects-leasewave-from-odessa-tech.html https://www.odessainc.com/blog/pacific-rim-capital-selects-odessa/
Redirect /media/press-releases/Odessa-Technologies-Announces-End-of-Lease-Management-Product.html https://www.odessainc.com/blog/odessa-announces-end-of-lease-management-product/
Redirect /media/press-releases/merchants-leasing-goes-live-with-leasewave-from-odessa.html https://www.odessainc.com/blog/merchants-leasing-goes-live-with-odessa/
Redirect /media/press-releases/csi-leasing-goes-live-with-leasewave-from-odessa-tech.html https://www.odessainc.com/blog/csi-leasing-goes-live-with-odessa/
Redirect /media/press-releases/cole-taylor-equipment-finance-selects-leasewave.html https://www.odessainc.com/blog/cole-taylor-equipment-finance-selects-odessa/
Redirect /media/press-releases/gfc-leasing-goes-live-with-leasewave-from-odessa-tech.html https://www.odessainc.com/blog/gfc-leasing-goes-live-with-odessa/
Redirect /media/press-releases/kaizen-auto-group-selects-leaseWave-from-odessa-tech.html https://www.odessainc.com/blog/kaizen-auto-group-selects-odessa/
Redirect /media/press-releases/Odessa-Technologies-Publishes-Second-Dodd-Frank-Act-White-Paper.html https://www.odessainc.com/newsroom
Redirect /media/press-releases/tata-motors-finance-goes-live-with-leasewave-by-odessa.html https://www.odessainc.com/blog/tata-motors-finance-goes-live-with-odessa/
Redirect /media/press-releases/Trevally-and-Odessa-Sign-Strategic-Partnership.html https://www.odessainc.com/blog/trevally-and-odessa-sign-strategic-partnership/
Redirect /media/press-releases/Odessa-Technologies-Publishes-Dodd-Frank-Act-White-Paper.html https://www.odessainc.com/newsroom
Redirect /media/press-releases/odessatech-ivory-consulting-announce-strategicalliance.html https://www.odessainc.com/blog/odessa-and-ivory-consulting-announce-strategic-alliance/
Redirect /media/press-releases/tcf-equipment-finance-selects-odessa-technologies.html https://www.odessainc.com/blog/tcf-equipment-finance-selects-odessa-to-automate-end-of-lease-processes/
Redirect /media/press-releases/Reliance-Commercial-Finance-goes-live-with-LeaseWave-from-Odessa-Technologies.html https://www.odessainc.com/blog/reliance-commercial-finance-goes-live-with-leasewave-from-odessa/
Redirect /media/press-releases/CSI-Leasing-Selects-LeaseWave-From-Odessa-Technologies.html https://www.odessainc.com/newsroom
Redirect /media/press-releases/The-Bancorp-Bank-Selects-LeaseWave-From-Odessa-Technologies.html https://www.odessainc.com/blog/the-bancorp-bank-selects-odessa/
Redirect /media/press-releases/leaseWave-wins-elfa-technology-award-2011.html https://www.odessainc.com/blog/leasewave-implementation-wins-elfa-technology-award-2011/
Redirect /media/press-releases/reliance-commercial-finance-selects-leasewave.html https://www.odessainc.com/newsroom
Redirect /media/press-releases/GFC-Leasing-Selects-LeaseWave-From-Odessa-Technologies.html https://www.odessainc.com/newsroom
Redirect /media/press-releases/AMW-Capital-Leasing-Goes-Live-With-LeaseWave.html https://www.odessainc.com/blog/associated-motorways-private-limited-goes-live-with-odessa/
Redirect /media/press-releases/meridian-leasing-corp-selects-leasewave-from-odessa.html https://www.odessainc.com/newsroom

## Blog ##
Redirect /resources/blog/leveraging-data-driving-growth-matt-paget-account-manager/ https://www.odessainc.com/blog/leveraging-data-driving-growth
Redirect /resources/blog/discussing-digital-transformation-at-iafn/ https://www.odessainc.com/blog/iafn-discussing-digital-transformation
Redirect /resources/blog/innovate-2019-a-celebration-of-customer-experience/ https://www.odessainc.com/blog/Innovate2019-customer-experience/
Redirect /resources/blog/we-are-hiring-how-odessa-is-navigating-virtual-interviews-and-remote-work/ https://www.odessainc.com/blog/navigating-virtual-interviews-remote-work
Redirect /resources/blog/the-time-is-now-madhu-natarajan https://www.odessainc.com/blog/the-time-is-now
Redirect /resources/blog/the-time-is-now-madhu-natarajan/ https://www.odessainc.com/blog/the-time-is-now/

Redirect /resources/blog/decoding-devops-enable-leasing-innovation https://www.odessainc.com/blog/decoding-devops-enabling-innovation/
Redirect /resources/blog/decoding-devops-enable-leasing-innovation/ https://www.odessainc.com/blog/decoding-devops-enabling-innovation/

Redirect /resources/blog/looking-back-apac-leasing-conference https://www.odessainc.com/newsroom
Redirect /resources/blog/looking-back-apac-leasing-conference/ https://www.odessainc.com/newsroom

Redirect /resources/blog/looking-back-apac-leasing-conference https://www.odessainc.com/newsroom
Redirect /resources/blog/looking-back-apac-leasing-conference/ https://www.odessainc.com/newsroom

Redirect /resources/blog/re-evaluate-your-lease-management-system https://www.odessainc.com/newsroom
Redirect /resources/blog/re-evaluate-your-lease-management-system/ https://www.odessainc.com/newsroom

## Articles ##
Redirect /resources/articles/workflow-efficiency-through-leasing-automation https://www.odessainc.com/newsroom
Redirect /resources/articles/workflow-efficiency-through-leasing-automation/ https://www.odessainc.com/newsroom

Redirect /resources/articles/strides-in-leasing-technology https://www.odessainc.com/newsroom
Redirect /resources/articles/strides-in-leasing-technology/ https://www.odessainc.com/newsroom

Redirect /resources/articles/service-oriented-lease-management-software https://www.odessainc.com/newsroom
Redirect /resources/articles/service-oriented-lease-management-software/ https://www.odessainc.com/newsroom

Redirect /resources/articles/yesterdays-solutions-have-become-todays-problems https://www.odessainc.com/newsroom
Redirect /resources/articles/yesterdays-solutions-have-become-todays-problems/ https://www.odessainc.com/newsroom

Redirect /resources/articles/lease-management-solution-roi-in-the-real-world-of-leasing https://www.odessainc.com/newsroom
Redirect /resources/articles/lease-management-solution-roi-in-the-real-world-of-leasing/ https://www.odessainc.com/newsroom

Redirect /resources/articles/workflow-benefits-more-than-just-small-ticket-lessors https://www.odessainc.com/newsroom
Redirect /resources/articles/workflow-benefits-more-than-just-small-ticket-lessors/ https://www.odessainc.com/newsroom

Redirect /resources/articles/new-rules-for-lease-management-system-selection https://www.odessainc.com/newsroom
Redirect /resources/articles/new-rules-for-lease-management-system-selection/ https://www.odessainc.com/newsroom

Redirect /resources/articles/connecting-the-lease-enterprise-through-lease-management-software https://www.odessainc.com/newsroom
Redirect /resources/articles/connecting-the-lease-enterprise-through-lease-management-software/ https://www.odessainc.com/newsroom

Redirect /resources/articles/internet-based-lease-accounting-software-creating-operational-efficiency-while-crunching-numbers https://www.odessainc.com/newsroom
Redirect /resources/articles/internet-based-lease-accounting-software-creating-operational-efficiency-while-crunching-numbers/ https://www.odessainc.com/newsroom

Redirect /resources/articles/leasing-software-and-fleet-management-converge-to-create-synergies https://www.odessainc.com/newsroom
Redirect /resources/articles/leasing-software-and-fleet-management-converge-to-create-synergies/ https://www.odessainc.com/newsroom

Redirect /resources/articles/leasewave-workflow-offers-innovative-web-based-processing-solutions https://www.odessainc.com/newsroom
Redirect /resources/articles/leasewave-workflow-offers-innovative-web-based-processing-solutions/ https://www.odessainc.com/newsroom

Redirect /resources/articles/how-technology-will-transform-an-industry https://www.odessainc.com/newsroom
Redirect /resources/articles/how-technology-will-transform-an-industry/ https://www.odessainc.com/newsroom

## Datasheets ##
Redirect /media/data-sheets/leasewave-analytics-datasheet.pdf https://www.odessainc.com/newsroom

Redirect /media/data-sheets/leasewave-reportbuilder-datasheet.pdf https://www.odessainc.com/newsroom

## Whitepapers ##
Redirect /media/white-papers/asset-finance-and-the-dodd-frank-act-part-II-main-banking-capital-rules.pdf https://www.odessainc.com/newsroom

Redirect /media/white-papers/asset-finance-and-the-dodd-frank-act-part-I-securitization.pdf https://www.odessainc.com/newsroom

## CaseStudies ##
Redirect /resources/case-studies/icon-investments-chooses-leasewave https://www.odessainc.com/newsroom
Redirect /resources/case-studies/icon-investments-chooses-leasewave/ https://www.odessainc.com/newsroom

Redirect /resources/case-studies/winthrop-resources-corporation-improves-business-productivity-with-leasewave https://www.odessainc.com/newsroom
Redirect /resources/case-studies/winthrop-resources-corporation-improves-business-productivity-with-leasewave/ https://www.odessainc.com/newsroom

## External Links ##
Redirect /blog/the-time-is-now-madhu-natarajan https://www.odessainc.com/blog/the-time-is-now
Redirect /blog/the-time-is-now-madhu-natarajan/ https://www.odessainc.com/blog/the-time-is-now/

## 302 ##
Redirect /company/ https://www.odessainc.com/company
Redirect /company/#revCompany https://www.odessainc.com/company
Redirect /company/#mgntContainer https://www.odessainc.com/company
Redirect /company/#awardsContainer https://www.odessainc.com/company
Redirect /company/#membershipContainer https://www.odessainc.com/company

Redirect /careers/ https://www.odessainc.com/careers

Redirect /products/equipment-finance.html https://www.odessainc.com/platform/core
Redirect /products/equipment-finance/asset-management.html https://www.odessainc.com/platform/core
Redirect /products/equipment-finance/funding-syndication.html https://www.odessainc.com/platform/core
Redirect /products/equipment-finance/certificate-of-acceptance.html https://www.odessainc.com/platform/core
Redirect /products/equipment-finance/contract-servicing.html https://www.odessainc.com/platform/core
Redirect /products/equipment-finance/compliance-risk.html https://www.odessainc.com/platform/core
Redirect /products/equipment-finance/accounting.html https://www.odessainc.com/platform/core

Redirect /products/fleet-management.html https://www.odessainc.com/platform/core
Redirect /products/vehicle-fleet-leasing/vehicle-management.html https://www.odessainc.com/platform/core
Redirect /products/vehicle-fleet-leasing/billing-and-collections.html https://www.odessainc.com/platform/core
Redirect /products/mobility.html https://www.odessainc.com/platform/developer-tools
Redirect /products/analytics.html https://www.odessainc.com/platform/developer-tools
Redirect /products/report-builder.html https://www.odessainc.com/platform
Redirect /products/customer-portal.html https://www.odessainc.com/platform
Redirect /products/vendor-portal.html https://www.odessainc.com/platform

Redirect /products/platform https://www.odessainc.com/platform
Redirect /products/platform/ https://www.odessainc.com/platform

Redirect /products https://www.odessainc.com/platform
Redirect /products/ https://www.odessainc.com/platform

Redirect /solutions https://www.odessainc.com/cloud
Redirect /solutions/ https://www.odessainc.com/cloud

Redirect /services/support.html https://odessainc.force.com/customer/login
Redirect /services/training.html https://odessainc.force.com/customer/login
Redirect /services/consulting.html https://odessainc.force.com/customer/login
Redirect /services https://odessainc.force.com/customer/login
Redirect /services/ https://odessainc.force.com/customer/login

Redirect /technology/system-architecture.html https://www.odessainc.com/design-principles
Redirect /technology/differentiators.html https://www.odessainc.com/design-principles
Redirect /technology https://www.odessainc.com/design-principles
Redirect /technology/ https://www.odessainc.com/design-principles

Redirect /whyswitch https://www.odessainc.com/design-principles
Redirect /whyswitch/ https://www.odessainc.com/design-principles
Redirect /whySwitch https://www.odessainc.com/design-principles
Redirect /whySwitch/ https://www.odessainc.com/design-principles

Redirect /media/news-events/events.html https://www.odessainc.com/newsroom
Redirect /media/news-events/news.html https://www.odessainc.com/newsroom
Redirect /media/news-events https://www.odessainc.com/newsroom
Redirect /media/news-events/ https://www.odessainc.com/newsroom

Redirect /media/press-releases https://www.odessainc.com/newsroom
Redirect /media/press-releases/ https://www.odessainc.com/newsroom

Redirect /resources/blog https://www.odessainc.com/newsroom
Redirect /resources/blog/ https://www.odessainc.com/newsroom

Redirect /resources/articles https://www.odessainc.com/newsroom
Redirect /resources/articles/ https://www.odessainc.com/newsroom

Redirect /resources/case-studies https://www.odessainc.com/newsroom
Redirect /resources/case-studies/ https://www.odessainc.com/newsroom

Redirect /resources/white-papers https://www.odessainc.com/newsroom
Redirect /resources/white-papers/ https://www.odessainc.com/newsroom

Redirect /resources/data-sheets https://www.odessainc.com/newsroom
Redirect /resources/data-sheets/ https://www.odessainc.com/newsroom

Redirect /resources/video https://www.odessainc.com/newsroom
Redirect /resources/video/ https://www.odessainc.com/newsroom

Redirect /resources https://www.odessainc.com/newsroom
Redirect /resources/ https://www.odessainc.com/newsroom

Redirect /partner-network https://www.odessainc.com/lets-talk
Redirect /partner-network/ https://www.odessainc.com/lets-talk

Redirect /contact https://www.odessainc.com/lets-talk
Redirect /contact/ https://www.odessainc.com/lets-talk

Redirect /legal/privacy.html https://www.odessainc.com/privacy-policy
Redirect /legal/terms.html https://www.odessainc.com/terms-of-use

Redirect /legal/confidential_terms https://www.odessainc.com/legal/confidential-terms
Redirect /legal/confidential_terms/ https://www.odessainc.com/legal/confidential-terms

Redirect /events/innovate2019/register https://www.odessainc.com/
Redirect /events/innovate2019/register/ https://www.odessainc.com/
Redirect /events/innovate2019 https://www.odessainc.com/
Redirect /events/innovate2019/ https://www.odessainc.com/

Redirect /sitemap.html https://www.odessainc.com/sitemap.xml
