
@media only screen and (max-width: 1600px) {
.xm-nav .sub-group {
    width: 250px !important;
    max-width: 250px !important;
}
}
@media only screen and (max-width: 1500px) {
footer .footer_menuwr .footer_li_wrap a {
    font-size: 18px !important;
  }
footer .footer_menuwr .footer_li_wrap p {
      font-size: 18px !important;
}
}

@media only screen and (max-width: 1200px) {
footer {
    background: #f3f3f5;
    padding: 100px 30px 40px 30px;
}

}
@media only screen and (max-width: 1170px) {
footer .footer_menuwr .footer_li_wrap a {
    font-size: 14px !important;
}
footer .footer_menuwr .footer_li_wrap p {
    font-size: 14px !important;
}
footer .footer_li_wrap span.footer_li_heading {
    font-size: 20px !important; 
}
}
@media only screen and (max-width: 991px) {
/*CSS Date Start 01-07-2020*/
.xm-nav .sub-back-btn {
    text-align: left;
}
.nav-item .bold-nav .active{
    display: block;
}

.bottom-section.main-bg {
    display:block !important;
}
.xm-nav .container {
    height: 700px;
    overflow-y: auto;
}
.bottom-section {
    opacity: 1;
    transform: translateX(0) !important;
}
.xm-nav .primary-nav {
    display: none !important;
}
.xm-nav .sub-group li.heading-item {
    display: block;
}
.mobile-section {
    transform: translateX(0) !important;
}
.xm-nav .sub-group li {
     display:block !important; 
     border-bottom: 0 !important;
       margin: 10px 2px !important;
}
.xm-nav .expand-indicator::after {
    border: 2px solid #fff !important;
}
.xm-nav .container {
    padding: 0 15px 0 20px !important;
}
.xm-nav .sub-group li .expand-indicator, .xm-nav .primary-nav li .expand-indicator {
    display: none !important;
}
.xm-nav .sub-group {
    float: left ! important;
    width: 50% !important;
}
.xm-nav .xm-sub-nav {
    overflow: scroll !important;
}
.xm-nav .sub-group {
    width: auto !important; 
    max-width: initial !important; 
    float: left !important;
    width: 50% !important;
}
.mobile_goup{
    width: 100% !important;
}
.mobile_goup .sab_catogry_wrap{
height:120px !important;
}
.mobile_goup .sab_catogry_wrap_top{
height:220px !important;
}
.xm-nav .xm-sub-nav {
    border-bottom: 2px solid #8080804f;
}
.xm-nav .expand-indicator.back {
    display: none !important;
}
.xm-nav .sub-back-btn{
    padding-left: 0px !important;
    font-size: 18px !important;
    font-weight: bold !important;
       text-align: left !important;
}
.heading-item .bold-nav{
    font-size: 16px !important;
    font-weight: bold;
}
.fixed_data{
     display: block;
     background-color: #e1e2e3;
     padding: 10px;
}
.xm-nav .xm-sub-nav {
    margin-top: 0px !important;
    padding: 0 !important;
}
.footermenu_strip {
    padding: 40px 20px 30px 20px !important;
}
/*CSS Date End 01-07-2020*/
}
@media only screen and (max-width: 767px) {
	footer {
    background: #f3f3f5 !important;
    padding: 100px 30px 40px 50px !important;
}
footer .footer_li_wrap{
	 width: 50% !important;
	 margin-bottom: 20px !important;
}
footer .desktop_view_footer{
	display: none !important;
}
footer .mobile_view_footer{
	display:block !important;
	width: 100% !important;
	float: none !important;
	margin-bottom: 30px !important;
}
footer .footer_menuwr .footer_li_wrap p {
    line-height: 25px !important;
    margin: 10px 0 10px 0 !important;

}
footer .footer_menuwr .footer_li_wrap ul {
    margin: 30px 0 0 0 !important;
}
footer .footer_menuwr .footer_li_wrap .moblie_view_mrgn{
    padding-left: 30px;
}
.xm-nav .mobile-section, .xm-nav .bottom-section {
    opacity: 1 !important;
   left: -20px !important;
   top: 78px !important
   }
   .xm-nav.mobile-active #main-nav {
    display: contents !important;
    margin-top: 100px !important;
}
.primary-wrapper{
    display: none !important;
}
/*CSS Date 01-07-2020*/
.footerbottommenu {
    float: none !important;
    padding-top: 10px !important;
    padding-left: 0px !important; 
}
.footermenu_strip {
    padding: 60px 20px 30px 20px !important;
}
#mobile_social{
  display: block !important;
}
#desktop_social{
    display: none !important;
}
/*CSS Date End 01-07-2020*/
}
