<footer>
    <div class="container">
    <div class="footer_menuwr clearfix">
        <div  class=" footer_li_wrap mobile_view_footer">
            <h4>Get Started</h4>
            <p>If you're considering Odessa to transform your asset finance business or need more platform information, we're here to help.</p>
            <h5 class="footer_li_heading">+1 888-683-2484</h5>
        </div>
        <div class="footer_li_wrap">
            <h4>Platform</h4>
            <ul>
                <li><a href="<?php echo base_url(); ?>platform/core" hreflang="en">Odessa Core</a></li>
                <li><a href="<?php echo base_url(); ?>platform/core" hreflang="en">Odessa Origination</a></li>
                <li><a href="<?php echo base_url(); ?>platform/core/" hreflang="en">Odessa Servicing</a></li>
                <li><a href="<?php echo base_url(); ?>platform/developer-tools" hreflang="en">Odessa Build</a></li>
                <li><a href="<?php echo base_url(); ?>automotive-finance-software" hreflang="en">Automotive Finance</a></li>

                <li><a id="features" href="<?php echo base_url(); ?>platform" hreflang="en">View all platform<span> features</span></a></li>
            </ul>
        </div>
        <div class="footer_li_wrap">
            <div class="moblie_view_mrgn">
                <h4>About Odessa</h4>
                <ul>
                    <li><a href="<?php echo base_url(); ?>company" hreflang="en">Company</a></li>
                    <li><a href="<?php echo base_url(); ?>careers" hreflang="en">Careers</a></li>
                    <li><a href="<?php echo base_url(); ?>newsroom" hreflang="en">Events + Webinars</a></li>
                    <li><a href="<?php echo base_url(); ?>newsroom" hreflang="en">Newsroom</a></li>
                    <li><a id="contactUs" href="<?php echo base_url(); ?>lets-talk" hreflang="en">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="clearmenurwmb"></div>
        <div class="footer_li_wrap">
            <h4>Engage +  Learn</h4>
            <ul>
                <li><a href="https://odessainc.force.com/customer/s/" target="_blank" hreflang="en">Customer Community</a></li>
                <li><a href="https://odessainc.talentlms.com/" target="_blank" hreflang="en">Odessa University</a></li>
                <li><a href="<?php echo base_url(); ?>newsroom" hreflang="en">Resources</a></li>
                <li><a href="https://odessainc.force.com/customer/s/" target="_blank" hreflang="en">Support</a></li>
            </ul>
        </div>
        <div class="footer_li_wrap">
            <div class="moblie_view_mrgn">
                <h4>Why Odessa</h4>
                <ul>
                    <li><a href="<?php echo base_url(); ?>design-principles" hreflang="en">Design Principles</a></li>
                    <li><a href="<?php echo base_url(); ?>xaas-everything-as-a-service" hreflang="en">As-a-Service</a></li>
                    <li><a href="<?php echo base_url(); ?>xaas-everything-as-a-service" hreflang="en">Pay Per Use</a></li>
                    <li><a href="<?php echo base_url(); ?>xaas-everything-as-a-service" hreflang="en">Subscription Management</a></li>
                    <li><a href="<?php echo base_url(); ?>cloud" hreflang="en">Migrate to Cloud</a></li>
                </ul>
            </div>
        </div>
        <div  class="footer_li_wrap desktop_view_footer">
            <h4>Get Started</h4>
            <p>If you're considering Odessa to transform your asset finance business or need more platform information, we're here to help.</p>
            <h5 class="footer_li_heading"><a href="tel:888-683-2484">+1 888-683-2484</a></h5>
        </div>
    </div>
    </div>
</footer>
<div class="footermenu_strip">
    <div class="container">
    <div class="footermenu_strip_inner clearfix">
        <div class="stripfbox">
            <div class="socailicons_newsletter">
                <div class="social_icon"> 
                    <a href="https://www.facebook.com/OdessaInc/" target="_blank" aria-label="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                    <a href="https://twitter.com/OdessaTech" target="_blank" aria-label="Twitter">		
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" style="width: 19px;height: 19px;fill: #fff;"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                    </a> 
                    <a href="https://www.linkedin.com/company/odessa-inc-/" target="_blank" aria-label="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                    <a href="https://www.instagram.com/odessainc/" target="_blank" aria-label="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                    <a href="https://www.youtube.com/odessainc" target="_blank" aria-label="YouTube"><i class="fa fa-youtube" aria-hidden="true"></i></a> </div>
            </div>
            <div id="desktop_social" class="footerbottommenu">
                <ul class="list-unstyled list-inline">
                    <li>2024 © Odessa</li>
                    <li><a href="<?php echo base_url(); ?>terms-of-use" hreflang="en">Terms of Use</a></li>
                    <li><a href="<?php echo base_url(); ?>privacy-policy" hreflang="en">Privacy</a></li>
                    <li><a href="<?php echo base_url(); ?>odessa-modern-slavery-act-statement">Modern Slavery Act Statement</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
    
    
<?php
    $this->minify->js( array('owl.carousel.js', 'bootstrap.js', 'jquery.cookieMessage.min.js', 'stickySidebar.min.js', 'v1-script.js', 'script.js') );

    echo $this->minify->deploy_js();
?>
    
<script src="<?php echo base_url(); ?>assets/js/aos.js?v=7001" async></script>
<script src="<?php echo base_url(); ?>assets/js/main.js?v=824334" async></script>
<script src="<?php echo base_url(); ?>assets/js/lazysizes.min.js?v=900232" async></script>
<script async>
    
    setTimeout(function(){
    $.cookieMessage({
        'mainMessage': 'This website uses cookies to ensure you get the best experience. <a href="<?php echo base_url(); ?>privacy-policy">Privacy Policy</a>. ',
        'acceptButton': 'Got It!',
    });
    AOS.init({
        throttleDelay: 0,
    });
    }, 4000); 
</script>
<script type="text/javascript" src="<?php echo base_url(); ?>assets/js/addthis_widget.js?v=900232" async="async"></script> 
<script src="//rum-static.pingdom.net/pa-609d1be23a9c8c0011000021.js" async></script>
</body>
    
</html>