
#bodyId .navbar {
    display: none;
    }
 #bodyId footer {
    display: none;
}
#bodyId .footermenu_strip{
    display: none;
}
#wrapper.api-body{
    margin: 0;
}
#wrapper .api-wrapper{
    margin:0;
    background:url('../images/api/banner-bg.png') 0 0 no-repeat #213847;
    position: relative;
    overflow: hidden
}
.api-body #primaryForm{
    margin-top: 40px;
}
.api-header .api-logo{
 
    margin: 38px 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    display: flex;
    align-items: center;
}
.api-header .navbar-brand{
    padding: 0;
    height: auto;
    font-size: 0;
    line-height: 0;
}
.whitepaper-tag{
    margin-left: 33px;
    position: relative;
}
.whitepaper-name{
    top: 25%;
    left: 0;
    color: #FFF;
    font-family: "Maison Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    align-items: center;
}
.gradient{
    position: absolute;
    z-index: 0;
}
.api-banner{
    width: 100%;
    margin-bottom: 38px;
    margin-top: 80px;
    position: relative;
    z-index: 1;
    max-width: 848px;
}
.api-heading{
    color: #FFF;
    font-family: "Maison Neue";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.api-banner p{
color: #FFF;
font-family: "Maison Neue";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-bottom: 20px;
}
.api-banner span.blue{
    color: #00ACC8;
}
.key-takeaways{
    border-radius: 20px;
    background: #F3F3F5;
    padding: 40px;
    width: calc(50% - 85px);
    margin-right: 85px;
    height: max-content;
    max-width: 848px 
}
.h3-head{
    color: #00ACC8;
font-family: "Maison Neue";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 26px;
}
.letstalkform.get-copy .form-group{
    margin-bottom: 24px;
}
.plane{
    width: 238px;
    margin: 0 auto 27px auto;
    display: block;
}
.get-copy .h3-head{
    margin: 0;
    text-align: center;
}
label[for="honeypot"], #honeypot {
    display: none;
    visibility: hidden;
}
.key-takeaways ul{
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
.key-takeaways ul li{
    color: #555B6D;
font-family: "Maison Neue";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin: 0 0 20px 0;
position: relative;
list-style: none;
padding-left: 16px;
}
.key-takeaways ul li:last-child{
    margin: 0;
}
.key-takeaways ul li:after{
    content: url(../images/api/stroke.svg);
    position: absolute;
    left: 0;
    width: 8px;
    height: 8px;
    top: -2px;
}
.key-takeways-section{
    margin:38px 0 0;
  
}
.get-copy{
    border-radius: 20px;
    background: #FFF;
    backdrop-filter: blur(25px);
    width: calc(50% - 85px);
    max-width: 703px;
    margin-left: 85px;
    position: relative;
    top: -380px;
    padding: 37px 40px 40px 40px;
}
.take-flex{
    display: flex;
    flex-flow: row;
}
.get-copy .btnmar{
    width: 100%;
    color: #FFF;
    font-family: "Maison Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
    background: #FF495C;
    text-transform: uppercase;
}
.api-logo svg{
    width: 165px;
    height: 52px;
}
.get-copy .capt{
    margin: 0 auto;
    width: 300px;
}
/* .recaptcha-checkbox-border{
    width: 20px !important;
    height: 20px !important;
} */
@media only screen and (max-width: 1700px) {
    .api-banner{
        max-width: 600px;
    }
    .key-takeaways{
        width: calc(55% - 25px);
        margin-right: 25px;
        max-width:100%;
    }
    .get-copy{
    width: calc(45% - 25px);
    max-width: 100%;
    margin-left: 25px;
}
}
@media only screen and (max-width: 1400px) {
    .api-banner{
        width:55%;
    }

}
@media only screen and (max-width: 1200px) {
    .api-banner {
        max-width: 600px;
    }
}
@media only screen and (max-width: 1024px) {
    .api-banner {
        width: 100%;
        max-width: 100%;
    }
    .take-flex{
        flex-wrap: wrap;
        flex-flow: column-reverse;
    }
    .key-takeaways,.get-copy{
        width: 100%;margin: 0;
    }
    .get-copy{
        top:0
    }
    .key-takeaways{
        margin: 40px 0;
    }
}

@media only screen and (max-width: 767px) {
.whitepaper-name {
    top: 20%;
    font-size: 14px;
}
.whitepaper{
    width: 100%;
}
.api-header .navbar_wrapper{
    margin: 0;
    padding: 0;
}
.api-logo svg {
    width: 100px;}
    .api-heading{
        font-size: 2rem;
    }
    .api-banner p{
        font-size: 16px;
    }
    #wrapper .api-wrapper{
        background-image: none;
    }
    .gradient svg{
        width: 100%;
    }
    .plane {
        width: 100px;}
        .get-copy{
            padding: 30px 15px;
        }
        .key-takeaways{
            padding: 30px 15px;
        }
}