html.i-amphtml-fie > body,
html.i-amphtml-singledoc > body {
  scroll-behavior: auto;
  overscroll-behavior: none !important;
}
#wrapper.ready-rethink.flexible-asset.competitive .api-wrapper {
  background: url(../images/api/half-circle.png) right 0 no-repeat #0d2332;
}
.flexible-asset.competitive .api-banner{
  max-width: 70%;
  margin-bottom: 60px;
}
.lease.handbook .api-banner{
  max-width: 60%;
  margin-bottom: 60px;
  margin-top: 50px;
}
.lease .change-para{
  margin-bottom: 20px;
}
.handbook.lease .key-takeaways{
  margin-top: 20px ;
}
#wrapper.lease .letstalkform.get-copy .form-group {
  margin-bottom: 10px;
}
.handbook.lease .get-copy {
  top: 8px;max-width: 440px
}
.lease .btnmar{
  margin-top: 20px;
}
#wrapper.ready-rethink.flexible-asset.competitive.Eric-blog .api-wrapper {
  background: url(../images/api/scott.png) right 0 no-repeat #0d2332;
}
.flexible-asset.competitive .key-takeways-section{
  padding: 40px 0;
  background: #fff;
}
.flexible-asset.ready-rethink.competitive p {
  font-weight: 400;
}
.ready-rethink.flexible-asset.competitive .key-takeaways ul.cycle li:last-child{
  margin-bottom: 0px;
}
.ready-rethink.competitive .key-takeaways ul li{
  margin-bottom: 20px;
}
.key-takeaways ul.functional-gaps{
  margin: 40px 0 0;
}
.life-cycle{
  margin: 30px 0;width: 100%;
}
.flexible-asset.ready-rethink.competitive .top-section{
  background: #fff;top:0;margin:0;
}
.ready-rethink.competitive .reasons-consider-odessa .bg-grey{
  background: #F3F3F5;
  padding: 20px 40px;
}
.ready-rethink.competitive .talk-team{
  background:#085B7B;    padding: 50px 0;
}
.ready-rethink.competitive .business-talk{
  width: 80%;
}
.ready-rethink.flexible-asset.competitive .letstalkform{
  background: transparent;
  padding: 0;
  box-shadow: unset;
}
.orange-btn{
  background: #FC5D19;
  border-color: #FC5D19;
  border-radius: 8px;
  font-size: 16px;
  width: 180px;
  width: 180px;
  height: 45px;
  display: flex;
  transition: all 0.5s ease;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.flexible-asset.competitive .api-banner h1{
      margin: 0 0 30px 0;
}
.orange-btn:hover{
  background: #a94115;
  border-color: #b9a49b;
  color: #fff;
  border-bottom: 1px solid;
}
.ready-rethink.competitive .letstalkform .form-control{
  width: 50%;
}
.ready-rethink.flexible-asset.competitive .key-takeaways ul.cycle li{
padding-left: 30px;}
.ready-rethink.flexible-asset.competitive .key-takeaways ul.cycle li:after{
  content: url(../images/api/stroke.svg);top:0;left:0
}
.ready-rethink .world-dedicated .key-takeaways{
  max-width: 70%
}
.flexible-asset.ready-rethink.competitive .top-section.world-dedicated {
  background: #F3F3F5;
}
.business-talk h2, .business-talk p{color: #fff !important}
.subscribe-form .get-copy {
  margin: 120px auto 100px;
  max-width: 800px;
  position: relative;
  left: 0;
  background: transparent;
  box-shadow: none;
  backdrop-filter: unset;
}
.subscribe-form {
  background: #0d2332;
  background: url(../images/api/subscribe-bg.png) right 0 no-repeat #213847;
  max-width: 100%;
  padding: 0 0 1px 0;
  background-size: cover;
}
.subscribe-form.api-body .disclaimer,
.subscribe-form.api-body label,
.subscribe-form.ready-rethink p {
  color: #fff;
  cursor: pointer;
}
.ready-rethink.subscribe-form .letstalkform .form-control {
  border: 2px solid #c6c6c6;
}
.subscribe-form .get-copy .subscribe-btn {
  color: #ffffff !important;
  border-width: 1px !important;
  border-color: #fc5d19;
  border-radius: 8px;
  font-size: 15px;
  background-color: #fc5d19;
  width: auto;
  margin: 0 auto;
  display: block;
  position: relative;
  text-transform: none;
  letter-spacing: 0.5px;
  padding-top: 12px !important;
  padding-right: 50px !important;
  padding-bottom: 12px !important;
  padding-left: 50px !important;
}
.subscribe-form .get-copy .subscribe-btn:hover {
  color: #ffffff !important;
  background-image: initial;
  background-color: #fc5d19;
  box-shadow: none;
}
.ready-rethink.subscribe-form.thank .get-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.subscribe-form .thank-u {
  display: block;
  height: auto;
  text-align: center;
}
.subscribe-form .get-copy .subscribe-btn:before {
  font-size: 22px;
  transition: all 300ms ease 0ms;
  line-height: 1em;
  content: "\003E";
  opacity: 0;
  position: absolute;
  margin-left: -1em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-feature-settings: "kern" off;
  font-feature-settings: "kern" off;
  font-variant: none;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  top: 14px;
}
.subscribe-form .get-copy .subscribe-btn:hover:before {
  opacity: 1;
  margin-left: 85px;
}
.annual-elfa {
  height: 100vh;
}
.annual-elfa .api-banner {
  margin-top: 0;
  margin-bottom: 0;
}
.thank-u {
  display: flex;

  align-items: center;
  height: 200px;
}
.thank-u h2 {
  margin: 0;
  line-height: 35px;
  font-size: 22px;
}
.thank-u .api-heading {
  font-size: 2rem;
  line-height: 45px;
}
.ready-rethink.annual-elfa .get-copy .btnmar {
  background: #fc5d19;
}
.ready-rethink.annual-elfa .get-copy {
  position: relative;
  top: 0;
  padding: 30px;
  right: 0;
  height: auto;
}
.annual-elfa .take-flex {
  height: 90vh;
  display: flex;
  flex-flow: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

#wrapper.ready-rethink.annual-elfa .api-wrapper {
  background-size: contain;
}
.annual-elfa .api-heading {
  margin-bottom: 20px;
}
#bodyId .navbar {
  display: none;
}
#bodyId footer {
  display: none;
}
.rigid-platform .free-copy img {
  width: auto;
}
.rigid-platform .free-copy {
  width: auto;
}
#bodyId::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}
.ebook .know-more:after {
  display: none;
}
.ebook.lease .know-more:after {
  display: block;
}
.lease .know-more span{
  font-family: MaisonNeue-Book;
}
.lease.ebook .know-more{
  padding-left: 14px;
}
.flexible-asset.ready-rethink .trusted-companies p {
  font-weight: 400;
}
.ebook .know-more {
  padding-left: 0;
}
.rigid-system {
  position: relative;
}
.rigid-system .box-container {
  position: absolute;
  top: -60px;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
}
.rigid-system .box {
  width: 360px;
  height: 110px;
  top: 488px;
  left: 100px;
  padding: 22px 22px 20px 22px;
  border-radius: 12px;
  opacity: 0px;
  background: #fff;
  color: #00acc8;
  font-weight: 600;
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-right: 20px;
}
.rigid-system .box img {
  margin-right: 10px;
}
.handbook .flex {
  display: flex;
  justify-content: space-between;
}

#bodyId .footermenu_strip {
  display: none;
}
#wrapper.api-body {
  margin: 0;
}
#wrapper.api-thankyou {
  /* background: url(../images/api/thank-you-banner.png) 0px -54px no-repeat #ffffff;
    background-size: contain; */
}
#wrapper .api-wrapper {
  margin: 0;
  background: url(../images/api/banner-bg.png) right 0 no-repeat #213847;
  position: relative;
  overflow: hidden;
  height: 100%;
  background-size: contain;
}
#wrapper.ready-rethink.annual-elfa .api-wrapper {
  background: url(../images/api/elfa-bg.png) right 0 no-repeat #213847;
  background-size: cover;
}
#wrapper.ebook .api-wrapper {
  background: url(../images/api/handbook-bg.svg) right 0 no-repeat #213847;
}
#wrapper.ebook.lease.handbook .api-wrapper{
  background: url(../images/api/ready-rethink.png) right 0 no-repeat #0d2332;
}
#wrapper.ebook.handbook .api-wrapper {
  background-image: none;
  background-size: 50% 100%;
}
.change-para {
  max-width: 55%;
  font-size: 18px;
  margin-bottom: 50px;
}
.handbook .key-takeaways {
  max-width: 55%;
}
.handbook .api-banner {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 80px;
}
#wrapper .api-thanku-wrapper {
  background: none;
  /* height: 100vh; */
  margin-top: 60px;
}
.api-body .container {
  padding: 0;
}

.api-body #primaryForm {
  margin-top: 15px;
}
.api-body.ebook #primaryForm {
  margin-top: 0;
}
.api-header .api-logo {
  margin: 38px 0 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  display: flex;
  align-items: center;
}
.api-header .navbar-brand {
  padding: 0;
  height: auto;
  font-size: 0;
  line-height: 0;
}
.api-header .navbar_wrapper {
  margin: 0;
}
.whitepaper-tag {
  margin-left: 33px;
  position: relative;
}
.know-more {
  font-size: 22px;
  font-family: MaisonNeue-Book;
  font-style: normal;
  line-height: 32px;
  color: #fff;
  margin-bottom: 40px;
  position: relative;
  padding-left: 14px;
}
.know-more:after {
  border-radius: 10px 0px 0px 10px;
  background: #00abc8;
  position: absolute;
  width: 4px;
  height: 55px;
  content: "";
  left: 0;
  top: 3px;
}
#wrapper.ready-rethink .api-wrapper {
  background: url(../images/api/ready-rethink.png) right 0 no-repeat #0d2332;
}
#wrapper.ready-rethink.flexible-asset .api-wrapper {
  background: url(../images/platform/flexible-bg.png) right 0 no-repeat #0d2332;
  background-size: contain;
}
.flexible-asset .api-banner {
  max-width: 60%;
  margin-bottom: 70px;
}
.flexible-asset .api-banner p {
  font-size: 18px;
}
/* .flexible-asset{
    background:#F3F3F5;
} */
.rigid-banner {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  margin-top: 60px;
}
.ready-rethink .h3-head {
  margin-bottom: 20px;
}
.ready-rethink .key-takeaways ul li {
  padding-left: 55px;
  color: #0d2332;
  font-size: 18px;
}
.ready-rethink .get-copy {
  top: 15px;
}
.ready-rethink .key-takeaways ul li:after {
  top: 8px;
  content: url(../images/api/insights.svg);
}
.api-body.ready-rethink #primaryForm {
  margin-top: 0;
}
.ready-rethink .flex {
  display: flex;
  justify-content: space-between;
}
.ready-rethink .letstalkform .form-control {
  border: 2px solid #c6c6c6;
}
.api-body .disclaimer {
  color: #0d2332;
}
.flexible-asset .top-section {
  top: -260px;
}
.ready-rethink p {
  margin-bottom: 20px;
  color: #0d2332;
}
.ready-rethink .get-copy .btnmar {
  margin-top: 10px;
}
.ready-rethink .key-takeaways ul li.customer:after {
  content: url(../images/api/customer-centric.svg);
}
.ready-rethink .key-takeaways ul li.faster:after {
  content: url(../images/api/faster-time.svg);
}
.ready-rethink .key-takeaways ul li.technical:after {
  content: url(../images/api/technical.svg);
}
.ready-rethink .key-takeaways ul li.security:after {
  content: url(../images/api/security.svg);
}
.ready-rethink .key-takeaways ul li.development:after {
  content: url(../images/api/development.svg);
}
.ready-rethink .key-takeaways ul li.bug:after {
  content: url(../images/api/bug.svg);
}
.ready-rethink .key-takeaways ul li.personnel:after {
  content: url(../images/api/personnel.svg);
}
.ready-rethink .key-takeaways ul li.maintainence:after {
  content: url(../images/api/maintainence.svg);
}
.ready-rethink.flexible-asset.competitive .key-takeaways ul li:after{
  top:-8px;left:-9px
}
.ready-rethink .key-takeaways ul li.cut-cost:after {
  content: url(../images/api/cut-cost.svg);
  width: 60px;
  height: 60px;
  top: -12px;
  left: -7px;
}
.ready-rethink .key-takeaways ul li.delight:after {
  content: url(../images/api/delight.svg);
  width: 60px;
  height: 60px;
  top: -12px;
  left: -7px;
}
.ready-rethink .key-takeaways ul li.operational:after {
  content: url(../images/api/operational.svg);
}
.ready-rethink .key-takeaways ul li.scalable:after {
  content: url(../images/api/scalable.svg);
  width: 60px;
  height: 60px;
  top: -12px;
  left: -7px;
}
.ready-rethink p {
  font-size: 16px;
  font-weight: 600;
}
/* .flexible-asset .cannon-image{
    width: 20%;
} */

.flexible-asset .cannon-image img {
  width: auto;
  height: auto;
}
.flexible-asset .mob {
  display: none;
}
.flexible-asset.ready-rethink p {
  font-weight: 600;
  font-size: 18px;
}
.flexible-asset .api-header .api-logo {
  position: relative;
}

.flexible-asset .h3-head {
  font-size: 27px;
  font-style: normal;
  line-height: 32px;
  font-family: MaisonNeue-Book;
  font-weight: 600;
}
.flexible-asset .key-takeways-section {
  padding: 130px 0 200px 0;
  margin: 0;
  background: #f3f3f5;
}
.flexible-asset .api-banner {
  margin-bottom: 130px;
}
.ready-rethink .key-takeaways {
  background: none;
  padding: 0;
  max-width: 60%;
}
.ready-rethink {
}
.ready-rethink .know-more {
  padding-left: 0px;
}
.ready-rethink .know-more:after {
  content: none;
}
.know-more span {
  display: block;
  font-family: MaisonNeue-Bold;
}
.whitepaper-name {
  top: 25%;
  left: 0;
  color: #fff;
  font-family: MaisonNeue-Bold;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  align-items: center;
}
.gradient {
  position: absolute;
  z-index: 0;
  opacity: 0.1;
}
.api-banner {
  width: 100%;
  margin-bottom: 38px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  max-width: 848px;
}
.subscribe-form .api-heading{
    color:#00acc8
}
.api-heading {
  color: #fff;
  font-family: MaisonNeue-Bold;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 10px;
}
.footermenu_strip_inner .social_icon a:focus {
  text-decoration: none;
}
.blue {
  color: #00abc8;
  margin-bottom: 10px;
}
.bg-grey {
  background: #f3f3f5;
}
.employee-uptodate h2,
.employee-uptodate p {
  color: #0d2332 !important;
}
.flexible-asset.ready-rethink .employee-uptodate p {
  margin-bottom: 20px;
  font-weight: 400;
}
.employee-uptodate {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-flow: column;
}
.flexible-asset.ready-rethink .api-banner p {
  font-weight: 400;
}
.rigid-platform {
  height: 10vh;
}
.odc__btn--primary.orange {
  background: #fc5d19;
  border-radius: 8px;
  margin-top: 10px;
}
.odc__btn--primary.orange:hover {
  box-shadow: inset 0 -5px 0 #c84a13;
  -moz-box-shadow: inset 0 -2px 0 #c84a13;
}
.cannon-part .btn:hover {
  box-shadow: inset 0 -5px 0 #c84a13;
  -moz-box-shadow: inset 0 -2px 0 #c84a13;
}
.employee-image {
  padding-right: 30px;
  padding-top: 10px;
}
.flexible-asset .top-section.bg-grey {
  text-align: left;
  height: auto;
}
.flexible-asset.ready-rethink .not-ready p {
  font-weight: 400;
}
.flexible-asset .not-ready h2 {
  margin-bottom: 20px !important;
}
.api-banner p {
  color: #fff;
  font-family: MaisonNeue-Book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.api-banner span.blue {
  color: #00acc8;
}
.key-takeaways {
  border-radius: 20px;
  background: #f3f3f5;
  padding: 40px;
  width: calc(100% - 85px);
  margin-right: 85px;
  height: max-content;
  max-width: 848px;
}
.h3-head {
  color: #00acc8;
  font-family: MaisonNeue-Bold;
  font-size: 24px;
  font-style: normal;

  line-height: 28px;
}
.letstalkform.get-copy .form-group {
  margin-bottom: 24px;
}
.plane {
  width: 85px;
  margin: 0 auto 12px auto;
  display: block;
}
.get-copy .h3-head {
  margin: 0;
  text-align: center;
}
label[for="honeypot"],
#honeypot {
  display: none;
  visibility: hidden;
}
.key-takeaways ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
#wrapper .letstalkform .form-control {
  padding: 10px;
}
#wrapper .letstalkform.get-copy .form-group {
  margin-bottom: 15px;
}
#wrapper .letstalkform.get-copy .flex .form-group {
  width: 48%;
}
.key-takeaways ul li {
  color: #555b6d;
  font-family: MaisonNeue-Book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 20px 0;
  position: relative;
  list-style: none;
  padding-left: 16px;
}
.key-takeaways ul li:last-child {
  margin: 0;
}
.key-takeaways ul li:after {
  content: url(../images/api/stroke.svg);
  position: absolute;
  left: 0;
  width: 8px;
  height: 8px;
  top: -2px;
}
.key-takeways-section {
  margin: 40px 0;
}
.get-copy {
  border-radius: 20px;
  background: #fff;
  backdrop-filter: blur(25px);
  width: calc(100% - 85px);
  max-width: 703px;
  margin-left: 85px;
  position: fixed;
  bottom: 0;
  padding: 25px 25px 0 25px;
  right: 40px;
  top: 33px;
}
.handbook .get-copy {
  top: 25px;
}

.take-flex {
  display: flex;
  flex-flow: row;
  position: relative;
}
.get-copy .btnmar {
  width: 100%;
  color: #fff;
  font-family: MaisonNeue-Book;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #ff495c;
  text-transform: uppercase;
}
.api-logo svg {
  width: 165px;
  height: 52px;
}
.get-copy .capt {
  margin: 0 auto;
  width: 300px;
}
/* thank you */
.api-thank-conent {
  max-width: 838px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.api-header-thank {
  margin-top: 37%;
  position: relative;
  margin: 0 auto;
  /* left: 0; */
  /* right: 0; */
  width: 100%;
  padding-top: 128px !important;
}
.wistia_embed #wistia-kndvnc3z5u-1_popover {
  box-shadow: none !important;
}
.api-h5 {
  color: #555b6d;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.api-h6 {
  color: #555b6d;
  font-family: MaisonNeue-Book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.party {
  position: absolute;
  top: -160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;
  width: 70%;
}
.section-products {
  padding: 60px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}
#bodyMen .t-alert-covid.bg-alert {
  display: none;
}
.section-products .header h3 {
  color: #2a2d36 !important;
  text-align: center;
  font-family: MaisonNeue-Bold;
  font-size: 40px;
  font-style: normal;
  line-height: 26px;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  max-height: 200px;
  height: 200px;
  border-radius: 5px;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
}

.section-products #product-1 .part-1::before {
  background: url("https://www.odessainc.com/blog/wp-content/uploads/AI-Risks-Blog-Header-1-430x350.png")
    no-repeat center;
  background-size: cover;
}
.next-gen .section-products #product-1 .part-1::before {
  background: url("https://www.odessainc.com/assets/images/auto-news/auto-press.png")
    no-repeat center;
}
.next-gen .section-products #product-2 .part-1::before {
  background: url("https://dev.odessainc.com/assets/images/auto-news/auto-news.png")
    no-repeat center;
  background-size: cover;
}
.next-gen .section-products #product-3 .part-1::before {
  background: url("https://dev.odessainc.com/assets/images/auto-news/news-3.png")
    no-repeat center;
  background-size: contain;
}
.section-products #product-2 .part-1::before {
  background: url("https://www.odessainc.com/blog/wp-content/uploads/XAAS-Blog-Header-1-430x350.png")
    no-repeat center;
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background: url("https://www.odessainc.com/blog/wp-content/uploads/Odessa-Monitor-Live-891-x-769-px-1-1-1-430x350.png")
    no-repeat center;
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}
.api-thank-conent h3 {
  margin-bottom: 60px;
  font-family: MaisonNeue-Book;
  font-size: 20px;
}
.api-h6 {
  margin: 0;
}
.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
  color: #2a2d36 !important;
  font-family: MaisonNeue-Bold;
  font-size: 24px;
  font-style: normal;
  line-height: 26px;
  margin: 0 0 24px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  color: #2a2d36 !important;
  font-family: MaisonNeue-Book;
  font-size: 18px;
  font-style: normal;
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.api-thankyou .footermenu_strip_inner .social_icon {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}
.api-thankyou .footermenu_strip_inner .social_icon a {
  width: 30px;
  height: 30px;
  border: 2px solid #00acc8;
  background: none;
}

.api-thankyou .footermenu_strip_inner .social_icon a .fa {
  color: #00acc8;
}
.social_icon li {
  list-style: none;
}
.api-thankyou .footermenu_strip_inner {
  padding: 0;
}
.api-thank-conent svg {
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 75px;
  height: 175px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

@media only screen and (max-width: 2000px) {
  /* .api-body .container {
        padding: 0;
        width: 90%;
        max-width: 90%;
    } */
  .annual-elfa .take-flex {
    height: 90vh;
  }
}
@media only screen and (max-width: 1750px) {
  .api-banner {
    max-width: 750px;
  }
  .whitepaper-tag {
    margin-left: 23px;
  }
  .api-logo svg {
    width: 100px;
    height: 32px;
  }
  .api-banner p,
  .key-takeaways ul li {
    font-size: 16px;
    line-height: 1.628;
    margin: 0 0 10px 0;
  }
  #wrapper .api-wrapper {
  }
  .key-takeaways {
    max-width: 750px;
  }
  .get-copy {
    max-width: 450px;
    height: 535px;
  }
  .ready-rethink .get-copy {
    height: 525px;
  }
  .key-takeaways {
    margin-right: 25px;
    width: 100%;
    bottom: 0;
  }
  .get-copy {
    width: 100%;
    margin-left: 25px;
    /* max-width: 100%; */
    margin-left: 25px;
  }
}
@media only screen and (min-height: 1440px) {
  .ready-rethink .get-copy {
    top: 35px;
  }
}

@media only screen and (max-width: 1400px) {
  .api-banner,
  .key-takeaways {
    max-width: 50%;
  }
  .api-heading {
    font-size: 3rem;
  }
  .annual-elfa .take-flex {
    height: 75vh;
  }
  .ready-rethink.annual-elfa .get-copy {
    padding: 25px;
  }
  #wrapper.api-thankyou {
    /* background: url(../images/api/thank-you.png) 0px -54px no-repeat #ffffff;
        background-size: contain; */
  }
  .section-products .single-product .part-2 .product-old-price {
    font-size: 16px !important;
    line-height: 1.8;
  }
  /* .whitepaper{
        width: 80%;
    } */
  .section-products .header h3 {
    font-size: 1.9rem;
  }
  .section-products .single-product .part-2 .product-title {
    font-size: 150%;
    line-height: 1.1;
    margin-bottom: 7px;
    color: #2a2d36 !important;
  }
}

@media only screen and (max-width: 1200px) {
  .get-copy {
    max-width: 45%;
  }
  .api-heading {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 1189px) {
  .api-banner {
    width: 100%;
    max-width: 100%;
  }
  .annual-elfa {
    height: auto;
  }
  .annual-elfa .take-flex {
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: column;
  }
  .key-takeaways,
  .get-copy {
    max-width: 100%;
  }
  .rigid-system .box-container {
    flex-flow: row;
  }
  .take-flex {
    flex-wrap: wrap;
    flex-flow: column-reverse;
  }
  .ready-rethink .key-takeaways {
    max-width: 100%;
  }
  .flexible-asset .key-takeways-section {
    padding: 110px 0 200px 0;
  }
  .rigid-banner {
    display: none;
  }
  .rigid-system .box {
    width: auto;
  }
  .key-takeaways,
  .get-copy {
    margin: 0;
    position: relative;
  }
  .get-copy {
    top: 0;
    left: 0;
  }
  .key-takeaways {
    margin: 40px 0;
  }
  .api-thank-conent h2 {
    font-size: 25px;
  }
  
  .change-para {
    max-width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  #wrapper.ready-rethink.flexible-asset .api-wrapper {
    background-image: none;
  }
  #wrapper .api-wrapper {
    background-image: none !important;
  }
  .subscribe-form .get-copy {
    top: 80px;
  }
  .cs-content h1{
    font-size: 22px !important;
  }
  .cs-content{
    top:130px !important
  }
  .Eric-blog .business-talk {
    max-width: 90%;
  }
  .ready-rethink.competitive .reasons-consider-odessa .bg-grey{
    padding: 20px 10px;
  }
  .flexible-asset .api-banner {
    max-width: 100%;
  }
  .flexible-asset .key-takeways-section {
    padding: 70px 0 200px 0;
  }
  .rigid-system .box img {
    width: auto;
  }
  .rigid-system .box-container {
    position: relative;
    flex-flow: column;
  }
  .rigid-system .box {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
  }
  .flexible-asset .mob {
    display: block;
  }
  .flexible-asset .desk {
    display: none;
  }
  .flexible-asset .cannon-image img {
    width: 100%;
  }
  .flexible-asset .trusted-companies {
    padding: 0;
  }
  .bg-grey .flex-section {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .employee-uptodate {
    text-align: center;
  }
  .flexible-asset.ready-rethink .key-takeaways {
    margin: 0;
  }
  .ready-rethink .world-dedicated .key-takeaways {
    max-width: 100%;
}
.ready-rethink.competitive .business-talk {
  width: 100%;
}
.flexible-asset.ready-rethink.competitive .top-section.world-dedicated{
  padding: 20px 0;
}
.flexible-asset.competitive .api-banner {
  max-width: 100%;
}
.ready-rethink.competitive .letstalkform .form-control {
  width: 100%;
}
.cs-banner {
  max-width: 100% !important
}
.cs-main-post .api-heading {
  font-size: 30px !important;
}
.business-talk h2, .business-talk p {
 font-size: 25px;
}
}

@media only screen and (max-width: 767px) {
  .whitepaper-name {
    top: 20%;
    font-size: 14px;
  }

  #wrapper.ebook .api-wrapper {
    background-image: none;
  }
  .get-copy {
    height: auto !important;
  }
  #wrapper.ready-rethink .api-wrapper {
    background-size: contain;
  }
  .handbook .get-copy {
    top: 25px;
    margin: 0 0 20px 0;
  }
  .key-takeways-section {
    margin: 20px 0;
  }
  #wrapper.ebook.handbook .api-wrapper {
    background-image: none;
  }
  .handbook .api-heading br {
    display: none;
  }
  #wrapper.api-thankyou {
    background: none;
  }
  /* #wrapper .api-thanku-wrapper{
    height: 90vh;
}
.api-header-thank {
    top: 185px;
} */
  .api-thank-conent h1,
  .api-thank-conent h2 {
    position: relative;
    z-index: 2;
  }

  .party {
    top: -144px;
    width: 400px;
  }
  .api-thank-conent {
    max-width: 90%;
  }
  .whitepaper {
    width: 100%;
  }
  .api-header .navbar_wrapper {
    margin: 0;
    padding: 0;
  }
  .api-logo svg {
    width: 100px;
  }
  .api-heading {
    font-size: 30px;
  }
  .api-banner p {
    font-size: 16px;
  }
  #wrapper .api-wrapper {
    background-image: none;
  }
  .gradient svg {
    width: 100%;
  }
  .plane {
    width: 100px;
  }
  .get-copy {
    padding: 30px 15px;
  }
  .key-takeaways {
    padding: 30px 15px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  .party {
    top: -91px;
    width: 300px;
  }
}
