.auto-news-banner{
    background-image: linear-gradient(#263746, #07121D);
    margin-top: 64px;
}
.top-auto-content{
    padding: 70px 0 0;
    text-align: center;
}
.auto-news-wrap .section-products{
    padding: 0px 0 54px;
}
.auto-news-wrap .section-products .header h3{
    line-height: 40px;
}
.top-auto-content h1{
    color: #FFF;
    font-family: MaisonNeue-Bold;
    font-size: 72px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
    text-shadow: 0 0 36px #00ABC8, 0 0 39px #00ABC8;
}
.top-auto-content h5{
    font-size: 32px;
    letter-spacing: 0.5px;
    font-family: MaisonNeue-Bold;
    line-height: 32px;
    color: #00ABC8;
    margin-bottom: 40px;
    position: relative;
    padding-left: 14px;
    text-shadow: 0 0 36px #00ABC8, 0 0 39px #00ABC8;
}
.timer-block:after{
  background-size: 100% 100%;
  background-image: url(https://dev.odessainc.com/assets/images/auto-news/car.png);
  background-blend-mode: screen;
  position: absolute;
  content: "";
  top: 0;
  background-repeat: no-repeat;
  background-color: #1a2937;
  height: 344px;
  width: 100%;
  z-index: -1;
}
.timer-block{
  height: 400px;
  position: relative;
  z-index: 4;
  background-color: #1a2937;
}
.keep-me-content{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -110px;
    background: #fff;
    z-index: 32;
    text-align: center;
    padding: 40px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
}
.thank-auto .keep-me-content{
  top:-88px
}
.keep-me-content h3{
    color: #555B6D;
    font-size: 24px;
    margin: 0;
    line-height: 38px;
}
.keep-me-content p{
    color: #555B6D;
    font-size: 18px;
    margin: 0;
    line-height: 38px;
    width: 80%;
    margin: 0 auto;
}
.posted-email{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px auto 0 auto;
}
#result{
  display: none;
}
#result.shw{
  display: block;
} 
.section-products.auto-prod{
  padding-top: 0;
}
.section-products.auto-prod .header h3{
  line-height: 40px;
}
.posted-email .form-group{
  width: 46%;
}
.posted-email .btnmar{
  margin-top: 0;
}
.posted-email input{
  width: 95%;
  margin-right: 24px;
  padding: 0 10px;
  color: #555;
  height: 50px;
}
.posted-email input.error{
  border-color: red;
 
}
@keyframes flickerAnimation { /* flame pulses */
    0%   { opacity:1; }
    50%  { opacity:0;}
    100% { opacity:1;}
  }
  .animate-flicker {
    opacity: 1;
    animation: flickerAnimation 1s infinite;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 19px;
  }
  .animate-flicker2 {
    opacity: 1;
    animation: flickerAnimation 1s infinite;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 19px;
  }
  .animate-flicker img,.animate-flicker2 img{
    width: 500px;
    height: 200px;
  }


  .home-welcome {
    border-radius: 24px;
    border: 1px solid var(--Dark-Gradient, #263746);
    background: linear-gradient(0deg, #263746 47.36%, #07121D 121.38%);   
    margin: 0 auto;
    height: 95px;
    text-align: center;
    position: relative;
    width: 460px;
    top: 125px;
  }
  
.labels ul{
  display: flex;
  justify-content: center;
  padding: 0;

}
.labels ul li{
  list-style: none;
  color: #FFF;
text-align: center;
font-family: "Maison Neue";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
  .counter {
    font-size: 32px;
    width: 90%;
    height: 2em;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    line-height: 2em;
    margin: 6px auto 0 auto;
  }
  .counter > ul {
    display: inline-block;
    color: #000;
    padding: 0;
    margin: 0;
    width: 25%;
  }
  .counter > ul:after {
    content: ":";
    color: #fff;
    margin: 0 0.18em;
    position: absolute;
  }
  .counter > ul:last-of-type:after {
    content: "";
    margin: 0;
  }
  .counter > ul li {
    line-height: 1em;
    display: inline-block;
    background: #576877;
    padding: 0.19em 10px;
    border-radius: 6px;
    color: #FFF;
    position: relative;
    font-family: MaisonNeue-Bold;
    width: 40px;
  }
  .counter > ul li:after{
    background: #3e4c5a;
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 4px;
    left: 0;
  }
  .counter > ul li:first-child {
    margin-right: 0.1em;
  }
  .counter .labels li {
    width: 25%;
    float: left;
    line-height: 0.9em;
    font-size: 0.4em;
    text-align: center;
    color: white;
    padding-bottom: 0.75em;
    font-family:MaisonNeue-Book;
  }
  .section-products.auto-prod #product-2 .part-1::before {
    background: url(../images/auto-news/auto-news.png) no-repeat center;
    background-size: cover;
  }
  .section-products.auto-prod #product-1 .part-1::before {
    background: url(../images/auto-news/news-2.png) no-repeat center;
    background-size: cover;
  }
  .section-products.auto-prod #product-3 .part-1::before {
    background: url(../images/auto-news/news-3.png) no-repeat center;
    background-size: cover;
  }
  @media only screen and (max-width: 2000px) {
    .home-welcome{
      width: 500px;
      height: 95px;
      text-align: center;
      top: 130px;
    }
    .animate-flicker img,.animate-flicker2 img{
      width: 400px;
    }
  }
  @media only screen and (max-width: 1600px) {
    .home-welcome{
      top:100px
    }
    .counter > ul:after {
      margin: 0 0.29em;
  }
    /* .counter > ul:after{
      margin: 0 0.18em;
    } */
    /* .top-auto-content {
      padding: 40px 0 0;
    } */
    .top-auto-content h1{
      margin-bottom: 0px;
    }
    .top-auto-content h5{
      margin-bottom: 30px;
    }
    .timer-block:after{
      background-size: 100%;
    }
    .keep-me-content{
      padding: 25px;
    }
    
  }
  @media only screen and (max-width: 1400px) {
    .home-welcome {
      width: 460px;
      top: 78px;
    }
    .timer-block{
      height: 350px;
    }
    .counter > ul:after {
      margin: 0 0.18em;
  }
  }

  @media only screen and (max-width: 1200px) {

    .home-welcome{
      width: 390px;
      height: 70px;
      text-align: center;
      top: 70px;
    }
    .counter {
      font-size: 25px;

    }
    .counter > ul li{
      width: 35px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .animate-flicker img, .animate-flicker2 img {
      width: 200px;height: 142px;
    }
    .timer-block {
      height: 290px;
    }
    .counter{
      width: 100%;
    }
    .section-products .header br{
      display: none;
    }
    .top-auto-content h5 {
      font-size: 25px;
      line-height: 20px;
  }
    .top-auto-content h1{
      font-size: 46px;
    }
    .animate-flicker2{
      right:0;top:0
    }
    .animate-flicker{
      top:0;left:0}
      .home-welcome {
        width: 370px;
        top: 58px;
        background: none;
        border: 0;
    }
    .counter {
      font-size: 25px;
    }
    .counter > ul li{
      width: 35px;
    }
    .counter > ul:after {
      margin: 0 0.22em;
  }
  }
  @media only screen and (max-width: 900px) {
    .home-welcome{
      border: 0;
    top:45px;
    }
   
  }
  @media only screen and (max-width: 480px) {
  .home-welcome {
    width: 100%;
    background: none;
    bottom: -88px;
    /* position: relative; */
    top: inherit;
  }
  
.counter > ul li{
  width: 34px;
}
  .animate-flicker img, .animate-flicker2 img {
    width: 100%;
    height: 100px;
}

.top-auto-content h1{
  font-size: 30px;
  line-height: 20px;
}
.counter {
  width: 100%;
  font-size: 20px;
}
.top-auto-content h5{
  font-size: 20px;
    line-height: 25px;
    padding-left:0;
}

.counter > ul li{
  padding: 9px 10px;
}
.labels ul {
  width: 90%;
  margin: 10px auto;
}
.timer-block{
  height:150px;
  background-size: 100% 70%;}

  .keep-me-content {
    width: 90%;
    margin: 30px auto;
    top:0;
    padding: 20px
  }
  .keep-me-content h3{
    font-size: 20px;
    margin: 0;
    line-height: 25px;
  }
  .counter > ul{
    width: 20%;
  }
  .counter {
    font-size: 18px;
}
  .keep-me-content p {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    margin: 20px auto 0 auto;
}
.posted-email input {
  width: 100%;
  margin-right: 0;
  height: 40px;
  margin-bottom: 20px;
}
.posted-email{
  width: 100%;flex-wrap: wrap;
}
.posted-email .form-group {
  width: 100%;
}
.section-products.auto-prod .header h3 {
  line-height: 30px;
  font-size: 25px;
}
}
@media only screen and (max-width: 380px) {
  .counter {
    font-size: 15px;
}
.counter > ul li{
  width: 30px;
}
}