.odc__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 13px;
  height: 30px;
  min-width: 150px;
  text-decoration: none;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.odc__btn:hover, .odc__btn:focus, .odc__btn.focus, .odc__btn:active, .odc__btn.active {
  box-shadow: none;
  outline: none;
	text-decoration: none;
}
.odc__btn.disabled, .odc__btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.odc__btn--rounded-0 {
  border-radius: 0px;
}

.odc__btn--rounded-3 {
  border-radius: 3px;
}

.odc__btn--rounded-5 {
  border-radius: 5px;
}

.odc__btn--rounded-50 {
  border-radius: 50px;
}

.odc__btn--primary {
  color: #FFF !important;
  background: #FF495C;
  border-color: #FF495C;
}
.odc__btn--primary:hover, .odc__btn--primary:focus, .odc__btn--primary.focus, .odc__btn--primary:active, .odc__btn--primary.active {
  color: #FFF;
  background: #FF495C;
  border-color: #FF495C;
  box-shadow: inset 0 -2px 0 #db455a;
}
.odc__btn--primary.odc__btn--sm:hover, .odc__btn--primary.odc__btn--sm:focus, .odc__btn--primary.odc__btn--sm.focus, .odc__btn--primary.odc__btn--sm:active, .odc__btn--primary.odc__btn--sm.active {
  box-shadow: inset 0 -3px 0 #db455a;
}
.odc__btn--primary.odc__btn--md:hover, .odc__btn--primary.odc__btn--md:focus, .odc__btn--primary.odc__btn--md.focus, .odc__btn--primary.odc__btn--md:active, .odc__btn--primary.odc__btn--md.active {
  box-shadow: inset 0 -4px 0 #db455a;
}
.odc__btn--primary.odc__btn--lg:hover, .odc__btn--primary.odc__btn--lg:focus, .odc__btn--primary.odc__btn--lg.focus, .odc__btn--primary.odc__btn--lg:active, .odc__btn--primary.odc__btn--lg.active, .odc__btn--primary.odc__btn--xl:hover, .odc__btn--primary.odc__btn--xl:focus, .odc__btn--primary.odc__btn--xl.focus, .odc__btn--primary.odc__btn--xl:active, .odc__btn--primary.odc__btn--xl.active {
  box-shadow: inset 0 -5px 0 #db455a;
}

.odc__btn--more {
  position: relative;
  padding: 0 !important;
  height: auto !important;
  padding-right: 45px !important;
  color: #555B6D !important;
  background: transparent;
  border-color: transparent;
}
.odc__btn--more:before, .odc__btn--more:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #F9485C;
  transition: transform 0.3s ease;
}
.odc__btn--more:before {
  width: 30px;
  height: 4px;
  margin-top: -2px;
}
.odc__btn--more:after {
  right: -2px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-radius: 100%;
}
.odc__btn--more:hover:before, .odc__btn--more:hover:after {
  transform: translate3d(5px, 0, 0);
}
.odc__btn--more:hover, .odc__btn--more:focus, .odc__btn--more.focus, .odc__btn--more:active, .odc__btn--more.active {
  color: #555B6D;
  background: transparent;
  border-color: transparent;
}

.odc__btn--sm {
  height: 35px;
}

.odc__btn--md {
  height: 45px;
  padding: 0 20px;
  font-size: 14px;
}

.odc__btn--lg {
  height: 45px;
  padding: 0 30px;
  font-size: 14px;
}

.odc__btn--xl {
  height: 50px;
  padding: 0 40px;
  font-size: 16px;
}