#wrapper {
	margin-top: 0;
}

.page_banner {
	padding-top: 64px;
}

.navbar-default {
	background-color: transparent;
	box-shadow: none;
}
.navbar-default .navbar-nav > li > a,.xm-nav .top-nav .nav-item a{
	color: #fff;
}
.navbar-default .xm-nav .top-nav .nav-item a{
	box-shadow:none;
}
.navbar-default #nav-icon1 span{
	 background-color: #fff;
}
.navbar-default .navbar-brand {
	background: url('../images/logo_wt.png') no-repeat;
	background-size: 100% 100%;
}
.navbar-default .xm-nav .xm-bg-desktop,
.navbar-default .xm-nav .primary-nav li a::before{
	background:none;
}

.navbar-default .navbar-nav > li:hover > a, 
.navbar-default .navbar-nav > li:active > a, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	color: #FFF !important;
}
.navbar-default.sticky-header .navbar-nav > li > a {
	color: #545b6d !important;
}
.navbar-default.sticky-header .navbar-nav > li:hover > a,
.navbar-default.sticky-header .navbar-nav > li:active > a,
.navbar-default.sticky-header .navbar-nav > li:focus > a {
	color: #00ACC8 !important;
}
.inlineform input[type="email"] {
width: 100%;
border: 2px solid #ff495c;
border-radius: 0;
font-size: 14px;
font-style: italic;
padding: 10px;
outline: none !important;
box-shadow: none;
}