@media only screen and (max-width: 1800px) {
    .gotperkssection,
    .jobopening {
      padding: 80px 0;
    }
    .open_position_box {
      padding: 130px 60px;
    }
    .letsAddress {
      padding-top: 50px;
    }
    .countryAddinfo .normaltxt span {
      margin-top: 30px;
    }
    .headquartersAddbox .headqAdd {
      padding-bottom: 40px;
    }
    .headquartersAddbox {
      padding-top: 100px;
    }
    .xm-nav .sub-group {
      width: 300px;
      max-width: 300px;
    }
    .enterprise_wrap {
      padding: 80px 0 60px;
    }
    .page_banner .normaltxt {
      max-width: 900px;
    }
    .erp_card h2 {
      font-size: 26px;
    }
    .discover_banner .discover_contant .normaltxt {
      max-width: 1120px;
    }
    .erp_card_wrap .card_img_rte img {
      width: 280px;
    }
    .integratewithtools .integratecon {
      height: 540px;
    }
  }
  @media only screen and (max-width: 1600px) {
    section.banner .banner_textdiv p {
      padding-top: 160px;
    }
    .seeposbtnrw a.btns_style {
      padding: 14px 40px;
    }
    .open_position_box a.btns_style {
      padding: 14px 60px;
    }
    h1.innerheading {
      font-size: 64px;
    }
    .platformsectionwrap .dotsdesign img {
      width: 200px;
    }
    .clientsmess .appcllogorw .testicon img {
      width: 45px;
    }
    .howweworkCon .howworkdetails .howworkrw {
      margin-bottom: 50px;
    }
    .open_position_box {
      padding: 100px 40px;
    }
    .open_position_box .seeposbtnrw {
      margin-top: 60px;
    }
    .vacancyCon {
      padding-top: 60px;
    }
    .countryAddressSection {
      padding: 40px 70px;
    }
    .headquartersAddbox {
      padding-top: 80px;
    }
    .xm-nav .sub-group {
      width: 260px;
      max-width: 260px;
    }
    .careerpgvideo {
      width: 540px;
      height: 600px;
    }
    .page_banner .normaltxt {
      max-width: 800px;
    }
    .have_question_wrap .normaltxt {
      max-width: 680px;
    }
    .discover_banner .discover_contant .normaltxt {
      max-width: 1040px;
    }
    .integratewithtools .integratecon {
      height: 480px;
    }
    .bluedotsview {
      right: -20px;
    }
  }
  @media only screen and (max-width: 1500px) {
    .headquartersAddbox .headqAdd {
      padding-bottom: 20px;
    }
    .letsAddress .counnm {
      font-size: 20px;
    }
    .customerboxrow {
      padding: 50px 40px;
    }
    .countryAddressSection {
      padding: 40px;
    }
    .seeposbtnrw a.btns_style {
      padding: 10px 32px;
    }
    .open_position_box a.btns_style {
      padding: 10px 50px;
    }
    h1.innerheading {
      font-size: 56px;
    }
    .overtrustedwrap {
      padding-top: 100px;
    }
    .vacancyCon .vacancyrow {
      margin-bottom: 50px;
    }
    .open_position_box {
      padding: 80px 40px;
    }
    .open_position_box .seeposbtnrw {
      margin-top: 50px;
    }
    .xm-nav .sub-group {
      width: 250px;
      max-width: 250px;
    }
    .xm-nav .sub-group .bold-nav,
    .xm-nav .sub-group li:not(.heading-item) a {
      font-size: 15px;
    }
    .careerpgvideo {
      width: 540px;
      height: 560px;
    }
    .have_question_wrap .normaltxt {
      max-width: 640px;
    }
    .discover_banner .discover_contant .normaltxt {
      max-width: 960px;
    }
  }
  @media only screen and (max-width: 1400px) {
    .business_card {
      padding: 10px;
    }
    .advertisement_wrap ul li a img {
      width: 140px;
    }
    .integratewithtools .integratecon {
      height: 420px;
    }
  }
  @media only screen and (max-width: 1350px) {
    .erp_section_wrap .container {
      max-width: 100%;
    }
    .advertisement_wrap ul li a img {
      width: 110px;
    }
    .erp_card_wrap .card_img_rte {
      right: -80px;
    }
    .erp_card_wrap .card_img_lft {
      left: -80px;
    }
  }
  @media only screen and (max-width: 1320px) {
    .banner_textdiv {
      left: 58px;
      width: 600px;
    }
    .banner_textdiv span {
      font-size: 22px;
    }
    .heading h1 {
      font-size: 60px;
    }
    .letstalkformSection {
      padding: 90px 0 60px;
    }
    .letstalkinfobox {
      padding: 0 70px;
      margin-top: 30px;
    }
    section.banner .banner_textdiv p {
      max-width: 70%;
    }
    .platformsectionwrap .dotsdesign img {
      width: 140px;
    }
    h1.headingsection,
    h1.innerheading {
      font-size: 48px;
    }
    ,
    h2.headingsection {
      font-size: 1.9rem;
    }
    .devOpsCon .devopsconbox h2.headingsection,
    h2.subheadingsection {
      font-size: 36px;
    }
    .assets_fin_service {
      margin-bottom: 60px;
    }
    .integratewithtools .normaltxt {
      max-width: 620px;
    }
    .overtrustedwrap {
      padding-top: 80px;
    }
    .clientsmess .normaltxt {
      max-width: 440px;
      font-size: 21px;
      line-height: 32px;
    }
    .overtrustedwrap .normaltxt {
      max-width: 500px;
    }
    .gotperkssection {
      padding: 50px 0;
    }
    .choose_vacancy .bootstrap-select > .btn,
    .choose_vacancy .dropdown-menu,
    .gotperksbx .gotperkstext,
    .vacancyrow .vacancyname,
    .vacancyrow .vacancytitle {
      font-size: 18px;
    }
    .jobopening .normaltxt {
      max-width: 660px;
    }
    .open_position_box {
      padding: 60px 40px 80px;
    }
    .open_position_box .seeposbtnrw,
    .seeposbtnrw {
      margin-top: 35px;
    }
    .open_position_box a.btns_style {
      padding: 13px 50px;
    }
    .careerpgvideo {
      width: 560px;
      height: 480px;
    }
    .latestboxwrap {
      padding-top: 60px;
    }
    .devOpsCon .devopsconbox .opstextrw.topp {
      padding-top: 20px;
    }
    .page_banner .normaltxt {
      max-width: 700px;
    }
    .discover_banner .discover_contant .normaltxt {
      max-width: 840px;
    }
    .have_question_wrap .normaltxt {
      max-width: 540px;
    }
    .team_member_position .team_member_box .postextbx {
      font-size: 26px;
    }
    .bluedotsview,
    .officeviewentrybx {
      right: 0;
    }
  }
  @media only screen and (max-width: 1220px) {
    .navbar-default .container-fluid {
      padding: 0 20px;
    }
    .banner_textdiv span {
      font-size: 20px;
    }
    .heading h1 {
      font-size: 54px;
    }
    section.banner .banner_img {
      align-items: flex-end;
      display: flex;
    }
    .banner_textdiv {
      left: 80px;
    }
    .seeposbtnrw a.btns_style,
    a.btns_style {
      padding: 8px 28px;
    }
    .open_position_box a.btns_style {
      padding: 8px 40px;
    }
    .platformsectionwrap .dotsdesign img {
      width: 110px;
    }
    h1,
    h1.headingsection,
    h1.innerheading,
    h2.headingsection {
      font-size: 42px;
    }
    .assets_fin_service .finserbx {
      padding: 10px;
      margin: 0 10px;
    }
    .cloudsview1 {
      left: 150px;
      width: 200px;
    }
    .cloudsview2 {
      top: 110px;
      width: 130px;
    }
    .integratewithtools .normaltxt {
      max-width: 600px;
      margin-top: 20px;
    }
    .careerpgban,
    .howweworksection,
    .jobopening,
    .testimonialswrap {
      padding: 50px 0;
    }
    .clientsmess .appcllogorw .testicon img {
      width: 40px;
    }
    .clientsmess .appcllogorw .applogo.medone img {
      width: 220px;
    }
    .overtrustedwrap .normaltxt,
    .page_banner .normaltxt {
      max-width: 600px;
    }
    footer .footer_menuwr .footer_li_wrap ul,
    footer .footer_menuwr ul {
      margin: 30px 0 0;
    }
    .business_card_warp,
    footer {
      padding: 40px 0;
    }
    .jobopening .normaltxt {
      max-width: 720px;
    }
    .howweworkCon .howworkdetails {
      padding-left: 40px;
      padding-right: 120px;
    }
    .team_member_position .team_member_box .postextbx {
      font-size: 24px;
    }
    .carbanimg {
      margin-top: -45px;
    }
    .xm-nav .sub-group {
      width: 240px;
      max-width: 240px;
    }
    .xm-nav .container {
      padding: 0 15px;
    }
    .careerpgvideo {
      width: 560px;
      height: 400px;
    }
    .getthelatestwrap,
    .letstalkSecondryform {
      padding: 80px 0;
    }
    .annouce_sliderwrinner,
    .latestboxCon .getcontext {
      padding: 20px;
    }
    .latestboxwrap .lernmorerw {
      padding-top: 50px;
    }
    .latestboxwrap {
      padding-top: 40px;
    }
    .plateformspeedbox .tab-content {
      padding: 90px 0 60px;
    }
    .buildinnovation,
    section.focused,
    section.leadership_header {
      padding: 40px 10px;
    }
    .buildinnovationboxConrw {
      padding-top: 60px;
    }
    .advertisement_wrap ul li a img {
      width: 95px;
    }
    .top_arrow img {
      height: 50px;
    }
    .page_banner {
      height: 450px;
    }
    .enterprise_wrap,
    .tp_page {
      padding: 60px 0;
    }
    .erp_card h2 {
      font-size: 22px;
    }
    .erp_section_wrap {
      max-width: 840px;
      margin: 70px auto;
    }
    .discover_banner {
      padding: 50px 40px;
    }
    .have_question_wrap {
      margin: 60px 0;
    }
    .design_icon img {
      width: 240px;
    }
    .plateformspeedbox {
      padding: 0 10px;
    }
    .howweworkCon .howworkdetails .howworkrw h3,
    .platform_nor_text,
    .tp_page ul li,
    p,
    section.banner .banner_textdiv p {
      font-size: 18px;
    }
    h2 {
      font-size: 36px;
    }
    .letstalkinfobox ul li {
      font-size: 1.125rem;
    }
    .buildinnovationConbx .buildino_nor_text br,
    .thankyoupage .letstalkform h3 br,
    section.tiles .tilescontent p br {
      display: none;
    }
    .menuwrap ul {
      margin: 20px !important;
    }
    .menuwrap ul li:first-child,
    section.different p.membername {
      font-size: 12px;
    }
    .menuwrap ul li a {
      font-size: 13px;
    }
    .headerchildnav a,
    .imgdownlink a {
      font-size: 14px;
    }
    .menuimgbox {
      padding: 40px;
    }
    .headerchildnav {
      padding: 50px 20px;
    }
    .assetsfinancebox {
      width: auto;
      max-width: 570px;
    }
    .buildpgscalefector {
      padding-top: 70px;
    }
    .integratewithtools .integratecon {
      height: 400px;
    }
    section.annoucement,
    section.awards {
      margin: 80px 0;
    }
    .newsroomimg {
      height: 200px;
    }
    .section_width {
      padding: 0;
    }
    .innerwidth_section {
      padding: 0 40px;
    }
    .latestboxCon {
      max-width: 80%;
    }
    section.resources .memberinfo span {
      font-size: 11px;
    }
    section.innovate_section,
    section.lifeatodessa,
    section.tiles {
      padding: 80px 10px;
    }
    section.different .membername span {
      font-size: 0.8rem;
    }
    div.leader_person {
      padding: 0 10px 40px;
    }
    section.different p.membername.madhu {
      bottom: 196px;
      right: -58px;
    }
    div.leader_person .memberwrapperdiv .memberblock .leaderdivwr {
      padding: 0 5px;
    }
    div.leader_person .displayflex {
      margin: 0 -15px;
    }
    section.different p.membername.jay {
      bottom: 51px;
      left: -118px;
    }
  }
  @media only screen and (max-width: 1169px) {
    .clientsmess .normaltxt,
    .customerbox .boxnormaltxt {
      font-size: 16px;
      line-height: 28px;
    }
    .banner_textdiv {
      left: 68px;
      width: 500px;
    }
    section.banner .banner_textdiv p {
      max-width: 72%;
    }
    .cloudsview1 {
      left: 110px;
      top: -20px;
      width: 180px;
    }
    .cloudsview2 {
      top: 100px;
      left: 10px;
      width: 110px;
    }
    #annoucementslider.owl-theme .owl-next i,
    #annoucementslider.owl-theme .owl-prev i,
    .heading h1 {
      font-size: 50px;
    }
    .letstalkformSection {
      padding: 80px 0 60px;
    }
    .letstalkinfobox {
      padding: 0 60px;
      margin-top: 20px;
    }
    .letstalkform {
      padding: 25px;
    }
    .letsAddress {
      padding-top: 30px;
    }
    .letsAddress .addrow,
    .letstalkform .form-group {
      margin-bottom: 20px;
    }
    .letstalkformCon {
      padding-right: 60px;
      background-size: 700px;
    }
    .letstalkinfobox ul li span {
      width: 28px;
      height: 26px;
    }
    .customerbox {
      padding: 20px 35px;
      margin: 0 20px;
    }
    .countryAddinfo .headingrows h4,
    .customerbox h3 {
      font-size: 26px;
    }
    h1.innerheading,
    h2.headingsection {
      font-size: 36px;
    }
    .platform_nor_text {
      max-width: 680px;
    }
    .cloudserverCon .normaltxt,
    .discover_banner .discover_contant .normaltxt {
      max-width: 700px;
    }
    .integratewithtools .normaltxt,
    .overtrustedwrap .normaltxt {
      max-width: 500px;
    }
    .clientsmess .normaltxt {
      max-width: 380px;
    }
    .certify_wrapper {
      margin-left: 80px;
    }
    .erp_card_wrap .erp_card {
      padding: 30px 15px 10px;
      margin: 0;
    }
    .erp_card_wrap .erp_card h4 {
      font-size: 1rem;
    }
    .learn_more_btn button {
      height: 54px;
    }
    .page_banner .tab_arrow_wrap img {
      height: 160px;
    }
    .open_design_wrap {
      margin-top: 100px;
    }
    .page_banner .tab_arrow_wrap {
      bottom: -80px;
    }
    .enterprise_contant_wrap {
      padding-right: 40px;
    }
    .cloud_up_wrap {
      padding: 30px 10px;
    }
    .letstalkban {
      min-height: 360px;
    }
    .integratewithtools .integratecon {
      height: 360px;
    }
    #annoucementslider.owl-theme .owl-prev {
      left: -40px;
    }
    #annoucementslider.owl-theme .owl-next {
      right: -40px;
    }
  }
  @media only screen and (max-width: 1060px) {
    .container {
      width: 95%;
    }
    footer h4 {
      font-size: 18px;
    }
    .buildinnovationConbx .inoiconrw .innoicon.legacy {
      margin-right: 70px;
    }
    .buildinnovationConbx .inoiconrw .innoicon.improve_developer {
      margin-right: -10px;
    }
    .buildinnovationConbx .inoiconrw .innoicon.recoding {
      margin-right: 20px;
    }
    .annoucement_div h3,
    .news_div h3 {
      font-size: 1rem;
    }
    #annoucementslider.owl-theme .owl-next {
      right: -20px;
    }
    #annoucementslider.owl-theme .owl-prev {
      left: -20px;
    }
  }
  @media only screen and (max-width: 1023px) {
    .cd-hero__slider,
    section.banner .banner_inner {
      max-height: 540px;
    }
    .banner_textdiv {
      left: 40px;
      width: 440px;
    }
    .zindex1 {
      width: 50% !important;
    }
    .heading h1 {
      font-size: 44px;
    }
    .platformsectionwrap .dotsdesign img {
      width: 90px;
    }
    .assets_fin_service .eqWrap,
    .navbar-default #navbar ul li:first-child .menuwrap .eqWrap,
    footer .footer_menuwr .footer_li_wrap a span {
      display: block;
    }
    .asswd20 {
      width: 33.33%;
    }
    .owl-carousel.brandslogo .owl-item img,
    .wdf50 {
      width: 50%;
    }
    .assets_fin_service .finserbx {
      padding: 0;
      margin: 0;
      background-color: transparent;
      box-shadow: none;
    }
    .assfinconbx {
      padding: 15px;
      margin: 0 10px 20px;
      background-color: #fff;
      box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.1);
    }
    .fincetext {
      min-height: 80px;
    }
    .cloudsview1 {
      left: 60px;
      width: 160px;
    }
    .cloudsview2 {
      left: 0;
      width: 90px;
    }
    .assets_fin_service {
      margin-bottom: 30px;
    }
    .assets_fin_service > .row {
      margin: 0;
    }
    .cloudserversection .cloudserverCon {
      padding-bottom: 200px;
      background-size: 500px 219px;
    }
    .devOpsSection,
    .testimonialswrap {
      padding: 40px 20px;
    }
    .integratewithtools {
      padding: 60px 20px;
    }
    .integratewithtools .normaltxt {
      max-width: 420px;
      font-size: 16px;
      line-height: 24px;
    }
    .integratewithtools .inlineform,
    .letstalkbtn {
      margin-top: 25px;
    }
    .integratewithtools .integratecon {
      height: auto;
      background-image: none;
    }
    .integrateconmidCon {
      position: static;
      left: auto;
      top: auto;
      transform: none;
    }
    .navbar-default ul.alwaysvisiblemenu,
    .owl-carousel.clientsask .owl-controls {
      right: 20px;
    }
    footer .footer_menuwr .footer_li_wrap ul li {
      margin-bottom: 10px;
    }
    .buildinnovationConbx .buildino_nor_text,
    footer .footer_menuwr a,
    footer h4 {
      font-size: 16px;
    }
    .footermenu_strip_inner .social_icon {
      margin: 8px 15px 0;
    }
    .inlineform {
      margin: auto;
    }
    .footerbottommenu {
      padding-top: 15px;
    }
    .trusted_brands_logo {
      padding-top: 50px;
    }
    .headquartersAddbox,
    .howweworkCon .howwewimgbx {
      padding-top: 60px;
    }
    .howweworkCon .howworkdetails {
      padding-left: 20px;
      padding-right: 20px;
    }
    .howweworkCon,
    .plateformCon .normaltxt.pdright {
      padding-top: 0;
    }
    .howweworkCon .howworkdetails .howworkrw {
      margin-bottom: 40px;
    }
    .team_member_position .team_member_box .postextbx {
      font-size: 21px;
    }
    .gotperksbx .gotperkstext {
      font-size: 18px;
      margin-top: 10px;
    }
    .jobopening .normaltxt {
      max-width: 600px;
    }
    .letstalkformSection {
      padding: 60px 20px 40px;
    }
    .letstalkformCon {
      padding-right: 50px;
      background-size: 500px;
    }
    .letstalkinfobox {
      padding: 0 20px 0 10px;
    }
    .letstalkform {
      padding: 20px 15px;
    }
    .letstalkform .form-control {
      padding: 12px;
      font-size: 15px;
    }
    .alreadyCustomerwrap {
      padding: 40px 0;
    }
    .customerboxrow {
      padding: 30px 20px;
    }
    .customerbox {
      padding: 20px 25px;
      margin: 0 15px;
    }
    .countryAddinfo .headingrows h4,
    .customerbox h3 {
      font-size: 24px;
    }
    .countryAddinfo,
    .headerchildnav.lzer {
      padding-right: 0;
    }
    .countryAddressSection {
      padding: 30px 0;
    }
    .bluedotsview {
      right: -10px;
      width: 280px;
      height: 144px;
    }
    .officeviewentrybx {
      padding-top: 210px;
      padding-left: 0;
      right: 30px;
    }
    .headingrows .customericon {
      margin-right: 15px;
    }
    .notfound_page {
      padding: 80px 0;
    }
    .plateformspeedbox .nav-tabs > li > a {
      margin: 0 30px;
      font-size: 18px;
      padding: 13px 20px;
    }
    .btmlinegrey {
      width: 600px;
    }
    .plateformCon .listpoints,
    section.newsroom .newsroomcarousel {
      margin-top: 30px;
    }
    .plateformspeedbox .tab-content {
      padding-bottom: 30px;
    }
    .devOpsCon .devopsconbox {
      padding: 24px;
      margin-top: 30px;
      min-width: 410px;
    }
    .headerchildnav a,
    .imgdownlink a,
    footer .footer_menuwr .footer_li_wrap a {
      font-size: 13px;
    }
    footer .footer_menuwr .footer_li_wrap p {
      font-size: 14px;
      line-height: 24px;
    }
    .business_card_warp .business_image {
      position: static;
      right: auto;
      bottom: auto;
      text-align: right;
    }
    .business_card_warp .business_image img {
      width: 160px;
      display: inline-block;
    }
    .letstalkban {
      min-height: 320px;
    }
    .countryAddinfo .headingrows h3.mntop.pd,
    .countryAddinfo .letsbutton,
    .countryAddinfo p {
      padding-left: 50px;
    }
    #navbar {
      margin-left: 20px;
    }
    .navbar-default .navbar-nav > li > a {
      padding: 0 5px;
      margin: 0 10px;
    }
    .menuwd20 {
      width: 25%;
    }
    .menuwd20:last-child {
      width: 100%;
      margin-bottom: 20px;
    }
    .headerchildnav {
      padding: 20px;
    }
    .menuimgbox {
      padding: 20px 10px;
    }
    footer {
      padding-bottom: 20px;
    }
    .trusted_brands_logo .brlogo {
      margin: 0 10px;
    }
    .trusted_brands_logo.clouds .brlogo {
      margin: 0 5px;
    }
    .trusted_brands_logo .brlogo img {
      max-width: 90%;
    }
    .buildscaleimgbx img {
      width: 680px;
    }
    .buildtabsbackgbox {
      margin-top: -184px;
      padding-bottom: 310px;
    }
    .buildinnovationConbx .inoiconrw .innoicon.improve_developer,
    .buildinnovationConbx .inoiconrw .innoicon.legacy,
    .buildinnovationConbx .inoiconrw .innoicon.recoding {
      margin-right: 0;
    }
    .latestboxCon {
      max-width: 84%;
    }
    .letstalkSecondryform .secnformCon {
      max-width: 80%;
    }
    .latestboxCon .getconbx,
    .newsroomimg {
      height: 180px;
    }
    .careerpgban .normaltxt br,
    .discover_contant p br,
    .navbar-default #navbar ul li:first-child .container.pos:after {
      display: none;
    }
    .page_banner {
      height: 400px;
    }
    .letstalkinfobox ul {
      padding-right: 10px;
    }
    section.newsroom {
      margin-top: 50px;
    }
    .header_banner {
      background-position: top center;
    }
    section.different p.membername.jay {
      bottom: 47px;
      left: -116px;
    }
    section.different h2,
    section.lifeatodessa h2,
    section.odessacloud h2 {
      margin: 0 0 20px;
    }
    section.lifeatodessa p,
    section.odessacloud p {
      margin-bottom: 20px;
    }
    section.tiles .flexdiv .thirtypad {
      padding-left: 25px;
      padding-right: 25px;
    }
    .barnds_logowr .brands_logo {
      width: auto;
    }
  }
  @media only screen and (max-width: 991px) {
    .xm-nav .sub-group {
      width: auto;
      max-width: initial;
    }
    .letstalkSecondryform .normaltxt {
      padding: 20px 0 30px;
    }
    .advertisement_wrap ul li a img,
    .certify_wrap .certify_coin img {
      width: 80px;
    }
    .design_icon {
      margin: 0 auto 30px;
      display: table;
    }
    .design_icon img {
      width: 180px;
    }
    .erp_card_wrap .card_img_lft,
    .erp_card_wrap .card_img_rte,
    .page_banner .tab_arrow_wrap img,
    section.different h2 br,
    section.focused .count_number p br,
    section.focused .focused_txt h2 br {
      display: none;
    }
    .open_design_wrap {
      position: relative;
      margin-top: 50px;
      z-index: 1;
      padding: 0 20px;
    }
    .erp_card h2,
    .tab_data_wapper .nav > li > a {
      font-size: 18px;
    }
    .business_card h2 {
      margin-top: 0;
    }
    .business_card {
      margin-bottom: 0;
    }
    .business_card_warp {
      padding: 40px 20px;
    }
    .tab_data_wapper,
    section.resources .resourcesinner {
      padding: 0;
    }
    .tab_data_wapper .tab-content .tab_contant_data {
      padding-left: 0;
    }
    .top_arrow img {
      height: 40px;
    }
    .erp_section_wrap {
      margin: 60px 40px;
    }
    .enterprise_contant_wrap {
      padding-right: 0;
    }
    .certify_wrap {
      width: 135px;
      padding: 10px;
      margin-right: 10px;
    }
    .certify_wrap .certify_coin {
      height: 90px;
    }
    .certify_wrapper {
      margin-left: 0;
    }
    .devOpsCon {
      padding-left: 30px;
    }
    section.different .different_Img {
      width: 47%;
      float: none;
      margin: 0 auto;
      bottom: -80px;
    }
    section.different p.membername.madhu {
      bottom: 146px;
      right: -50px;
    }
    section.different p.membername.jay {
      bottom: 0;
      left: -131px;
      top: auto;
    }
    section.different h2 {
      white-space: initial;
    }
    section.different .differnt_info p {
      width: 100%;
      font-size: 16px;
    }
    section.different {
      padding: 40px 0 60px;
    }
    section.different .differnt_info {
      margin-top: 40px;
    }
    section.focused .count_number {
      padding-left: 15px;
    }
    section.focused .count_number .count_numdiv img {
      height: 40px;
      min-height: 40px;
    }
    section.focused .count_number .count_numdiv {
      min-width: 133px;
    }
    div.leader_person .leader_img img {
      max-width: 80%;
    }
    .leadershipmembermodal {
      margin: 20px 0 40px;
    }
    section.innovate_section {
      padding: 40px 10px;
    }
    section.resources {
      background-size: cover;
      padding: 30px 0;
      height: auto;
    }
  }
  @media only screen and (max-width: 767px) {
    .header_banner,
    .letstalkformCon {
      background-image: none;
    }
    .letstalkformCon .row {
        display: flex;
        flex-flow: column-reverse;  
    } 
    .colmenubg,
    .latestboxCon,
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
      background-color: transparent;
    }
    .erp_card p,
    .fincetext,
    section.annoucement .bottomdiv .annoucement_div h3,
    section.news .bottomdiv .news_div h3 {
      min-height: initial;
    }
    h1 {
      font-size: 36px;
    }
    .page_banner .header_contant h2,
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 26px;
    }
    .choose_vacancy .bootstrap-select > .btn,
    .choose_vacancy .dropdown-menu,
    .gotperksbx .gotperkstext,
    .lernmorerw a,
    .letstalkinfobox ul li,
    .tab_data_wapper .designtabs .items a,
    .tp_page ul li,
    .vacancyrow .vacancyname,
    .vacancyrow .vacancytitle,
    p {
      font-size: 16px;
    }
    h1 span,
    h2 span {
      display: inline;
    }
    section.banner .banner_inner {
      max-height: initial;
    }
    section.banner .banner_img {
      width: auto;
      float: none;
      align-items: initial;
      display: block;
      background: 0 0;
    }
    .annoucementsliderwr .owl-nav,
    .bluedotsview,
    .buildpgscalefector p.tpbtm br,
    .cloudsview2,
    .clrw,
    .devOpsCon .devopsconbox .opstextrw br,
    .erp_card_wrap .card_img_lft,
    .erp_card_wrap .card_img_rte,
    .gotperksbx .gotperkstext br,
    .header_banner .cloud_2,
    .header_banner .cloud_3,
    .header_banner .cloud_4,
    .header_banner .cloud_6,
    .header_banner .cloud_7,
    .navbar-default ul.alwaysvisiblemenu,
    .navbar-default ul.alwaysvisiblemenu li:first-child,
    .navbar-default ul.alwaysvisiblemenu li:nth-child(2),
    .notfound_page p br,
    .top_arrow,
    .wd12,
    footer .desktop_view_footer,
    p br,
    section.banner .banner_img img,
    section.different p.membername,
    section.focused::after {
      display: none;
    }
    .banner_textdiv {
      left: 20px;
      right: 20px;
      width: auto;
      transform: translateY(-50%);
    }
    .asswd20 {
      width: auto;
    }
    .heading h1,
    h1.headingsection {
      font-size: 28px;
    }
    .devOpsCon .devopsconbox h2.headingsection {
      font-size: 24px;
      margin-top: 0;
    }
    .carbanimg,
    h1.innerheading {
      margin-top: 10px;
    }
    .howweworkCon .howworkdetails .howworkrw h3,
    .normaltxt,
    .platform_nor_text,
    section.banner .banner_textdiv p {
      font-size: 16px;
      line-height: 24px;
    }
    section.banner .banner_textdiv p,
    section.newsroom .newsroomcontent {
      max-width: initial;
    }
    .buildinnovationConbx .inoiconrw,
    .fin_ass_valrw,
    .trusted_brands_logo .brlogo {
      margin-bottom: 15px;
    }
    .fin_ass_valrw.lastrw {
      margin-bottom: 0;
    }
    .cloudserversection,
    .devOpsSection,
    .mobpadnone,
    .navbar-default .container-fluid,
    .open_design_wrap,
    .section_width .col-md-12,
    .tab_data_wapper,
    section.news,
    section.news .bottomdiv .pd10,
    section.newsroom .section_width,
    section.resources .resourcesinner,
    section.tiles {
      padding: 0;
    }
    .integratewithtools .integratecon {
      padding: 0;
      background: 0 0;
    }
    .countryAddinfo .normaltxt span,
    .erp_card p,
    .integratewithtools .inlineform,
    section.newsroom #newroomslider .owl-dots,
    section.newsroom .newsroomcarousel {
      margin-top: 20px;
    }
    .cloudsview1 {
      left: 0;
      top: -5px;
      width: 120px;
    }
    .clientsmess,
    .mega-dropdown-menu {
      position: static;
      top: auto;
      left: auto;
    }
    .finserbx .headingbox {
      height: auto;
    }
    .fincetext,
    section.innovate_section .innovatedivinner,
    section.innovate_section h2,
    section.innovate_section p {
      text-align: center;
    }
    .getthelatestwrap,
    .integratewithtools,
    .letstalkSecondryform,
    .letstalkformSection,
    .testimonialswrap {
      padding: 140px 0;
    }
    .page_banner {
      padding-top: 130px !important;
    }
    .platformsectionwrap {
      padding-bottom: 40px;
    }
    .cloudserversection .cloudserverCon {
      padding-top: 70px;
      padding-bottom: 120px;
      background-size: 300px 131px;
    }
    #nav-icon1,
    .annoucement_div,
    .clearmenurwmb,
    .cloudserverCon .nextrw span.breakpoint,
    .customerboxrow .eqWrap,
    .header_banner .cloud_1,
    .header_banner .cloud_5,
    .menuviewwrap,
    .menuwrap .eqWrap,
    .news_div,
    .tab_data_wapper .nav > li > a > span,
    .testimonialswrap .eqWrap,
    .tp_page p br {
      display: block;
    }
    .clientsmess {
      transform: none;
    }
    .clientsmess .appcllogorw .testicon img {
      width: 30px;
    }
    .clientsmess .appcllogorw .applogo.medone,
    .navbar > .container-fluid .navbar-brand,
    .redbullets {
      margin-left: 20px;
    }
    .clientsmess .appcllogorw .applogo.medone img {
      width: 180px;
    }
    .clientsimgbx {
      margin: 20px 20px 10px;
    }
    .assetsfinancebox,
    .buildinnovationConbx,
    .howweworkCon .howworkdetails .howworkrw {
      margin-bottom: 30px;
    }
    .choose_vacancy,
    .latestboxwrap .lernmorerw,
    .overtrustedwrap {
      padding-top: 30px;
    }
    .footerbottommenu ul li {
      border-right: 0;
      margin-bottom: 5px;
    }
    .buildinnovationboxConrw,
    .footer_menuwr .col-xs-6:nth-child(3) span.footer_li_heading,
    .footer_menuwr .col-xs-6:nth-child(4) span.footer_li_heading,
    .howweworkCon .howwewimgbx,
    .vacancyCon {
      padding-top: 20px;
    }
    .assetsfinancebox,
    .buildpgscalefector .normaltxt,
    section.annoucement .upperdiv .annoucement_rt,
    section.news .upperdiv .news_rt {
      padding: 20px;
    }
    .footermenu_strip_inner {
      padding: 30px 0 20px;
    }
    .footermenu_strip_inner .stripfbox,
    .navbar-default #navbar ul li {
      float: none;
    }
    .buildpgwrap h1.headingsection,
    .innerwidth_section,
    .platform_nor_text,
    .team_member_position {
      padding: 0 20px;
    }
    .navbar-default ul.alwaysvisiblemenu li {
      display: inline-block;
    }
    .navbar-default ul.alwaysvisiblemenu li a {
      padding: 0 7px;
    }
    .owl-carousel .owl-controls .owl-dot {
      width: 12px;
      height: 12px;
    }
    .howweworkCon .howworkdetails {
      padding-left: 0;
      padding-right: 0;
      padding-top: 20px;
    }
    .choose_vacancy .sortby,
    .team_member_position .team_member_box,
    .thankyoupage .letstalkform h3,
    .vacancyrow .form-group {
      margin-bottom: 20px;
    }
    .wd29 {
      width: 33.33%;
    }
    .gotperksbx .gotperksiconbx {
      width: 60px;
      height: 36px;
      background-size: 60px 216px;
    }
    .gotperksbx .gotperksiconbx.health {
      background-position: 0 -36px;
    }
    .gotperksbx .gotperksiconbx.teammeal {
      background-position: 0 -72px;
    }
    .gotperksbx .gotperksiconbx.flexible_vacation {
      background-position: 0 -108px;
    }
    .gotperksbx .gotperksiconbx.retirement_plan {
      background-position: 0 -144px;
    }
    .gotperksbx .gotperksiconbx.paid_parental {
      background-position: 0 -180px;
    }
    .row.mn8 {
      margin-left: -8px;
      margin-right: -8px;
    }
    .mnp8 {
      padding: 0 8px;
    }
    .gotperksbx,
    section.newsroom .item {
      margin: 20px 0;
    }
    .gotperksCon {
      margin-top: 15px;
    }
    .choose_vacancy
      .bootstrap-select:not([class*="span"]):not([class*="col-"]):not(
        [class*="form-control"]
      ):not(.input-group-btn),
    .company_page .container {
      width: 100%;
    }
    .open_position_box {
      padding: 20px 15px;
    }
    .letstalkinfobox {
      margin-top: 0;
      padding: 0;
    }
    .letstalkinfobox ul {
      padding: 20px 0 0 15px;
    }
    .letsAddress {
      padding-top: 15px;
    }
    .letstalkformCon,
    .tab_data_wapper .tab-content .tab_contant_data {
      padding-right: 0;
    }
    .letstalkform {
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.1);
    }
    .customerboxrow,
    .discover_banner,
    .plateformspeedbox,
    .plateformspeedbox .tab-content {
      padding: 20px 0;
    }
    .customerbox {
      padding: 20px;
      margin-bottom: 25px;
    }
    .officeviewentrybx {
      padding-top: 20px;
      right: auto;
    }
    .cloud_up_wrap h2,
    .countryAddinfo .headingrows h4,
    .customerbox h3 {
      font-size: 20px;
    }
    .careerpgvideo {
      width: 360px;
      height: 320px;
    }
    .enterprise_contant_wrap,
    .letstalkSecondryform .secnformCon {
      max-width: 100%;
    }
    .letstalkSecondryform .container {
      padding: 0 0 20px;
    }
    .buildpgscalefector {
      padding-top: 50px;
    }
    .buildtabsbackgbox {
      padding-bottom: 150px;
      margin-top: -70px;
    }
    .buildscaleimgbx img {
      width: auto;
      height: 160px;
    }
    .plateformspeedbox .nav-tabs > li > a {
      margin: 0 5px;
      font-size: 16px;
      padding: 12px;
    }
    .plateformspeedbox .nav-tabs {
      margin-top: -80px;
    }
    .plateformCon .normaltxt.pdright {
      padding-top: 0;
    }
    .buildinnovation,
    .section_width,
    section.focused,
    section.leadership_header,
    section.lifeatodessa {
      padding: 40px 0;
    }
    .devOpsCon .devopsimgbx {
      width: 100%;
      height: auto;
      float: none;
    }
    .devOpsCon,
    .pdl30,
    section.focused .count_number {
      padding-left: 0;
    }
    .devOpsCon .devopsconbox {
      padding: 44px 20px;
      left: auto;
      margin-left: 0;
      min-width: auto;
      margin-top: -60px;
    }
    .plateformCon .listpoints {
      padding-left: 20px;
    }
    .plateformCon .listpoints .normaltxt {
      line-height: 24px;
      margin-bottom: 20px;
    }
    .business_card_warp,
    footer {
      padding: 40px 0 0;
    }
    .row.footer_menuwr {
      margin: 0;
    }
    footer .footer_menuwr .footer_li_wrap p {
      margin: 0 0 5px;
    }
    footer .footer_li_wrap {
      width: 50%;
      margin-bottom: 20px;
    }
    footer .mobile_view_footer {
      display: block;
      width: 100%;
      float: none;
      margin-bottom: 30px;
    }
    footer .footer_menuwr .footer_li_wrap .moblie_view_mrgn {
      padding-left: 30px;
    }
    footer .footer_menuwr .footer_li_wrap ul,
    section.annoucement {
      margin-top: 0;
    }
    .certify_wrapper {
      padding: 15px 0;
      margin: 20px auto 0;
      display: table;
    }
    .advertisement_wrap ul li a img {
      width: 65px;
    }
    .business_card {
      padding: 0 0 30px;
    }
    .npadrw {
      width: 100% !important;
    }
    #annoucementslider .owl-dots,
    .latestboxCon .eqWrap {
      display: block !important;
    }
    .cloud_up_wrap {
      padding: 20px 10px;
    }
    .enterprise_wrap,
    .need_busyness_wrap {
      padding: 50px 0 20px;
    }
    .header_banner .header_contant_wrap p {
      max-width: inherit;
    }
    .latest_box_Con .getcontext {
      font-size: 18px;
    }
    .advertisement_wrap {
      padding: 0 0 50px;
    }
    .erp_card_wrap .erp_card {
      margin: 20px auto 30px;
      padding: 20px;
    }
    .erp_section_wrap {
      margin: 40px 20px;
    }
    .erp_section_wrap > h2 {
      font-size: 25px;
      margin-bottom: 20px;
    }
    .page_banner .header_contant {
      padding: 15px;
    }
    .discover_banner .discover_contant_wrap,
    .thankyoupage .letstalkform {
      padding: 30px 20px;
    }
    .discover_banner .learn_more_btn a {
      margin: 0 20px;
      width: 120px;
    }
    .learn_more_btn {
      margin: 25px auto 15px;
    }
    .learn_more_btn button {
      width: 160px;
      height: 50px;
      margin: 0 10px;
    }
    .tab_data_wapper .tab-content {
      padding: 15px 0;
    }
    .have_question_wrap {
      margin: 50px 20px;
    }
    .tab_data_wapper .nav > li > a {
      font-size: 14px;
    }
    #companyvideoplay .modal-dialog,
    .container {
      width: 90%;
    }
    #companyvideoplay .close {
      right: 0;
    }
    .videoactionwr {
      font-size: 16px;
      color: #00acc8;
      padding: 8px 12px;
    }
    .buildinnovationConbx .buildino_nor_text {
      font-size: 16px;
      line-height: 28px;
    }
    .btmlinegrey {
      width: 300px;
    }
    .letsAddress .counnum {
      font-size: 22px;
    }
    .howweworksection h2.headingsection,
    h2.lefttext {
      left: auto;
      text-align: center;
    }
    .letstalkban {
      min-height: 200px;
    }
    .buildpgscalefector p.tpbtm {
      padding: 10px 0 15px;
      font-size: 17px;
    }
    .plateformCon {
      padding-top: 40px;
    }
    .plateformCon .listpoints span.blbullets {
      top: 7px;
    }
    .plateformspeedbox .build_tabs {
      padding: 0 32px;
    }
    .plateformspeedbox .build_tabs .items a {
      margin: 0;
      font-size: 16px;
    }
    #navbar {
      margin-left: 0;
    }
    .navbar-default .navbar-toggle {
      border-color: transparent;
    }
    .navbar-toggle {
      margin-top: 13px;
      margin-right: 0;
    }
    .navbar-default .navbar-nav > li > a {
      padding: 15px 20px;
      margin: 0;
      font-size: 18px;
      line-height: normal;
      border-bottom: 1px solid #e3e3e4;
      background-color: #f3f3f5;
    }
    .navbar-default .navbar-nav > li.open > a {
      border-bottom: 0;
    }
    .mega-dropdown-menu {
      float: none;
      min-width: initial;
    }
    .menuwd20 {
      width: 50%;
    }
    .mnmargintop {
      margin-top: -60px;
    }
    .overtrustedwrap .inlineform {
      left: auto;
    }
    .footerbottommenu {
      margin-left: 0;
      padding-top: 10px;
    }
    .latestboxCon {
      max-width: initial;
      box-shadow: none;
    }
    .latestboxCon .npadrw {
      box-shadow: 0 10px 15px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
    }
    .assfinconbx {
      margin: 0 0 30px;
    }
    .platformsectionwrap .dotsdesign img {
      margin-bottom: 10px;
    }
    .countryAddinfo .headingrows h3 {
      font-size: 24px;
    }
    section.annoucement .section_width {
      padding-bottom: 0;
    }
    section.annoucement,
    section.awards {
      margin: 40px 0;
    }
    section.annoucement .bottomdiv,
    section.news .bottomdiv {
      display: block;
      margin: 0;
    }
    .news_div .news_lt img {
      margin: 45px 0;
    }
    .morelikethis .annoucement_div,
    section.annoucement .bottomdiv .annoucement_div,
    section.news .bottomdiv .news_div {
      padding: 20px;
      margin-bottom: 20px;
      text-align: left;
      flex-direction: initial;
      align-items: initial;
    }
    section.annoucement .bottomdiv .pd10 {
      padding: 0 2px;
    }
    section.awards img {
      width: 80px;
    }
    section.newsroom .owl-carousel .owl-item.center .item {
      transform: none;
      box-shadow: none;
    }
    section.annoucement .annoucement_div.upperdiv,
    section.news .news_div.upperdiv {
      display: inline-block;
      width: 100%;
    }
    section.newsroom {
      margin-top: 140px;
    }
    section.news .upperdiv.news_div h3 {
      margin: 30px 0 40px;
    }
    .footerbottommenu,
    .socailicons_newsletter {
      float: none;
      text-align: center;
    }
    .annouce_sliderwrinner {
      padding: 20px 3px;
    }
    .business_card_warp .business_image img {
      width: 140px;
    }
    .designtabs.owl-carousel {
      padding: 0 35px;
    }
    .owl-carousel.designtabs .owl-stage-outer {
      padding: 15px 10px;
    }
    .tab_data_wapper .designtabs .items {
      margin-right: 20px;
    }
    .odc__btn {
      min-width: initial;
    }
    html.sidePanel {
      overflow: hidden;
    }
    section.video_section {
      height: 100vh;
    }
    section.lifeatodessa {
      background-size: cover;
      background-position: 0;
    }
    section.tiles .flexdiv .thirtypad {
      padding-left: 15px;
      padding-right: 15px;
    }
    section.resources {
      background: #f5f6f8;
      padding: 40px 0;
    }
    .barnds_logowr .brands_logo {
      width: 100%;
      flex-flow: wrap;
      justify-content: center;
    }
    .barnds_logowr .brlogo {
      width: 50%;
      flex: auto;
      margin-bottom: 20px;
    }
    section.odessacloud {
      padding: 30px;
    }
    div.leader_person {
      padding: 0 5px 40px;
    }
    section.different .different_Img {
      width: 100%;
      position: relative;
      bottom: 0;
      right: 0;
    }
    .secnformCon_inner,
    section.focused .focusedinner,
    section.resources .flexdiv {
      flex-direction: column;
    }
    section.focused .focused_txt {
      background: #00abc7;
      min-height: 200px;
      padding: 10px;
      text-align: center;
      margin-top: 30px;
    }
    section.tiles .flexdiv {
      display: flex;
      flex-direction: column;
    }
    section.tiles .tilescontent {
      padding: 20px 10px;
      margin-bottom: 40px;
      min-height: 232px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    section.resources .resources_content {
      margin: 36px 0;
      max-width: 100%;
    }
    section.resources .owl-carousel .owl-controls {
      left: 0;
    }
    section.innovate_section {
      padding: 40px 5px;
      background: #0c70be;
    }
    .barnds_logowr {
      margin: 0 0 40px;
    }
    .custom_containerwidth,
    .tp_page {
      width: 100%;
      margin: 0 auto;
    }
    .secnformCon_inner p {
      padding: 18px 0 30px !important;
    }
    .tp_page {
      padding: 80px 0;
    }
    section.awards .awardswr {
      padding-left: 20px;
      padding-right: 20px;
    }
    section.awards .email_div h4 {
      display: block;
      padding: 0 20px;
    }
    section.awards .email_div span.email {
      float: left;
      top: -9px;
    }
    .trusted_brands_logo.clouds .brlogo {
      margin: 0 15px 15px;
    }
  }
  @media only screen and (max-width: 480px) {
    .certify_wrap {
      margin: 0 10px;
      width: 120px;
    }
    .advertisement_wrap ul li a img {
      width: 55px;
    }
    .erp_card_wrap .erp_card {
      width: 100%;
    }
    .business_card p {
      min-height: initial;
    }
    .open_design_wrap {
      margin-top: 40px;
    }
    section.awards .email_div span.email {
      top: -5px;
    }
  }
  @media only screen and (max-width: 410px) {
    .heading h1 {
      font-size: 34px;
    }
    .row.mn8 {
      margin-left: -5px;
      margin-right: -5px;
    }
    .mnp8 {
      padding: 0 5px;
    }
    .gotperksbx .gotperkstext {
      font-size: 14px;
    }
    .careerpgvideo {
      width: 300px;
      height: 280px;
    }
    .plateformspeedbox .nav-tabs > li > a {
      margin: 0 3px;
      font-size: 16px;
      padding: 12px 8px;
    }
    .learn_more_btn button {
      width: 130px;
      margin: 0 5px;
      font-size: 15px;
    }
    .trusted_brands_logo .brlogo {
      margin-left: 10px;
      margin-right: 10px;
    }
    .discover_banner .learn_more_btn a {
      margin: 10px;
      width: 110px;
    }
    .tab_data_wapper .designtabs .items a {
      font-size: 0.8rem;
    }
  }
  @media only screen and (max-width: 359px) {
    .cloudserverCon .nextrw {
      margin-top: 15px;
    }
    .cloudserversection .cloudserverCon {
      padding-bottom: 130px;
      background-size: 280px 123px;
    }
    .gotperksbx .gotperkstext {
      font-size: 12px;
    }
    .letstalkform .form-control {
      padding: 10px;
      font-size: 13px;
    }
    .careerpgvideo {
      width: 260px;
      height: 300px;
    }
    .letstalkSecondryform .secnformCon .form-control {
      font-size: 14px;
    }
    .trusted_brands_logo .brlogo {
      margin-left: 5px;
      margin-right: 5px;
    }
    .countryAddinfo .headingrows h3 {
      font-size: 21px;
    }
    .tab_data_wapper .designtabs .items a {
      font-size: 11px;
    }
    .trusted_brands_logo.clouds .brlogo {
      margin: 0 5px 15px;
    }
    section.awards .email_div h4 {
      font-size: 16px;
    }
  }
  @media screen and (max-device-width: 767px) and (orientation: landscape) {
    .banner_textdiv {
      position: static;
      left: auto;
      right: auto;
      transform: none;
      padding: 20px;
    }
    .platformsectionwrap {
      padding-top: 60px;
      padding-bottom: 50px;
    }
    .heading h1 {
      font-size: 32px;
    }
    section.banner .banner_textdiv p {
      margin-bottom: 15px;
    }
    .landswd50 {
      width: 50%;
      float: left;
    }
  }
  @media (max-height: 480px) and (max-width: 840px) {
    section.banner .banner_inner {
      height: auto;
      max-height: initial;
    }
    section.banner .banner_img {
      width: auto;
      float: none;
      align-items: initial;
      display: block;
      background: 0 0;
    }
    .header_banner .cloud_1,
    .header_banner .cloud_5,
    .platformsectionwrap .dotsdesign,
    section.banner .banner_img img {
      display: none;
    }
    .banner_textdiv {
      position: static;
      width: auto;
      left: auto;
      right: auto;
      transform: none;
      text-align: center;
      padding: 20px;
    }
    section.banner .banner_textdiv p {
      margin: auto auto 15px;
      text-align: center;
    }
    .platformsectionwrap {
      padding-top: 30px;
      padding-bottom: 40px;
    }
    .heading h1 {
      font-size: 32px;
    }
    .integratewithtools .integratecon {
      background: 0 0;
      padding: 0;
    }
    .integratewithtools .inlineform {
      margin-top: 20px;
    }
    section.awards .awardswr {
      max-width: 500px;
    }
  }
  @media only screen and (min-width: 1500px) {
    section.different .different_Img {
      width: 38%;
      bottom: -180px;
    }
    section.different {
      padding: 80px 0 160px;
    }
    section.different p.membername.madhu {
      right: -18px;
    }
    section.different p.membername.jay {
      bottom: 74px;
      left: -132px;
    }
  }
  @media only screen and (min-width: 1800px) {
    section.different p.membername.madhu {
      right: -18px;
      bottom: 318px;
    }
    section.different p.membername.jay {
      bottom: 90px;
      left: -113px;
    }
  }
  @media only screen and (min-width: 2000px) {
    section.different p.membername.madhu {
      right: -78px;
      bottom: 318px;
    }
    section.different p.membername.jay {
      bottom: 90px;
      left: -189px;
    }
  }
  