.navbar-default {
    background-color: #0075a2;
    box-shadow: none;
}
.navbar-default .navbar-nav > li > a,.xm-nav .top-nav .nav-item a{
    color: #fff;
}
.navbar-default .xm-nav .top-nav .nav-item a{
    box-shadow:none;
}
.navbar-default #nav-icon1 span{
     background-color: #fff;
}
.navbar-default .navbar-brand {
    background: url('<?php echo base_url(); ?>assets/images/logo_wt.png') no-repeat;
    background-size: 100% 100%;
}
.navbar-default .xm-nav .xm-bg-desktop,
.navbar-default .xm-nav .primary-nav li a::before{
    background:none;
}