.navbar-brand .ss360-custom-search {
    justify-content: center;
    max-width: 100%;
    padding: 15px 0;
    position: relative;
    width: 100%;
    margin: 0 10px;
  }
  .navbar-brand .ss360-custom-search .ss360-custom-search__searchbox {
    height: 35px;
    margin: 0;
    max-width: 90px !important;
    padding: 0 8px;
    width: 100%;
    padding-right: 0 !important;
  }
  .search{
    font-size: 1rem;
    color: #545b6d;
    line-height: 64px;
    padding: 0 10px;
    margin: 0 0 0 5px;
    display: block;
    text-decoration: none;
    transition: color .3s;
    cursor: pointer;
  }
  .search:hover{
    color: #00abc8;
  }
 .ss360-darken{
  z-index: 10 !important;
  cursor: none !important;
 }
 #ss360-layer .ss360-custom-search .ss360-custom-search__searchbox {
border: 1px solid #dedede !important;
 }
  .search-overlay{
    background-color:hsl(218deg 2.41% 19.63% / 77%);
    height: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    transition: opacity .3s ease-in-out;
    width: 100%;
    z-index: 999998;
  }
  #ss360CloseLayerButton{
    display: none !important;
  }
  .close-search{
    z-index: 999999;
    position: absolute;
    right: 100px;
    top: 20px 
  }
  .close-search .fa{
    font-size: 40px;
    opacity: .8;
color: #fff !important;
  }
  
  .op{
    opacity: 1 !important;
    visibility: visible !important;
  }

  .search-li{
    position: absolute !important;
    right: 0;
    top: 160%;
    left: 0;
    margin: 0 auto;
  }
  .search-box{
    background-color: #fefefe;
    box-sizing: content-box;
    height: 80%;
    left: calc(10% - 28px);
    max-width: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 32px 24px 32px 32px;
    position: fixed;
    top: calc(10% - 30px);
    width: 80%;
    z-index: 99999999999;
  display: none;
  }
  .search-li .ss360-custom-search.ser{
    display: flex !important;
  }
  .ss360-custom-search .ss360-custom-search__searchbox {
    font-size: 14px !important;
    padding-right: 0 !important;
    max-width: 300px !important;
    padding-left: 10px !important;
    background-image: none !important;
    height: 35px !important;
    border:0 !important;
    border-bottom: 2px solid #fff !important;
    background: transparent !important;
    box-shadow: none !important;
    color:#fff !important
  }
  #ss360-layer .ss360-custom-search .ss360-custom-search__searchbox {
    color:#000 !important
  }
  #searchButton img{
    width: 18px !important;
    height: 18px !important;
  }
  .navbar-brand .ss360-custom-search .ss360-custom-search__searchbutton {
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    height: 35px !important;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    width: 40px;
  }
  .ss360-grid--lg .ss360-suggests__content{
    padding: 10px;
  }
  /* #ss360-layer .ss360-acl-bg, #ss360-layer .ss360-acl-bg--hover:hover, #ss360-layer .ss360-acl-bg--hover:focus{
    background-color: #00abc8 !important;
  } */
  .ss360-loader .ss360-loader__bounce{
    background-color: #00abc8 !important;
  }
  #ss360-layer .ss360-acl-bg{
    background-color: #ff495c !important;
  }

  #ss360-layer .ss360-acd-b--hover:hover{
    border-color: #ff495c !important;
    box-shadow: inset 0 -4px 0 #db455a !important;
    background-color: #ff495c !important ;
  }
  .ss360-more-results{
    height: 45px !important;
    padding: 0 20px !important;
    font-size: 14px !important;
    border: 1px solid transparent;
    border-radius: 0 !important;
   
    min-width: 150px !important;
    text-decoration: none;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
  }
  .ss360-suggests__url {
    font-size: 12px !important;
  }
  #ss360-layer .ss360-ac-c, #ss360-layer .ss360-ac-c--hover:hover, #ss360-layer .ss360-ac-c--hover:focus{
    color: #555b6d !important;
    font-size: 16px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #unibox-suggest-box,
  .ss360-voice-search {
    display: none !important;
  }
  .ss360-suggests__url{
    color: #00acc8 !important;
  }
  .ss360-layer--wide-overlay {
    flex-wrap: wrap;
    left: 0 !important;
    max-width: 50% !important;
    margin: 0 auto !important;
    right: 0;
  }
  .ss360-n-section .ss360-group .ss360-grid--lg .ss360-suggests__header {
    min-height: 20px !important;
}
.ss360-grid--lg .ss360-suggests__snippet{
  display: none;
}
  .ss360-custom-search .ss360-custom-search__searchbutton {
    height: 35px !important;
  }
  .ss360-custom-search {
    padding: 15px 0 15px 10px !important;
    justify-content: center;
    max-width: 300px !important;
    position: relative;
    width: auto !important;
    margin: 0 auto !important;
  }
  .ss360-grid--lg .ss360-suggests__header {
    min-height: 54px !important;
  }
  #searchButton svg,
  #ss360-custom-searchbutton svg {
    width: 24px;
    height: 24px;
  }
  #ss360-layer .ss360-ac-bg {
    width: 50px !important;
  }
  .ss360-custom-search .ss360-custom-search__searchbutton{
    width:20px
}
.nav-flex .ss360-custom-search--no-margin{
    display: none;
}
@media only screen and (max-width:767px){
    .ss360-custom-search{
        top: 0;
        max-width: 100px !important;
        right: -33px;
        left: auto !important;
}
.nav-flex .ss360-custom-search--no-margin {
  display: flex !important;
}
.search{
  position: absolute;
  right: 50px;
  cursor: pointer;
}
.ss360-layer--wide-overlay{
    max-width: 90%!important;
}
#ss360CloseLayerButton {
  display: block !important;
  height: 20px;
    position: absolute;
    right: 0;
    top: -17px;
    transform-origin: center;
    width: 44px;
}
#ss360-layer  .ss360-custom-search{
    top: 0;
    max-width: 300px !important;
    right: -48px;
    left: 0 !important;
}
.ss360-custom-search .ss360-custom-search__searchbox {
  color:#000 !important
}
}