.navbar-brand .ss360-custom-search{justify-content:center;max-width:100%;padding:15px 0;position:relative;width:100%;margin:0 10px}.navbar-brand .ss360-custom-search .ss360-custom-search__searchbox{height:35px;margin:0;max-width:90px!important;padding:0 8px;width:100%;padding-right:0!important}.ss360-custom-search .ss360-custom-search__searchbox{font-size:14px!important;padding-right:0!important;max-width:100px!important;padding-left:10px!important;background-image:none!important;height:35px!important}.navbar-brand .ss360-custom-search .ss360-custom-search__searchbutton{align-items:center;box-shadow:2px 2px 4px rgba(0,0,0,.12);box-sizing:border-box;cursor:pointer;display:flex;font-size:1em;height:35px!important;justify-content:center;margin-top:0;padding:0;transition:background-color .3s ease-in-out,border-color .3s ease-in-out;width:40px}#unibox-suggest-box,.ss360-voice-search{display:none!important}.ss360-layer--wide-overlay{flex-wrap:wrap;left:0!important;max-width:50%!important;margin:0 auto!important;right:0}.ss360-custom-search .ss360-custom-search__searchbutton{height:35px!important}.ss360-custom-search{padding:15px 0 15px 10px!important;justify-content:center;max-width:300px!important;position:relative;width:auto!important;margin:0 auto!important}.ss360-grid--lg .ss360-suggests__header{min-height:54px!important}#searchButton svg,#ss360-custom-searchbutton svg{width:24px;height:24px}#ss360-layer .ss360-ac-bg{
    width: 50px !important;  
}
@media only screen and (max-width:1000px){
    .ss360-custom-search{
        top: 0;
        max-width: 100px !important;
        right: -33px;
        left: auto !important;
}
.ss360-custom-search .ss360-custom-search__searchbutton{
    width:20px
}
.ss360-layer--wide-overlay{
    max-width: 90%!important;
}
#ss360-layer  .ss360-custom-search{
    top: 0;
    max-width: 300px !important;
    right: -48px;
    left: 0 !important;
}
}