.our-people.wine-taste .home-hero-ctitle{
    color: #fff;
    font-size: 52px;
    line-height: 1.2;
    margin: 0 0 20px;
}
.wine-taste .odc__btn--primary{
    padding: 17px 82px;
    min-width: 249px;
    border-radius: 10px;
    height: 55px;
    
}
.our-people .xas-banner .home-hero-bg img.stamp{
    width: 100px;
    position: absolute;
    left: 20px;
    height: 100px;
    z-index: 2;
    top: 30%;
}
#bodyId .navbar {
    display: none;
    }
    #wrapper.wine-taste {
        margin: 0px auto auto;
    }
#wrapper.wine-taste .xas-banner {
    height: calc(100vh - 200px);
    max-height: 497px;
    background: #263746;
}
.our-people.wine-taste .home-hero-cwrap {
    padding-top: 0;
}
.event-content {
    background: url(../images/wine/wine-bg.png) center center no-repeat;
    margin-top: 27px ;
}
.space{
    padding: 0 15px;
}
.event-container p.date{
   color:#2A2D36;
   font-size: 22px;
   margin-top: 40px;
}
.date b{
    font-family: MaisonNeue-Bold;
}
.event-container p{
    font-size: 18px;
    line-height: 26px;
}
.event-content .event-container{
    max-width:800px;
    margin: 0 auto;
    text-align: center;
}
.talk-team.how-it-works{
    background-image: none;
    height: auto;
}
.how-it-cont{
    margin: 70px 77px 0;
}
.how-it-cont ul{
    padding: 0;
    list-style-position: inside;
}
.wine-taste .disclaimer .box {
    width: 13px;
    height: 13px;
}
.how-it-cont ul li{
    margin-bottom: 30px;  
      list-style: none;
      position: relative;
      padding-left: 20px;
    font-family: MaisonNeue-Book;
}
.how-it-cont ul li:last-child{
    margin: 0;
}
.how-it-cont ul li:after{
    content: url(../images/wine/circle.svg);
    position: absolute;
    left: 0;
    top:-3px
}
.how-it-cont h3{
    color: #00ACC8;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
.how-it-cont li{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color:#fff;
}
.host-container{
    background: #263746;
}
.host-img{
    width: 40%;
}
.host-content{
    width: 60%;
}
.host-content{
    padding: 80px 50px 0 0;
}
.wine-taste h4{
    color: #00ABC8;
    font-size: 28px;
    margin-bottom: 40px;
    font-family: MaisonNeue-Book;
}
.host-content h2{
    font-size: 52px;
    color: #fff;
}
.host-content p{
    font-size: 18px;
    color: #fff;
    line-height: 26px;
}
.register-form .flex{
    justify-content: space-between;
}
.register-form .flex .form-group{
    width: 49%;
}
label[for="honeypot"], #honeypot {
    display: none;
    visibility: hidden;
}
.register-form .flex.country .form-group{
    width: 32%;
}
.wine-taste .g-recaptcha{
    display: flex;
    justify-content: center;
}
.wine-taste #Submit{
    background: none;
    margin: 50px 0;
}
.wine-taste #Submit h4{
    margin-bottom: 0;
    line-height: 40px;
    font-size: 30px;
}
.wine-taste .disclaimer{
    text-align: center;
}
.country select{
    padding: 14px;
    height: auto;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid #e8e8e8;
    box-shadow: none; 
    width: 100%;

}
.wine-taste .disclaimer label{
    width: 100%;
}
.wine-taste .disclaimer{
    margin: 24px 0;
}
.reg{
    display: flex;
    justify-content: center;
}
.wine-taste .reg .odc__btn--primary{
    width: 50%;
    margin: 0 auto;
}
/* media css */
@media only screen and (max-width:1200px) {
    #wrapper.wine-taste .xas-banner {
        height: 100vh;
    }
    .our-people.wine-taste .xas-banner .home-hero-bg img.mob{
        width: 100%;
        opacity: 0.5;
    }

       
    .our-people.wine-taste .home-hero-cwrap {
        padding-top: 100px;
    }
.our-people.wine-taste .home-hero-ctitle{
    font-size: 30px;
}
.our-people.wine-taste .home-hero-ctitle br{
    display: block;
}
.wine-taste .odc__btn--primary{
    margin: 0 auto;
}
.our-people.wine-taste .home-hero-content {
    top: 40px;
}
.event-content{
    margin:0;
}
.event-container p.date{
    font-size: 18px;
}
.space {
    padding: 0 10px;
}
.how-it-works-img{
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.how-it-works-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.how-it-cont {
    margin: 40px 30px;
}
.register-form .letstalkform {
    margin-top: 0;
}
.host-img {
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.host-img img{
    width: 100%;
}
.host-content {
    padding: 40px 20px;
    width: 100%;
}
}
@media only screen and (max-width:767px) {
    #wrapper.wine-taste .xas-banner {
        height: 100vh;
    }
    .our-people.wine-taste .home-hero-cwrap {
        padding-top: 0px;
    }
    .how-it-works-img{
        height: 300px;
    }
    .host-img {
        height: auto;
    }
    .our-people.wine-taste .xas-banner .home-hero-bg img.mob{
        width: 100%;
        opacity: 1;
    }
    #wrapper.wine-taste .xas-banner {
        height: 100vh;
    }
    .event-content{
        background: none;
    }
}
