
/*worpress start here */

h1:not(.site-title):before, h2:before {
	display: none;
}
/*worpress end here */
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
.at-resp-share-element .at-share-btn .at-label {
  display: none;
}
.morelikethis .annoucement_div h3 {
	margin: 0;
}
.annoucement_div .annoucement_lt {
	background: #f3f3f5;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.annoucement_div .annoucement_lt img{
	max-width: 100%;
}
.annoucement_div {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 3px 0px rgba(0, 0, 0, .10);
}

.annoucement_div h3{
    color: #2a2d36;
    margin: 20px 0px;
	font-size: 1.2rem;
}
.annoucement_div p {
	color: #555b6d;
}
.annoucementsliderwr {
	display: inline-block;
	width: 100%;
}
.annouce_sliderwrinner {
	padding: 20px 80px;
	display: inline-block;
	width: 100%;
}
.innerwidth_section {
	padding: 0px 80px;
	display: inline-block;
	width: 100%;
}
.section_width {
    padding: 0px 80px;
    display: inline-block;
    width: 100%;
}
.annoucement_div span.date{
	text-align:center;
}
/*pr start here */
section.pr_anouncement {
	margin: 60px 0px;
	display: inline-block;
	width: 100%;
}
section.pr_anouncement .displayflex{
	display:flex;
	align-items:center;
	flex-direction: row-reverse;
	margin: 0;
}
section.pr_anouncement .pr_announcementinfo>span {
    font-size:1.11rem;
    color: #0075a2;
	text-transform: uppercase;
}
section.pr_anouncement .pr_announcementinfo h1 {
	color: #2a2d36;
	margin: 20px 0px;
}
section.pr_anouncement .pr_announcementinfo p {
	color: #555b6d;
	margin-bottom: 30px;
}
section.pr_anouncement .pr_announcementinfo {
	max-width: 90%;
}
section.pr_anouncement .pr_announcementinfo span.date {
	display: block;
	width: 100%;
	font-size:1rem;
	color: #555b6d;
    text-transform: capitalize;
}
section.pr_anouncement .pr_announcementimg img {
	width: 100%;
}
div.content {
	margin-bottom: 60px;
}
div.content .displayflex {
	display: flex;
	align-items: center;
	margin: 0px;
}
div.content .content_img {
	max-width: 300px;
}
div.content .content_img .content_img_inner {
	display: inline-block;
	width: 100%;
	min-height: 250px;
}
div.content .content_img .content_img_inner img{
	width:100%;
}
div.content .content_text p, div.content .content_img span {
	margin-bottom: 30px;
	color: #555b6d;
}
div.content .content_text p b {
	font-family: 'MaisonNeue-Bold';
}
div.content .content_socialicons {
	display: table;
	margin: 20px auto;
}
div.content .content_socialicons a {
	width: 40px;
	height: 40px;
	border-radius: 50%!important;
	position: relative;
	display: table;
	text-align: center;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
	background: #00acc8;
	color: #fff;
	float: left;
	margin-right: 10px;
}
.at-resp-share-element .at-share-btn:hover{
	transform: none !important;
}
div.content .content_socialicons a i {
	display: table-cell;
	vertical-align: middle;
	font-size: 21px;
}

#morelikethis_slider {
	display: flex;
	flex-wrap: wrap;
}

#morelikethis_slider .item {
	margin: 40px 0;
}

section.morelikethis {
	background-color: #f3f3f5;
	padding: 60px 0px;
}

section.morelikethis h3.headingh {
	color: #2a2d36;
	margin: 0px;
}

section.morelikethis .annoucement_content {
	padding: 40px;
}

section.morelikethis .annoucement_link {
	color: #2a2d36;
	font-size: 1.2rem;
	font-family: 'MaisonNeue-Bold';
	font-weight: 500;
}

section.morelikethis .annoucement_link:hover {
	color: #2a2d36;
}

section.morelikethis .owl-carousel .owl-stage-outer {
	height: calc(100% + 30px);
	margin: -15px;
	padding: 0px 15px;
	width: calc(100% + 30px);
}
div.lettalk .letstalkinner {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0px;
}
div.lettalk {
	margin: 60px 0px;
}
div.lettalk .letstalkinner p {
	margin-bottom: 30px;
}
/*pr end here */
/*Blog Page Start Here */
.blog_page div.content .content_text h3 {
	color: #555b6d;
	margin: 0px 0px 10px 0px;
}
.blog_page div.content .displayflex {
	align-items: self-start;
}
.blog_page .blogperson_info .blogperson_img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid #57c8da;
	overflow: hidden;
	float: left;
}

.blog_page .blogperson_info .blogperson_img img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.blog_page .blogperson_info {
	display: inline-flex;
	width: 100%;
	align-items: center;
    margin: 20px 0px;
}
.blog_page .blogperson_det {
	font-size:1rem;
	color: #555b6d;
	display: inline-block;
	margin-left: 20px;
}
.blog_page .blogperson_det span {
	display: block;
	font-weight: 600;
}
.blog_page  .tab_content {
	max-width: 80%;
	margin-bottom: 60px;
	margin-top: 60px;
}
.sticky_tabheading{
	position: sticky;
	top:50px;
}
.blog_page  .tab_content .tab_heading {
	color: #555b6d;
	font:1.18rem 'MaisonNeue-Book';
	border-left: 5px solid #f3f3f5;
	padding: 0px 10px 10px 10px;
}

.blog_page .tab_content .tabs_link a {
	border-left: 5px solid #f3f3f5;
	padding: 10px;
	display: block;
	font:1.18rem 'MaisonNeue-Book';
	color: #555b6d;
}

.blog_page .tab_content .tabs_link a:hover,.blog_page .tab_content .tabs_link a.tabs_linkactive {
	border-left: 5px solid #00abc7;
	background: #b7e3eb;
	outline: none;
}
/*Blog Page End Here */
.header_stip {
	background: #0075a2;
	color: #fff;
	font-size: 15px;
	padding: 15px 30px;
	text-align: center;
	position: relative;
}
.header_stip .closeStip {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	font-size: 23px;
	color: #fff;
}
